{% extends "agent/layout.html" %}
{% block pageTitle %}
  {{ serviceName }}: DWP Agent – Find a claim
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['show'] == "invalid" %}
        <h1 class="govuk-heading-l">National Insurance number not valid</h1>
        <p class="govuk-body-l">The National Insurance number entered is not valid:
          <br>
            <span class="govuk-!-font-weight-bold">12 QQ 22 33 9</span>.</p>
          {{ govukButton({
        text: "Try again",
        href: "nino-search?show="
      }) }}
        {% elif data['show'] == "blank" %}
          <h1 class="govuk-heading-l">National Insurance number not valid</h1>
          <p class="govuk-body-l">The National Insurance number should not be empty.</p>
          {{ govukButton({
        text: "Try again",
        href: "nino-search?show="
      }) }}
        {% elif data['show'] == "claimant" %}
          <h1 class="govuk-heading-l">Claimant not found</h1>
          <p class="govuk-body-l">The system does not hold a record for the National insurance number:
            <strong>CC000049A</strong>
          </p>
          {{ govukButton({
        text: "Try again",
        href: "nino-search?show="
      }) }}
        {% else %}
          <h1 class="govuk-heading-l">Find a claim</h1>
          <form action="nino-search" method="post">
            {{ govukInput({
          errorMessage: errorMessage,
          label: {
            text: "Enter the claimant's National Insurance number"
          },
          hint: {
            text: "For example, ‘QQ 12 34 56 C’."
          },
          classes: "govuk-input--width-20",
          id: "nino",
          name: "nino",
          attributes: {
            "autocomplete": "off"
          }
        }) }}
            {{ govukButton({
          text: "Find claim"
        }) }}
          </form>
        {% endif %}
      </div>
      <!-- Prototype scenarios -->
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m govuk-!-margin-top-2">Prototype scenarios</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>Enter any value for happy scenario</li>
          <li>Leave the field blank for NiNo not found</li>
          <li>Enter
            <code>invalid</code>
            for NiNo not valid</li>
          <li>Enter
            <code>duplicates</code>
            for duplicate claim</li>
          <li>Enter
            <code>claimant</code>
            for claimant not found</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}