{% extends "layout/unbranded-agent.html" %}
{% block pageTitle %}
  {{ serviceName }}: Application for {{ data['service-short-name'] }} Customer Statement
{% endblock %}
{% block header %}
  {{ super() }}
  {{ dwpKeyDetailsBar({
    claimantName: "Ian Johnson",
    claimantNINO: "RN 00 00 35 A",
    claimStatus: "ID not verified",
    items: [
        {
            title: "DOB",
            value: "29/04/1972"
        },
        {
            title: "Postcode",
            value: "FY4 3HA"
        },
        {
            title: "Phone",
            value: "07880 123456"
        },
        {
            title: "Claim submitted",
            value: "31/08/21"
        }
    ],
    showToggle: showToggle,
    classes: "dwp-print-hide"
}) }}
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
  {% set matchTag %}
  {{ govukTag({
  text: "match",
  classes: "govuk-tag--grey"
}) }}
  {% endset %}
  {% set misMatchTag %}
  {{ govukTag({
  text: "mismatch",
  classes: "govuk-tag--red"
}) }}
  {% endset %}
  <div class="govuk-grid-row dwp-print-hide">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-display-none">BIO check claim</h1>
      <section class="dwp-claim-section dwp-print-no-break">
        <h2 class="govuk-heading-m govuk-visually-hidden">Fraud check</h2>
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            <span class="govuk-heading-s govuk-!-margin-bottom-0">Bank account name does not match claimant's name</span>
          </strong>
        </div>
      </section>
      <section class="dwp-claim-section dwp-print-no-break">
        <h2 class="govuk-heading-m">Searchlight check</h2>
        {{ dwpSummaryList({
      rows: [
        {
          key: {
            text: "National Insurance number"
          },
          value: {
            text: "RN 00 00 35 A"
          },
          actions: {
            items: [
              {
                classes: "govuk-tag--grey",
                text: "Match"
              }
            ]
          }
        }, {
          key: {
            text: "Name"
          },
          value: {
            text: "Mr Ian Johnson"
          },
          actions: {
            items: [
              {
                classes: "govuk-tag--grey",
                text: "Match"
              }
            ]
          }
        }, {
          key: {
            text: "Date of birth"
          },
          value: {
            text: "29/04/1972"
          },
          actions: {
            items: [
              {
                classes: "govuk-tag--grey",
                text: "Match"
              }
            ]
          }
        }, {
          key: {
            text: "Home address"
          },
          value: {
            html: "
              <span class='dwp-print-block'>12 Scaresdale Avenue</span>
              <span class='dwp-print-block'>Blackpool</span>
              <span class='dwp-print-block'>Lancashire</span>
              <span class='dwp-print-block'>FY4 3HA.</span>
            "
          },
          actions: {
            items: [
              {
                classes: "govuk-tag--grey",
                text: "Match"
              }
            ]
          }
        }
      ]
    }) }}
      </section>
      <!-- About you -->
      <section class="dwp-claim-section">
        <h2 class="govuk-heading-m govuk-!-margin-top-8">Contact details</h2>
        {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Phone"
        },
        value: {
          text: "07880 123456"
        }
      }, {
        key: {
          text: "Email address"
        },
        value: {
          text: "i.johnson@example.com"
        }
      }
    ]
  }) }}
      </section>
      <!-- Payment information -->
      <section class="dwp-claim-section dwp-print-no-break">
        <h2 class="govuk-heading-m govuk-!-margin-top-8">Bank details</h2>
        {{ dwpSummaryList({
    rows: [
      {
        key: {
          text: "Name of account holder"
        },
        value: {
          text: "I & RT Johnson"
        },
        actions: {
          items: [
            {
              classes: "govuk-tag--red",
              text: "Mismatch"
            }
          ]
        }
      }, {
        key: {
          text: "Sort code"
        },
        value: {
          text: "16 20 16"
        }
      }, {
        key: {
          text: "Account number"
        },
        value: {
          text: "11709856"
        }
      }
    ]
  }) }}
      </section>
      <!-- Benefit information -->
      <section class="dwp-claim-section dwp-print-no-break">
        <h2 class="govuk-heading-m govuk-!-margin-top-8">Benefit interest</h2>
        {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Universal Credit"
        },
        value: {
          text: "No"
        }
      }, {
        key: {
          text: "Employment & Support Allowance"
        },
        value: {
          text: "No"
        }
      }
    ]
  }) }}
      </section>
    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h3 class="govuk-heading-m">Claim actions</h3>
        {{ govukButton({
              text: "Update claim status",
              href: "update-claim-status"
            }) }}
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          <h3 class="govuk-heading-m">Claim history</h3>
          {{ dwpTimeline({
            items: [
              {
                heading: "ID not verified",
                label: "label",
                author: "by DWP Trust Hub",
                date: "on 29 June 2021",
                time: "at 4:43pm"
              },
              {
                heading: "Application submitted",
                date: "by claimant on 29 June 2021",
                time: "at 4:32pm",
                classes: "dwp-timeline-entry--closing"
              }
            ]
          }) }}
        </aside>
      </div>
    </div>
  {% endblock %}