{% extends "layout/base-no-search-bar.html" %}

{% block pageTitle %}
  {{ serviceName }}: DWP Agent – Duplicates
{% endblock %}

{% block content %}
  <div class="govuk-grid-row govuk-!-margin-top-9">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Search results for CC000002A</h1>

      <p>
        Duplicate applications have been submitted against the entered National Insurance number.
      </p>

      {#
        WHEN VIEWING APPLICATION DETAILS THE CONTENT DOESN'T PULL THROUGH FROM THE RESULTS
        PAGE INITIALLY DISPLAYED... NEED TO INVESTAGE THIS ASPECT SO AS IT'S MORE DYNAMIC IN ITS
        FUNCTIONALITY AND THEREFORE MORE REALISITIC IN-TERMS OF A USER JORUNEY TOO
      #}

      {# MOST RECENT APPLICATION SUBMITTED #}
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-heading-m">Most recent application submitted</caption>
        <thead class="govuk-table__head">
          {# Header #}
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">Time</th>
            <th scope="col" class="govuk-table__header" style="text-align:right; padding-right: 0;">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {# Row number 1 #}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" style="width: 40%">Miss Lydia Fletcher</td>
            <td class="govuk-table__cell">27/03/2020</td>
            <td class="govuk-table__cell">13:47:52</td>
            <td class="govuk-table__cell" style="text-align:right; padding-right: 0;">
              <a class="govuk-link" href="/contact-centre/duplicate-claims/claim-most-recent.html">
                View<span class="govuk-visually-hidden">view application details</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      {# OLDEST APPLICATION SUBMITTED #}
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-heading-m">Oldest application submitted</caption>
        <thead class="govuk-table__head">
          {# Header #}
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">Time</th>
            <th scope="col" class="govuk-table__header" style="text-align:right; padding-right: 0;">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {# Row number 1 #}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" style="width: 40%">Mr Brandon Sims</td>
            <td class="govuk-table__cell">26/03/2020</td>
            <td class="govuk-table__cell">09:09:02</td>
            <td class="govuk-table__cell" style="text-align:right; padding-right: 0;">
              <a class="govuk-link" href="/contact-centre/duplicate-claims/claim-oldest.html">
                View<span class="govuk-visually-hidden">view application details</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      {# FURTHER APPLICATIONS SUBMITTED #}
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-heading-m">Further applications submitted</caption>
        <thead class="govuk-table__head">
          {# Header #}
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</th>
            <th scope="col" class="govuk-table__header">Date</th>
            <th scope="col" class="govuk-table__header">Time</th>
            <th scope="col" class="govuk-table__header" style="text-align:right; padding-right: 0;">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {# Row number 1 #}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" style="width: 40%">Mr Peter Burgess</td>
            <td class="govuk-table__cell">27/03/2020</td>
            <td class="govuk-table__cell">13:41:51</td>
            <td class="govuk-table__cell" style="text-align:right; padding-right: 0;">
              <a class="govuk-link" href="/contact-centre/duplicate-claims/claim-further-1.html">
                View<span class="govuk-visually-hidden">view application details</span>
              </a>
            </td>
          </tr>
          {# Row number 2 #}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" style="width: 40%">Miss Amy Burke</td>
            <td class="govuk-table__cell">26/03/2020</td>
            <td class="govuk-table__cell">13:41:42</td>
            <td class="govuk-table__cell" style="text-align:right; padding-right: 0;">
              <a class="govuk-link" href="/contact-centre/duplicate-claims/claim-further-2.html">
                View<span class="govuk-visually-hidden">view application details</span>
              </a>
            </td>
          </tr>
          {# Row number 3 #}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" style="width: 40%">Mr Ryan Warner</td>
            <td class="govuk-table__cell">26/03/2020</td>
            <td class="govuk-table__cell">09:13:20</td>
            <td class="govuk-table__cell" style="text-align:right; padding-right: 0;">
              <a class="govuk-link" href="/contact-centre/duplicate-claims/claim-further-3.html">
                View<span class="govuk-visually-hidden">view application details</span>
              </a>
            </td>
          </tr>
          {# Row number 41 #}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" style="width: 40%">Miss Jessica Herbert</td>
            <td class="govuk-table__cell">26/03/2020</td>
            <td class="govuk-table__cell">09:12:57</td>
            <td class="govuk-table__cell" style="text-align:right; padding-right: 0;">
              <a class="govuk-link" href="/contact-centre/duplicate-claims/claim-further-4.html">
                View<span class="govuk-visually-hidden">view application details</span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      {# Back to find claim link #}
      <a href="/common/nino-search" class="govuk-link">Back to 'Find a claim'</a>

    </div>
  </div>

{% endblock %}
