{% extends "layout/base-no-search-bar.html" %}

{% block pageTitle %}
Select an agent –
{{ serviceName }} | Updated
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Claim cleared
        </h1>
        <div class="govuk-panel__body">
          Claim reference:<br><strong>Mr Marvin Gordon QQ 12 34 56 D</strong>
        </div>
      </div>


      <p><a href="#" class="govuk-link">Get next claim</a></p>



    </div>
    </div>
  </div>
</div>

{% endblock %}