
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NSJSA Automation Prototypes
{% endblock %}

{% block content %}

{% set proTag %}
    {{govukTag({
        text: "Process",
        classes: "govuk-tag--purple"
    })}}
{% endset %}

{% set idTemplateTag %}
    {{govukTag({
        text: "ID template",
        classes: "govuk-tag--orange"
    })}}
{% endset %}

{% set idCheckTag %}
    {{govukTag({
        text: "ID check",
        classes: "govuk-tag--turquoise"
    })}}
{% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <h1 class="govuk-heading-l">
        Increment 5
        <span class="govuk-caption-l">{{ data['i5Name'] }}</span>
      </h1>

      <p>Increment 5 introduces 1 new bucket of claims, {{ idCheckTag | safe }}</p>

      <p><a href="../understanding-exceptions">Understanding exceptions to automation</a>.</p>

{# {{ data | dump('\t') }} #}
      
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    </div>
  </div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m">Agent manual tasks</h2>

  {{ govukTable({
        caption: "Automation exceptions",
        captionClasses: "govuk-table__caption--s",
        firstCellIsHeader: true,
        head: [
            {
                text: "ID"
            },
            {
                text: "Scenario"
            },
            {
                html: "I4 bucket"
            },
            {
                html:  "I5 bucket"
            }
        ],
        rows: [
          [
            {
                text: "s7"
            },
            {
                html: "<a href='start?s=s7'>A claim where data does not match CIS</a>"
            },
            {
                html: proTag
            },
            {
                html: "&rarr; " + idCheckTag
            }
          ],
            [
                {
                    text: "s8"
                },
                {
                    html: "<a href='start?s=s8'>A claim where single application fraud rules are matched</a>"
                },
                {
                    html: proTag
                },
                {
                    html: "&rarr; " + idCheckTag
                }
            ],
            [
                {
                    text: "s9"
                },
                {
                    html: "<a href='start?s=s9'>A claim where multiple application fraud rules are matched</a>"
                },
                {
                    html: proTag
                },
                {
                    html: "&rarr; " + proTag
                }
            ],
            [
                {
                    text: "s10"
                },
                {
                    html: "<a href='start?s=s10'>A claim with ID at risk flag</a>"
                },
                {
                    html: proTag
                },
                {
                    html: "&rarr; " + idCheckTag
                }
            ]
        ]
      }) }}


    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

      <p>You can <a href="nino-search">find a claim</a> by its scenario number, for example: s3.</p>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-m">Management information</h2>
      <p>Considered options for this increment.</p>
      <ul class="govuk-list govuk-list--number">
        <li><a href="mi">Dashboard view</a></li>
        <li><a href="mi/choose-task">Tile view</a></li>
      </ul>
    </div>
  </div>

{% endblock %}
