
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance  
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Do you live in England, Wales or Scotland?
      </h1>
  
      <form action="residence" method="post">
        
        {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: 'residence',
            name: 'eligibilityResidence',
            items: [
                {
                    value: "eligibility-residence-yes",
                    text: "Yes"
                },
                {
                    value: "eligibility-residence-no",
                    text: "No"
                }
            ]
          })
        }}

        {{ govukButton({
            text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
