{% extends "layout/summary.html" %}

{% block pageTitle %}
  {{ serviceName }}: Print claim details
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row  dwp-print-hide">
  <div class="govuk-grid-column-two-thirds">

  <form action="print-option-5" method="post">
    {{ govukRadios({
      idPrefix: "success",
      name: "success",
      fieldset: {
        legend: {
          text: "Was the print successful?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        },
        classes: "govuk-!-margin-top-6"
      },
      items: [
        {
          value: "yes",
          text: "Yes – return to service centre list"
        },
        {
          value: "no",
          text: "No – print again"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
    </form>
  </div>
</div>

<div class="dwp-print-show">
  {% include "includes/print-header.html" %}
  {% include "includes/gather.html" %}
  {% include "includes/declaration.html" %}
</div>

<script>javascript:window.print();</script>
{% endblock %}
