{% extends "layout/summary.html" %}

{% block pageTitle %}
  {{ serviceName }}: Print claim details
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row  dwp-print-hide">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-top-8">Print claim details</h1>
    {{ govukButton({
      text: "Return to service centre list",
      href: "list"
    }) }}
    <h2 class="govuk-heading-m">What happens next?</h2>
    <p>Once you have printed the claim you can return to the service centre list or you can <a href="print-option-1?print=bc">print again</a> if you need to.</p>
  </div>
</div>

<div class="dwp-print-show">
  {% include "includes/print-header.html" %}
  {% include "includes/gather.html" %}
  {% include "includes/declaration.html" %}
</div>

<script>javascript:window.print();</script>
{% endblock %}
