{% extends "layouts/main.html" %}
{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Register</h1>
      <p>Register so you can securely sign in whenever you use this service.</p>
      <h2 class="govuk-heading-m">Before you start</h2>
      <p>You will need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>an email address</li>
        <li>a mobile phone</li>
      </ul>
      <p>You will also need information from 2 sources so we can check we are dealing with the right person. These are:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>a UK passport</li>
        <li>payslips or P60</li>
        <li>information about tax credits, if you claim them</li>
        <li>details of your credit record</li>
      </ul>
      <h2 class="govuk-heading-m">What happens next</h2>
      <p>Your information will be checked against our records. This also helps protect you from fraud.</p>
      <p>We will send security codes to your email and mobile phone to check that they belong to you.</p>
      <p>Whenever you sign in we will send a new security code to your mobile phone.</p>
      <p>You will also need to create a password.</p>
      <a href="email-address" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
        Continue
      </a>
    </div>
  </div>
{% endblock %}