{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{#
  Backdating page flow:

    index [Do you want your claim to start today?]

    Answer "NO":
      change-date [When do you want your claim to start?]
      why-have-you-not-claimed [Tell us why you did not claim NSJSA before today]
      any-paid-work [Have you been in paid or voluntary work since <date>?]
      unable-to-work [Have you been ill and unable to work since <date>?]
      been-on-holiday [Have you been on holiday since <date>?]
      full-time-education [Have you been in full-time education since <date>?]
      asked-for-advice [Have you asked for advice about claiming NSJSA since <date>?]

    {Rejoin flow as per answering "YES"}

    Answer "YES":
      nino [What is your National Insurance number?]
#}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Application start date</span>
        Do you want your application to start today?
      </h1>

      <p class="govuk-body">
        You can choose an earlier date if you think you could have applied sooner. You will need to tell us why you did not apply before today.
      </p>

      {{ govukInsetText({
        text: "We can only consider an earlier date if you were unable to apply sooner. For example, you were told you would not get New Style Jobseeker's Allowance or you had a family emergency."
      }) }}

      <form action="start-date" method="post">

        {% call govukFieldset({}) %}

        {{ govukWarningText({
          text: "You cannot change the start date later in the application.",
          iconFallbackText: "Warning"
        }) }}

        {{ govukRadios({
          classes: "govuk-radios",
          idPrefix: "change-claim-start",
          name: "claimstart",
          fieldset: {
            legend: {

              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              html: "Yes, I want my application to start from today <strong>8 June 2021</strong>"
            },
            {
              value: "no~/v1_4-citizen/2-claim-start/change-date",
              html: "No, I want my application to start from an earlier date"
            }
          ]
        }) }}
        {% endcall %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}