

{% set r = [0, 1, 2] | random %}
{% set list = [
  "Claimant doesn't match CIS record",
  "The person to whom the account relates is potentially violent"] 
%}

{% set randomList = list | randomise(r) %}

{% if randomList.length >= 1 %}
  <section class="dwp-print-hide">
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        {% if randomList.length > 1 %}
          <span class="govuk-heading-m govuk-!-margin-bottom-0">CIS markers</span>
        {% else %}
          <span class="govuk-heading-s govuk-!-margin-bottom-0">{{ randomList[0] }}</span>
        {% endif %}
      </strong>
    </div>

    {% if randomList.length > 1 %}
      <ul class="govuk-list govuk-list--bullet">  
        {% for item in randomList %}
          <li>{{ item }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </section>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">
{% endif %}