{% set primaryHtml %}
  {{ govukInput({
    id: "primary-id",
    name: "primary-id",
    type: "text",
    label: {
      text: "Provide detail of what was seen"
    }
  }) }}
{% endset -%}

{% set secondaryHtml %}
  {{ govukInput({
    id: "secondary-id",
    name: "secondary-id",
    type: "text",
    label: {
      text: "Provide detail of what was seen"
    }
  }) }}
{% endset -%}

{{ govukCheckboxes({
  idPrefix: "evidence-check",
  name: "evidence-check",
  fieldset: {
    legend: {
    text: "Which evidence have you checked?",
    isPageHeading: false,
    classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "Select all that apply"
  },
  items: [{
    value: "primary",
    text: "One 'primary' identity document",
    conditional: {
        html: primaryHtml
    }
  }, {
    value: "secondary",
    text: "Two 'secondary' identity documents",
    conditional: {
        html: secondaryHtml
    }
  }, {
    value: "p45",
    text: "A P45 from previous employer"
  }, {
    value: "jury service",
    text: "A letter from the court to prove when their jury service ended"
  }, {
    value: "weekly-jobs",
    text: "5 payslips relating to their weekly or fortnightly paid job(s)"
  }, {
    value: "previous-employer",
    text: "Wage slips and/or supporting letter to confirm their payments from their previous employer(s)"
  }, {
    value: "proof-pension",
    text: "Proof of any pension",
    hint: {
      text: "for example a pay statement showing details of their pension"
    }
  }]
}) }}