{# LEFT HANDSIDE - CHECK CLAIM DETAILS #}

{#
        Attempted to address this huge piece of code with an "include".
        It worked when running locally, but once on Heroku all of the style for the rows
        disappeared. The headings were fine bizarrely. And as such, we've gone back to
        inserting it manually within both get-next-claim.html and allocated-claim.html
        #}

{% set currentlyworking = false %}
{% set jservice = false %}
{% set resultjservice = "no" %}
{% set startDateItems = todaysDate.original | moment %}

{% if data['claimstart'] != null %}
    {% set startDateItems = data['claimStartDay'] + "/" + data['claimStartMonth'] + "/" + data['claimStartYear'] %}
{% endif %}

{# CLAIM DETAIL HEADING #}

<div class="govuk-warning-text govuk-!-margin-bottom-2">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    Claimant has requested alternative formats
  </strong>
</div>
