{% extends "agent/layout.html" %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% set claimStatus = data['claimStatus'] | replace("-", " ") | capitalize %}

{% block header %}
  
  {{ super() }}

{{ dwpKeyDetailsBar({
    claimantName: "Ian Johnson",
    claimantNINO: "RN 00 00 35 C",
    claimStatus: claimStatus,
    items: [
        {
            title: "DOB",
            value: "29/04/1972"
        },
        {
            title: "Postcode",
            value: "FY4 3HA"
        },
        {
            title: "Phone",
            value: "07880 123456"
        },
        {
            title: "Claim submitted",
            value: "31/08/21"
        }
    ],
    showToggle: showToggle,
    classes: "dwp-print-hide"
}) }}

{% endblock %}

{% block content %}

{% set matchTag %}
{{ govukTag({
  text: "match",
  classes: "govuk-tag--grey"
}) }}
{% endset %}

{% set misMatchTag %}
{{ govukTag({
  text: "mismatch",
  classes: "govuk-tag--red"
}) }}
{% endset %}

<div class="govuk-grid-row dwp-print-hide">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-l govuk-!-display-none">BIO check claim</h1>

  <section class="dwp-claim-section dwp-print-no-break">
    <h2 class="govuk-heading-m govuk-visually-hidden">Fraud check</h2>
    <div class="govuk-warning-text govuk-!-margin-bottom-2">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        <span class="govuk-heading-m govuk-!-margin-bottom-0">CIS markers</span>
      </strong>
    </div>
    <ul class="govuk-list govuk-list--bullet">
      {# <li>Claimant doesn't match CIS record</li> #}
      <li>Claimant has appointee</li>
      <li>Claimant is potentially violent</li>
    </ul>
  </section>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <section class="dwp-claim-section dwp-print-no-break">
    <h2 class="govuk-heading-m">Personal details</h2>
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Contact number"
          },
          value: {
            text: "01234 567 890"
          }
        }, {
          key: {
            text: "Home address"
          },
          value: {
            html: "
              <span class='dwp-print-block'>12 Scaresdale Avenue</span><br>
              <span class='dwp-print-block'>Blackpool</span><br>
              <span class='dwp-print-block'>Lancashire</span><br>
              <span class='dwp-print-block'>FY4 3HA.</span>
            "
          }
        }, {
          key: {
            text: "Postal address"
          },
          value: {
            text: "Not provided"
          }
        }
      ]
    }) }}
  </section>

<section class="dwp-claim-section">
  <h2 class="govuk-heading-m govuk-!-margin-top-8">Local office</h2>
  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Telephone"
        },
        value: {
          html: "
              0800 169 0190<br>
              Welsh language 0345 604 4248
            "
        }
      }, {
        key: {
          text: "Name"
        },
        value: {
          text: "Blackpool Jobcentre"
        }
      }, {
          key: {
            text: "Address"
          },
          value: {
            html: "
              <span class='dwp-print-block'>1 Pike Road</span><br>
              <span class='dwp-print-block'>Blackpool</span><br>
              <span class='dwp-print-block'>Lancashire</span><br>
              <span class='dwp-print-block'>FY3 4FF.</span>
            "
          }
        }
    ]
  }) }}
</section>
  

  </div>

  <div class="govuk-grid-column-one-third">
    
    <aside class="app-related-items" role="complementary">

            <h3 class="govuk-heading-m">Claim actions</h3>
            {{ govukButton({
              text: "Update claim status",
              href: "update-claim-status"
            }) }}
            
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

            <h3 class="govuk-heading-m">Claim history</h3>

          {{ dwpTimeline({
            items: [
              {
                heading: "Entitled",
                label: "label",
                author: "by Tina Montrose",
                date: "on 30 June 2021",
                time: "at 2:48pm"
              },
              {
                heading: "ID verified",
                label: "label",
                author: "by Simon Jones",
                date: "on 30 June 2021",
                time: "at 10:13am"
              },
              {
                heading: "ID not verified",
                label: "label",
                author: "by DWP Trust Hub",
                date: "on 29 June 2021",
                time: "at 4:43pm"
              },
              {
                heading: "Application submitted",
                date: "by claimant on 29 June 2021",
                time: "at 4:32pm",
                classes: "dwp-timeline-entry--closing"
              }
            ]
          }) }}

    </aside>

  </div>

</div>


{% endblock %}
