{% extends "layout/summary.html" %}

{% block pageTitle %}
  {{ serviceName }}: Application for {{ data['service-short-name']}} Interview checklist | {{ currentClaimantData.claimant.title }} {{ currentClaimantData.claimant.firstName }} {{ currentClaimantData.claimant.lastName }}: {{ currentClaimantData.claimant.nino }}
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  {{ dwpSecondaryNavigation({
    items: [{
      label: "Interview checklist",
      url: "/work-coach/6/interview-checklist",
      active: true
    }, {
      label: "Customer statement",
      url: "/work-coach/6/customer-statement"
    }, {
      label: "Push claim",
      url: "/work-coach/6/push?status=notPushed"
    }]
  }) }}

<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Initial work search interview checklist</h1>
    {% include "includes/cis-flags.html" %}
    {% include "includes/evidence-checkboxes.html" %}
    {% include "includes/details-id.html" %} 
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    {% include "includes/forms-checkboxes.html" %}
    {{ govukButton({
      text: "Print interview checklist",
      href: "javascript:window.print();"
    }) }}
  </div>
</div>

{% endblock %}
