{% extends "layout/summary.html" %}

{% block pageTitle %}
  {{ serviceName }}: Application for {{ data['service-short-name']}} Customer Statement | {{ currentClaimantData.claimant.title }} {{ currentClaimantData.claimant.firstName }} {{ currentClaimantData.claimant.lastName }}: {{ currentClaimantData.claimant.nino }}
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Initial work search interview</h1>
    {% include "includes/markers/esa.html" %}

    {% set evidenceTabHtml %}
      {% include "includes/evidence-section.html" %}
      {% include "includes/details-id.html" %}  
    {% endset -%}

    {% set formsTabHtml %}
      {% include "includes/forms-section.html" %}
    {% endset -%}

    {{ govukTabs({
      items: [
        {
          label: "Evidence",
          id: "evidence",
          panel: {
            html: evidenceTabHtml
          }
        },
        {
          label: "Forms",
          id: "forms",
          panel: {
            html: formsTabHtml
          }
        }
      ]
    }) }}

  </div>
  <div class="govuk-grid-column-one-third dwp-print-hide govuk-align-right-from-desktop">
    <a href="javascript:window.print();" class="govuk-button">Print cover sheet</a><br>
    <a href="auto-statement">Print statement</a>
  </div>
</div>

{% endblock %}
