{% extends "layout/summary.html" %}

{% block pageTitle %}
{{ serviceName }}: DWP Agent – Push application
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    
      <h1 class="govuk-heading-l govuk-!-margin-top-6">Have you checked the claimants identification and evidence?</h1>
      <p>You should only push the application once the initial work search interview has taken place and all relevant 
      identification and evidence has been checked.</p>
      {{ govukButton({
        text: "Yes, push application",
        href: "success"
      }) }}
      <p><a href="/work-coach/4/1">No, cancel</a></p>

    </div>
  </div>
{% endblock %}
