{% extends "layouts/main.html" %}
{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        How many hours a week do you normally work?
      </h1>
      <form action="working-over" method="post">
        {{ govukRadios({
            classes: "govuk-radios",
            idPrefix: 'working-over-form',
            name: 'eligibilityWorkingOver',
            items: [
                {
                    value: "eligibility-working-over-yes",
                    text: "16 hours or more"
                },
                {
                    value: "eligibility-working-over-no",
                    text: "Less than 16 hours"
                }
            ]
          }) }}
        {{ govukButton({
            text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}