<form role="search" method="post" action="nino-search" class="search-box {{ params.classes if params.classes }}" aria-label="{{ params.ariaLabel or 'Search' }}" id="search" title="Search">
  <div class="search-box__contents">
    <div class="search-box__table-cell">
      <label for="query" class="govuk-visually-hidden">{{ params.label or 'Search' }}</label>
      <input type="text" name="nino" id="nino" class="search-box__input" placeholder="{{ params.placeholder or 'Search' }}" value="{{ params.value or '' }}" aria-label="{{ params.ariaLabel or 'Search' }}" autocomplete="off">
    </div>
    <div class="search-box__table-cell search-box__table-cell--button">
      <button data-uipath="search.button" class="search-box__button" aria-label="Search">
        <img src="/public/images/icon-search.png" alt="Magnifying glass" />
      </button>
    </div>
  </div>
</form>
