{% extends "layout/summary-no-search-bar.html" %}

{% block pageTitle %}
Outbound journey - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-!-margin-top-8">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
              Claimant has requested alternative formats.<br>
              Claimant doesn't match CIS record.
            </p>
          </div>
        </div>

        <!-- {% include "../../../../includes/flags.html" %} -->

        <section class="govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-m">Personal details</h2>
          <dl role="list" class="app-check-your-answers app-check-your-answers--long">
            {{ checkAnswersItem("Contact number", currentClaimantData.claimant.telephone) }}
            {{ checkAnswersItem("Home address", currentClaimantData.claimant.address.line1 + "<br>" + currentClaimantData.claimant.address.line2 + "<br>" + currentClaimantData.claimant.address.postcode) }}
            {{ checkAnswersItem("Not available on these days", 'Not applicable') }}
          </dl>
        </section>

        <table class="govuk-table govuk-!-margin-top-9 govuk-!-margin-bottom-9">
          <caption class="govuk-table__caption govuk-heading-m">Alternative formats</caption>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-half">Do you need us to contact you in an alternative format?</th>
                    <td class="govuk-table__cell govuk-!-width-one-half">
                        Yes
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-half">What do you need in an alternative format?</th>
                    <td class="govuk-table__cell govuk-!-width-one-half">Letter and phone</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-half">What do you need instead of standard letters?</th>
                    <td class="govuk-table__cell govuk-!-width-one-half">Coloured paper and large print</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-half">What colour paper do you need?</th>
                    <td class="govuk-table__cell govuk-!-width-one-half">Pastel blue</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-half">What size font do you need?</th>
                    <td class="govuk-table__cell govuk-!-width-one-half">18</td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header govuk-!-width-one-half">What do you need instead of phone calls?</th>
                    <td class="govuk-table__cell govuk-!-width-one-half">Email, john.doe@example.com</td>
                </tr>
            </tbody>
        </table>

        <section>
          <h2 class="govuk-heading-m">Local office</h2>
          {% if data['show'] === 'cis' %}
          <p><strong>Local office look up is currently unavailable. You will need to search for the local office manually.</strong></p>
          {% else %}
          <dl role="list" class="app-check-your-answers app-check-your-answers--long">
            {{ checkAnswersItem("Telephone", "0800 169 0190<br> Welsh language 0800 169 0207") }}
            {{ checkAnswersItem("Name", "St Marylebone Jobcentre") }}
            {{ checkAnswersItem("Address", "26 - 46 Lisson Grove<br>London<br>United Kingdom<br>NW1 6TZ") }}
          </dl>
          {% endif %}
        </section>

      </div>
      <div class="govuk-grid-column-one-third">

        <aside class="app-related-items govuk-!-margin-top-0" role="complementary">
          <h3 class="govuk-heading-m" id="claim-actions-title">Claim actions</h3>
          <nav role="navigation" aria-labelledby="claim-actions-title">
            <a href="/features/alt-formats/contact-centre/outbound-journey/check-answers">Update claim information</a>
          </nav>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          {% set items = [] %}
          {% for claimStatus in selectedClaimStatuses %}
          {% if claimStatus.label == "Success" or claimStatus.label == "Final fail" or claimStatus.label == "Cancelled" %}
          {% endif %}

          {% set items = items | push({
            heading: claimStatus.label,
            subheading: claimStatus.reason or '',
            author: loggedInAgent.firstName + " " + loggedInAgent.lastName,
            date: claimStatus.date | momentFormat1
          }) %}
          {% endfor %}

          <h3 class="govuk-heading-m" id="subsection-title">Claim status history</h3>

          {% if not(claimClosed) %}
          {{ govukButton({
            text: "Update claim status",
            href: "/features/alt-formats/contact-centre/outbound-journey/update-status",
            classes: "govuk-!-margin-bottom-0"
          }) }}
          {% endif %}

          {{ dwpTimeline({
            items: items
          }) }}
        </aside>

      </div>
    </div>
  </div>
{% endblock %}
