{% extends "layout/base-no-search-bar.html" %}

{% block pageTitle %}
There are no more claims to process
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-top-9">There are no more claims to process</h1>
      <p>All claims have been processed and are marked as up to date.</p>
      <h2 class="govuk-heading-m">What happens next?</h2>
      <p><a href="../">Return to the start screen</a></p>
    </div>
  </div>
</div>
{% endblock %}
