<table class="govuk-table govuk-!-font-size-19">
    <caption class="govuk-table__caption govuk-table__caption--m">Claims paused by 00000001</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="white-space: nowrap">Deadline</th>
            <th scope="col" class="govuk-table__header" style="white-space: nowrap">Claim submitted</th>
            <th scope="col" class="govuk-table__header" style="white-space: nowrap">NI number</th>
            <th scope="col" class="govuk-table__header" style="white-space: nowrap">Pause reason</th>
            <th scope="col" class="govuk-table__header" style="white-space: nowrap">Action</th>
        </tr>
    </thead>
    <tbody
        class="govuk-table__body">
        <!-- SCENARIO 3 - dynamic row - Sue Pearson paused for Self-employment-->
        {% if data['claimStatus'] == 'paused' %}
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <span style="white-space: nowrap">9 May 2024</span>
                </td>
                <td class="govuk-table__cell">
                    <span style="white-space: nowrap">25 Apr 2024</span>
                </td>
                <td class="govuk-table__cell">
                    <span style="white-space: nowrap">QF 74 42 21 A</span>
                </td>
                <td class="govuk-table__cell">
                    {{ data['pauseReason'] }}
                </td>
                <td class="govuk-table__cell">
                    <a class="govuk-link" href="view-claim?claimant=sp&claimStatus=paused">
                        View</a>
                </td>
            </tr>
            {% else %}
        {% endif %}
        <!-- END SCENARIO 3 - Sue Pearson dynamic row -->
        <!-- SCENARIO 3 - Ian Johnson paused for MBR-->
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                <span style="white-space: nowrap">9 May 2024</span>
            </td>
            <td class="govuk-table__cell">
                <span style="white-space: nowrap">30 Apr 2024</span>
            </td>
            <td class="govuk-table__cell">
                <span style="white-space: nowrap">RN 00 00 35 C</span>
            </td>
            <td class="govuk-table__cell">
                Main benefit reply (MBR)
            </td>
            <td class="govuk-table__cell">
                <a class="govuk-link" href="view-claim?&claimant=ij&claimStatus=paused&pauseReason=Main%20benefit%20reply%20(MBR)">
                    View</a>
            </td>
        </tr>
        <!-- END SCENARIO 3 - Ian Johnson dynamic row -->
        <!-- SCENARIO 3 - Karan Bophal paused for TTC-->
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                <span style="white-space: nowrap">9 May 2024</span>
            </td>
            <td class="govuk-table__cell">
                <span style="white-space: nowrap">3 May 2024</span>
            </td>
            <td class="govuk-table__cell">
                <span style="white-space: nowrap">SW 12 34 56 A</span>
            </td>
            <td class="govuk-table__cell">
                Transferred to clerical
            </td>
            <td class="govuk-table__cell">
                <a class="govuk-link" href="view-claim?&claimant=kb&claimStatus=paused&pauseReason=Transferred%20to%20clerical">View</a>
            </td>
        </tr>
        <!-- END SCENARIO 3 - Karan Bophal paused for TTC-->
        <!-- SCENARIO 3 - Simon Hamilton paused for KBV-->
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                <span style="white-space: nowrap">9 May 2024</span>
            </td>
            <td class="govuk-table__cell">
                <span style="white-space: nowrap">5 May 2024</span>
            </td>
            <td class="govuk-table__cell">
                <span style="white-space: nowrap">
                    QQ 12 34 56 X</span>
            </td>
            <td class="govuk-table__cell">
                Identity check (KBV)
            </td>
            <td class="govuk-table__cell">
                <a class="govuk-link" href="view-claim?&claimant=sh&claimStatus=paused&pauseReason=Identity%20check%20(KBV)">View</a>
            </td>
        </tr>
        <!-- END SCENARIO 3 - Simon Hamilton paused for KBV-->
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">
                <span style="white-space: nowrap">10 May 2024</span>
            </td>
            <td class="govuk-table__cell">
                <span style="white-space: nowrap">30 Apr 2024</span>
            </td>
            <td class="govuk-table__cell">
                <span style="white-space: nowrap">UV 44 44 98 D</span>
            </td>
            <td class="govuk-table__cell">
                Identity check (KBV)
                <br>Other
                </td>
                <td class="govuk-table__cell">
                    <a class="govuk-link" href="#">View</a>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <span style="white-space: nowrap">10 May 2024</span>
                </td>
                <td class="govuk-table__cell">
                    <span style="white-space: nowrap">30 Apr 2024</span>
                </td>
                <td class="govuk-table__cell">
                    <span style="white-space: nowrap">VF 13 63 34 C</span>
                </td>
                <td class="govuk-table__cell">
                    Other
                </td>
                <td class="govuk-table__cell">
                    <a class="govuk-link" href="#">View</a>
                </td>
            </tr>
            <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                    <span style="white-space: nowrap">10 May 2024</span>
                </td>
                <td class="govuk-table__cell">
                    <span style="white-space: nowrap">1 May 2024</span>
                </td>
                <td class="govuk-table__cell">
                    <span style="white-space: nowrap">DF 13 23 44 B</span>
                </td>
                <td class="govuk-table__cell">
                    Identity check (KBV)
                    <br>International group
                    </td>
                    <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <span style="white-space: nowrap">10 May 2024</span>
                    </td>
                    <td class="govuk-table__cell">
                        <span style="white-space: nowrap">4 May 2024</span>
                    </td>
                    <td class="govuk-table__cell">
                        <span style="white-space: nowrap">UI 25 82 07 D</span>
                    </td>
                    <td class="govuk-table__cell">
                        Identity check (KBV)
                        <br>NSESA team
                        </td>
                        <td class="govuk-table__cell">
                            <a class="govuk-link" href="#">View</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">11 May 2024</span>
                        </td>
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">3 May 2024</span>
                        </td>
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">UV 25 54 48 A</span>
                        </td>
                        <td class="govuk-table__cell">
                            Transferred to clerical
                        </td>
                        <td class="govuk-table__cell">
                            <a class="govuk-link" href="#">View</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">11 May 2024</span>
                        </td>
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">4 May 2024</span>
                        </td>
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">ID 54 32 07 C</span>
                        </td>
                        <td class="govuk-table__cell">
                            Identity check (KBV)
                        </td>
                        <td class="govuk-table__cell">
                            <a class="govuk-link" href="#">View</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">11 May 2024</span>
                        </td>
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">5 May 2024</span>
                        </td>
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">KN 77 32 02 U</span>
                        </td>
                        <td class="govuk-table__cell">
                            CIS update
                        </td>
                        <td class="govuk-table__cell">
                            <a class="govuk-link" href="#">View</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">12 May 2024</span>
                        </td>
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">15 Apr 2024</span>
                        </td>
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">RN 25 82 07 D</span>
                        </td>
                        <td class="govuk-table__cell">
                            International Group
                        </td>
                        <td class="govuk-table__cell">
                            <a class="govuk-link" href="#">View</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">12 May 2024</span>
                        </td>
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">29 Apr 2024</span>
                        </td>
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">FQ 12 34 56 A</span>
                        </td>
                        <td class="govuk-table__cell">
                            Identity check (KBV)
                        </td>
                        <td class="govuk-table__cell">
                            <a class="govuk-link" href="#">View</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">12 May 2024</span>
                        </td>
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">29 Apr 2024</span>
                        </td>
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">DF 13 23 44 B</span>
                        </td>
                        <td class="govuk-table__cell">
                            Sent to decision-maker
                        </td>
                        <td class="govuk-table__cell">
                            <a class="govuk-link" href="#">View</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">13 May 2024</span>
                        </td>
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">1 May 2024</span>
                        </td>
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">TN 25 14 48 C</span>
                        </td>
                        <td class="govuk-table__cell">
                            Transferred to clerical
                        </td>
                        <td class="govuk-table__cell">
                            <a class="govuk-link" href="#">View</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">13 May 2024</span>
                        </td>
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">1 May 2024</span>
                        </td>
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">KN 77 32 02 U</span>
                        </td>
                        <td class="govuk-table__cell">
                            CIS update
                        </td>
                        <td class="govuk-table__cell">
                            <a class="govuk-link" href="#">View</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">13 May 2024</span>
                        </td>
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">2 May 2024</span>
                        </td>
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">TN 25 14 48 C</span>
                        </td>
                        <td class="govuk-table__cell">
                            Transferred to clerical
                        </td>
                        <td class="govuk-table__cell">
                            <a class="govuk-link" href="#">View</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">13 May 2024</span>
                        </td>
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">5 May 2024</span>
                        </td>
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">YY 86 69 80 B</span>
                        </td>
                        <td class="govuk-table__cell">
                            Identity check (KBV)
                        </td>
                        <td class="govuk-table__cell">
                            <a class="govuk-link" href="#">View</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">14 May 2024</span>
                        </td>
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">10 Apr 2024</span>
                        </td>
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">FQ 12 34 56 A</span>
                        </td>
                        <td class="govuk-table__cell">
                            International Group
                        </td>
                        <td class="govuk-table__cell">
                            <a class="govuk-link" href="#">View</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">14 May 2024</span>
                        </td>
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">27 Apr 2024</span>
                        </td>
                        <td class="govuk-table__cell">
                            <span style="white-space: nowrap">DF 13 23 44 B</span>
                        </td>
                        <td class="govuk-table__cell">
                            CIS update
                        </td>
                        <td class="govuk-table__cell">
                            <a class="govuk-link" href="#">View</a>
                        </td>
                    </tr>
                    <!-- SCENARIO 3 - dynamic row - Sue Pearson paused for Self-employment-->
                    {% if data['claimStatus'] == 'paused' %}
                        {% else %}
                            <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                    <span style="white-space: nowrap">14 May 2024</span>
                                </td>
                                <td class="govuk-table__cell">
                                    <span style="white-space: nowrap">27 Apr 2024</span>
                                </td>
                                <td class="govuk-table__cell">
                                    <span style="white-space: nowrap">UV 93 23 17 B</span>
                                </td>
                                <td class="govuk-table__cell">
                                    Self-employment and company director check
                                </td>
                                <td class="govuk-table__cell">
                                    <a class="govuk-link" href="#">View</a>
                                </td>
                            </tr>
                    {% endif %}
                    <!-- END SCENARIO 3 - Sue Pearson dynamic row -->
                </tbody>
            </table>
        </tr>
    </tbody>