{% if data['claimStatus'] == 'new-claim' %}
    {{ dwpTimeline({
items: [
{
title: "New claim",
byline: "claimant",
date: " 19 May 2024 at 10:02am"
}
]
}) }}
{% elif data['claimStatus'] == 'preview' %}
    {{ dwpTimeline({
items: [
{
title: "Preview",
byline: "00000089",
date: " 19 May 2024 at 11:14am"
},
{
title: "New claim",
byline: "claimant",
date: " 19 May 2024 at 10:02am",
classes: "dwp-timeline-entry--closing"
}
]
}) }}
{% elif data['claimStatus'] == 'success' %}
    {{ dwpTimeline({
items: [
{
title: "Success",
byline: "00000089",
date: " 19 May 2024 at 3:02pm"
},
{
title: "New claim",
byline: "claimant",
date: " 19 May 2024 at 10:02am",
classes: "dwp-timeline-entry--closing"
}
]
}) }}
{% elif data['claimStatus'] == 'processing-started' %}
    {{ dwpTimeline({
items: [
{
title: "Processing started",
byline: "88776655",
date: " " + "today" | govukDate("truncate") + " at " + "now" | govukTime
},
{
title: "Success",
byline: "00000089",
date: " 19 May 2024 at 3:02pm"
},
{
title: "New claim",
byline: "claimant",
date: " 19 May 2024 at 10:02am",
classes: "dwp-timeline-entry--closing"
}
]
}) }}
{% elif data['claimStatus'] == 'paused' %}
    {% if data['pauseReason'] == 'NSESA team' %}
        <div class="dwp-timeline">
            <ol class="dwp-timeline__items">
                <li class="dwp-timeline__item">
                    <p class="dwp-timeline__datetime">
                        {{ "today" | govukDate("truncate") }} at
                    {{ "now" | govukTime }}</p>
                    <h2 class="dwp-timeline__heading">Paused</h2>
                    <p class="dwp-timeline__by-line">by 88776655</p>
                    <p class="dwp-timeline__content">
                        <ul class="govuk-list govuk-list--bullet">
                            <li>NSESA team</li>
                        </ul>
                        <p class="dwp-timeline__datetime">Next update due {{ data['deadline-day'] }}
                            {{ data['deadline-month'] | toMonth }}
                            {{ data['deadline-year'] }}</p>
                    </p>
                </p>
            </li>
            <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">
                    {{ "today" | govukDate("truncate") }} at 9:25am</p>
                <h2 class="dwp-timeline__heading">Paused</h2>
                <p class="dwp-timeline__by-line">by 88776655</p>
                <p class="dwp-timeline__content">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Identity check (KBV)</li>
                        <li>NSESA team</li>
                    </ul>
                    <p class="dwp-timeline__datetime">Next update due {{ "today" | govukDate("truncate") }}</p>
                </p>
            </li>
            <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">
                    {{ "today" | govukDate("truncate") }} at 9:18am</p>
                <h2 class="dwp-timeline__heading">Processing started</h2>
                <p class="dwp-timeline__by-line">by 88776655</p>
            </li>
            <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">
                    19 May 2024 at 3:02pm</p>
                <h2 class="dwp-timeline__heading">Success</h2>
                <p class="dwp-timeline__by-line">by 00000089</p>
            </li>
            <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">
                    19 May 2024 at 10:02am</p>
                <h2 class="dwp-timeline__heading">New claim</h2>
                <p class="dwp-timeline__by-line">by claimant</p>
            </li>
        </ol>
    </div>
{% elif data['pauseReason'] == 'Identity check (KBV)' %}
    <div class="dwp-timeline">
        <ol class="dwp-timeline__items">
            <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">
                    {{ "today" | govukDate("truncate") }} at
                {{ "now" | govukTime }}</p>
                <h2 class="dwp-timeline__heading">Paused</h2>
                <p class="dwp-timeline__by-line">by 88776655</p>
                <p class="dwp-timeline__content">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Identity check (KBV)</li>
                    </ul>
                    <p class="dwp-timeline__datetime">Next update due {{ data['deadline-day'] }}
                        {{ data['deadline-month'] | toMonth }}
                        {{ data['deadline-year'] }}</p>
                </p>
            </p>
        </li>
        <li class="dwp-timeline__item">
            <p class="dwp-timeline__datetime">
                {{ "today" | govukDate("truncate") }} at 9:25am</p>
            <h2 class="dwp-timeline__heading">Paused</h2>
            <p class="dwp-timeline__by-line">by 88776655</p>
            <p class="dwp-timeline__content">
                <ul class="govuk-list govuk-list--bullet">
                    <li>Identity check (KBV)</li>
                    <li>NSESA team</li>
                </ul>
                <p class="dwp-timeline__datetime">Next update due {{ "today" | govukDate("truncate") }}</p>
            </p>
        </li>
        <li class="dwp-timeline__item">
            <p class="dwp-timeline__datetime">
                {{ "today" | govukDate("truncate") }} at 9:18am</p>
            <h2 class="dwp-timeline__heading">Processing started</h2>
            <p class="dwp-timeline__by-line">by 88776655</p>
        </li>
        <li class="dwp-timeline__item">
            <p class="dwp-timeline__datetime">
                19 May 2024 at 3:02pm</p>
            <h2 class="dwp-timeline__heading">Success</h2>
            <p class="dwp-timeline__by-line">by 00000089</p>
        </li>
        <li class="dwp-timeline__item">
            <p class="dwp-timeline__datetime">
                19 May 2024 at 10:02am</p>
            <h2 class="dwp-timeline__heading">New claim</h2>
            <p class="dwp-timeline__by-line">by claimant</p>
        </li>
    </ol>
</div>{% else %}
<div class="dwp-timeline">
    <ol class="dwp-timeline__items">
        <li class="dwp-timeline__item">
            <p class="dwp-timeline__by-line">by 88776655</p>
            <h2 class="dwp-timeline__heading">Paused</h2>
            <p class="dwp-timeline__datetime">
                {{ "today" | govukDate("truncate") }} at
            {{ "now" | govukTime }}</p>
            <p class="dwp-timeline__content">
                <ul class="govuk-list govuk-list--bullet">
                    <li>{{ data['pauseReason'][0] }}</li>
                    <li>{{ data['pauseReason'][1] }}</li>
                </ul>
                <p class="dwp-timeline__datetime">Next update due {{ data['deadline-day'] }}
                    {{ data['deadline-month'] | toMonth }}
                    {{ data['deadline-year'] }}</p>
            </p>
        </li>
        <li class="dwp-timeline__item">
            <p class="dwp-timeline__datetime">
                {{ "today" | govukDate("truncate") }} at 9:18am</p>
            <h2 class="dwp-timeline__heading">Processing started</h2>
            <p class="dwp-timeline__by-line">by 88776655</p>
        </li>
        <li class="dwp-timeline__item">
            <p class="dwp-timeline__datetime">
                19 May 2024 at 3:02pm</p>
            <h2 class="dwp-timeline__heading">Success</h2>
            <p class="dwp-timeline__by-line">by 00000089</p>
        </li>
        <li class="dwp-timeline__item">
            <p class="dwp-timeline__datetime">
                19 May 2024 at 10:02am</p>
            <h2 class="dwp-timeline__heading">New claim</h2>
            <p class="dwp-timeline__by-line">by claimant</p>
        </li>
    </ol>
</div>{% endif %}{% elif data['claimStatus'] == 'claim-not-valid' %}{{ dwpTimeline({
items: [
{
title: "Claim not valid",
byline: "88776655",
date: " " + "today" | govukDate("truncate") + " at " + "now" | govukTime
},
{
title: "Processing started",
byline: "88776655",
date: " " + "today" | govukDate("truncate") + " at 9:18am"
},

{
title: "Success",
byline: "00000089",
date: " 19 May 2024 at 3:02pm"
},
{
title: "New claim",
byline: "claimant",
date: " 19 May 2024 at 10:02am",
classes: "dwp-timeline-entry--closing"
}
]
}) }}{% elif data['claimStatus'] == 'duplicate' %}{{ dwpTimeline({
items: [
{
title: "Duplicate",
byline: "88776655",
date: " " + "today" | govukDate("truncate") + " at " + "now" | govukTime
},
{
title: "Processing started",
byline: "88776655",
date: " " + "today" | govukDate("truncate") + " at 9:18am"
},
{
title: "Success",
byline: "00000089",
date: " 19 May 2024 at 3:02pm"
},
{
title: "New claim",
byline: "claimant",
date: " 19 May 2024 at 10:02am",
classes: "dwp-timeline-entry--closing"
}
]
}) }}{% elif data['claimStatus'] == 'suspected-fraud' %}{{ dwpTimeline({
items: [
{
title: "Suspected fraud",
byline: "88776655",
date: " " + "today" | govukDate("truncate") + " at " + "now" | govukTime
},
{
title: "Processing started",
byline: "88776655",
date: " " + "today" | govukDate("truncate") + " at 9:18am"
},
{
title: "Success",
byline: "00000089",
date: " 19 May 2024 at 3:02pm"
},
{
title: "New claim",
byline: "claimant",
date: " 19 May 2024 at 10:02am",
classes: "dwp-timeline-entry--closing"
}
]
}) }}{% elif data['claimStatus'] == 'complex-claim' %}{{ dwpTimeline({
items: [
{
title: "Complex claim",
byline: "88776655",
date: " " + "today" | govukDate("truncate") + " at " + "now" | govukTime
},
{
title: "Processing started",
byline: "88776655",
date: " " + "today" | govukDate("truncate") + " at 9:18am"
},
{
title: "Success",
byline: "00000089",
date: " 19 May 2024 at 3:02pm"
},
{
title: "New claim",
byline: "claimant",
date: " 19 May 2024 at 10:02am",
classes: "dwp-timeline-entry--closing"
}
]
}) }}{% elif data['claimStatus'] == 'awaiting-appointment' %}<div class="dwp-timeline">
<ol class="dwp-timeline__items">
    <li class="dwp-timeline__item">
        <p class="dwp-timeline__datetime">
            {{ "today" | govukDate("truncate") }} at
        {{ "now" | govukTime }}</p>
        <h2 class="dwp-timeline__heading">Awaiting appointment</h2>
        <p class="dwp-timeline__by-line">by 88776655</p>
    </li>
    <li class="dwp-timeline__item">
        <p class="dwp-timeline__datetime">
            {{ "today" | govukDate("truncate") }} at 10:31am</p>
        <h2 class="dwp-timeline__heading">Paused</h2>
        <p class="dwp-timeline__by-line">by 88776655</p>
        <p class="dwp-timeline__content">
            <ul class="govuk-list govuk-list--bullet">
                <li>NSESA team</li>
            </ul>
            <p class="dwp-timeline__datetime">Next update due {{ "today" | govukDate("truncate") }}</p>
        </p>
    </li>
    <li class="dwp-timeline__item">
        <p class="dwp-timeline__datetime">
            {{ "today" | govukDate("truncate") }} at 9:21am</p>
        <h2 class="dwp-timeline__heading">Paused</h2>
        <p class="dwp-timeline__by-line">by 88776655</p>
        <p class="dwp-timeline__content">
            <ul class="govuk-list govuk-list--bullet">
                <li>Identity check (KBV)</li>
                <li>NSESA team</li>
            </ul>
            <p class="dwp-timeline__datetime">Next update due {{ "today" | govukDate("truncate") }}</p>
        </p>
    </li>
    <li class="dwp-timeline__item">
        <p class="dwp-timeline__datetime">
            {{ "today" | govukDate("truncate") }} at 9:18am</p>
        <h2 class="dwp-timeline__heading">Processing started</h2>
        <p class="dwp-timeline__by-line">by 88776655</p>
    </li>
    <li class="dwp-timeline__item">
        <p class="dwp-timeline__datetime">
            19 May 2024 at 3:02pm</p>
        <h2 class="dwp-timeline__heading">Success</h2>
        <p class="dwp-timeline__by-line">by 00000089</p>
    </li>
    <li class="dwp-timeline__item">
        <p class="dwp-timeline__datetime">
            19 May 2024 at 10:02am</p>
        <h2 class="dwp-timeline__heading">New claim</h2>
        <p class="dwp-timeline__by-line">by claimant</p>
    </li>
</ol></div>{% elif data['claimStatus'] == 'citizen-not-entitled' %}<div class="dwp-timeline">
<ol class="dwp-timeline__items">
    <li class="dwp-timeline__item">
        <p class="dwp-timeline__datetime">
            {{ "today" | govukDate("truncate") }} at
        {{ "now" | govukTime }}</p>
        <h2 class="dwp-timeline__heading">Citizen not entitled</h2>
        <p class="dwp-timeline__by-line">by 88776655</p>
    </li>
    <li class="dwp-timeline__item">
        <p class="dwp-timeline__datetime">
            {{ "today" | govukDate("truncate") }} at 10:31am</p>
        <h2 class="dwp-timeline__heading">Paused</h2>
        <p class="dwp-timeline__by-line">by 88776655</p>
        <p class="dwp-timeline__content">
            <ul class="govuk-list govuk-list--bullet">
                <li>NSESA team</li>
            </ul>
            <p class="dwp-timeline__datetime">Next update due {{ "today" | govukDate("truncate") }}</p>
        </p>
    </li>
    <li class="dwp-timeline__item">
        <p class="dwp-timeline__datetime">
            {{ "today" | govukDate("truncate") }} at 9:21am</p>
        <h2 class="dwp-timeline__heading">Paused</h2>
        <p class="dwp-timeline__by-line">by 88776655</p>
        <p class="dwp-timeline__content">
            <ul class="govuk-list govuk-list--bullet">
                <li>Identity check (KBV)</li>
                <li>NSESA team</li>
            </ul>
            <p class="dwp-timeline__datetime">Next update due {{ "today" | govukDate("truncate") }}</p>
        </p>
    </li>
    <li class="dwp-timeline__item">
        <p class="dwp-timeline__datetime">
            {{ "today" | govukDate("truncate") }} at 9:18am</p>
        <h2 class="dwp-timeline__heading">Processing started</h2>
        <p class="dwp-timeline__by-line">by 88776655</p>
    </li>
    <li class="dwp-timeline__item">
        <p class="dwp-timeline__datetime">
            19 May 2024 at 3:02pm</p>
        <h2 class="dwp-timeline__heading">Success</h2>
        <p class="dwp-timeline__by-line">by 00000089</p>
    </li>
    <li class="dwp-timeline__item">
        <p class="dwp-timeline__datetime">
            19 May 2024 at 10:02am</p>
        <h2 class="dwp-timeline__heading">New claim</h2>
        <p class="dwp-timeline__by-line">by claimant</p>
    </li>
</ol></div>{% elif data['claimStatus'] == 'withdrawn' %}<div class="dwp-timeline">
<ol class="dwp-timeline__items">
    <li class="dwp-timeline__item">
        <p class="dwp-timeline__datetime">
            {{ "today" | govukDate("truncate") }} at
        {{ "now" | govukTime }}</p>
        <h2 class="dwp-timeline__heading">Withdrawn</h2>
        <p class="dwp-timeline__by-line">by 88776655</p>
    </li>
    <li class="dwp-timeline__item">
        <h2 class="dwp-timeline__heading">Paused</h2>
        <p class="dwp-timeline__by-line">by 88776655</p>
        <p class="dwp-timeline__datetime">
            {{ "today" | govukDate("truncate") }} at 10:31am</p>
        <p class="dwp-timeline__content">
            <ul class="govuk-list govuk-list--bullet">
                <li>NSESA team</li>
            </ul>
            <p class="dwp-timeline__datetime">Next update due {{ data['deadline-day'] }}
                {{ data['deadline-month'] | toMonth }}
                {{ data['deadline-year']or "7 June 2024" }}</p>
        </p>
    </li>
    <li class="dwp-timeline__item">
        <p class="dwp-timeline__datetime">
            {{ "today" | govukDate("truncate") }} at 9:21am</p>
        <h2 class="dwp-timeline__heading">Paused</h2>
        <p class="dwp-timeline__by-line">by 88776655</p>
        <p class="dwp-timeline__content">
            <ul class="govuk-list govuk-list--bullet">
                <li>Identity check (KBV)</li>
                <li>NSESA team</li>
            </ul>
            <p class="dwp-timeline__datetime">Next update due {{ "today" | govukDate("truncate") }}</p>
        </p>
    </li>
    <li class="dwp-timeline__item">
        <p class="dwp-timeline__datetime">
            {{ "today" | govukDate("truncate") }} at 9:18am</p>
        <h2 class="dwp-timeline__heading">Processing started</h2>
        <p class="dwp-timeline__by-line">by 88776655</p>
    </li>
    <li class="dwp-timeline__item">
        <p class="dwp-timeline__datetime">
            19 May 2024 at 3:02pm</p>
        <h2 class="dwp-timeline__heading">Success</h2>
        <p class="dwp-timeline__by-line">by 00000089</p>
    </li>
    <li class="dwp-timeline__item">
        <p class="dwp-timeline__datetime">
            19 May 2024 at 10:02am</p>
        <h2 class="dwp-timeline__heading">New claim</h2>
        <p class="dwp-timeline__by-line">by claimant</p>
    </li>
</ol></div>{% elif data['claimStatus'] == 'build-failed' %}{{ dwpTimeline({
items: [
{
title: "Processing started",
byline: "88776655",
date: " 3 June 2024 at 9:18am"
},
{
title: "Success",
byline: "00000089",
date: " 19 May 2024 at 3:02pm"
},
{
title: "New claim",
byline: "claimant",
date: " 19 May 2024 at 10:02am",
classes: "dwp-timeline-entry--closing"
}
]
}) }}{% elif data['claimStatus'] == 'push-successful' %}{{ dwpTimeline({
items: [
{
title: "Processing started",
byline: "88776655",
date: " 3 June 2024 at 9:18am"
},
{
title: "Success",
byline: "00000089",
date: " 19 May 2024 at 3:02pm"
},
{
title: "New claim",
byline: "claimant",
date: " 19 May 2024 at 10:02am",
classes: "dwp-timeline-entry--closing"
}
]
}) }}{% else %}{{ dwpTimeline({
items: [
{
title: "New claim",
byline: "claimant",
date: " 19 May 2024 at 10:02am"
}
]
}) }}{% endif %}