{% extends "layouts/main.html" %}
{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Current pension</span>
        When does the pension increase?
      </h1>
      <form action="increase-when" method="post">
        {{ govukRadios({
          idPrefix: "current-pension-increase-frequency",
          name: "current-pension-increase-frequency",
          items: todaysDate.month | getNextSixMonths
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}