{% if data['claimStatus'] == 'new-claim' %}
<p>
    <a href="choose-task">Return to main menu</a>
</p>


{# Ticket panel design for MWAC1 #}
{% elif data['mwacDesign'] == 'ticket-panel'%}
<h3 class="govuk-heading-m">Claim actions</h3>
{{ govukButton({
text: "Update claim status",
classes: "govuk-button",
href: "update?claimStatus&pauseReason&deadline-day&deadline-month&deadline-year"
}) }}
<p>
    <a href="choose-task">Return to main menu</a>
</p>

{# Ticket panel side navigation design for MWAC2 #}
{% elif data['mwacDesign'] == 'side-navigation'%}



<a class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button" href="#">
    Book appointment
</a>
<br>
<div class="govuk-!-padding-bottom-3"></div>
<a class="govuk-button govuk-button--secondary govuk-!-margin-bottom-1" data-module="govuk-button" href="#">
    Update claim status
</a>
<div class="govuk-!-padding-bottom-8"></div>

{% else %}
<h3 class="govuk-heading-m">Claim actions</h3>
{# href: clearing data for claim status, pause reason and deadline when clicking Update claim button #}
{{ govukButton({
text: "Update claim status",
href: "update?claimStatus&pauseReason&deadline-day&deadline-month&deadline-year"
}) }}
<p>
    <a href="choose-task">Return to main menu</a>
</p>
{% endif %}