{% if data['claimStatus'] == 'new-claim' %}
<p>
    <a href="choose-task">Return to main menu</a>
</p>


{# Side navigation design #}
{% elif data['claimStatus'] == 'processing-started'%}

<h3 class="govuk-heading-m">Claim actions</h3>
{# href: clearing data for claim status, pause reason and deadline when clicking Update claim button #}
{{ govukButton({
text: "Update claim status",
href: "update?claimStatus&pauseReason&deadline-day&deadline-month&deadline-year"
}) }}



{# Ticket panel embedded in content for MWAC1 #}
{% elif data['mwacContent'] == 'ticket-panel'%}
<h3 class="govuk-heading-m">Claim actions</h3>
{{ govukButton({
text: "Update claim status",
classes: "govuk-button",
href: "update?claimStatus&pauseReason&deadline-day&deadline-month&deadline-year"
}) }}
<p>
    <a href="choose-task">Return to main menu</a>
</p>





{# Side navigation design for MWAC #}
{% elif data['claimActions'] == 'side-navigation'%}

<h3 class="govuk-heading-m">Claim actions</h3>

<p class="govuk-body">
  <a href="#" class="govuk-link govuk-link--no-visited-state">Update claim information</a>
</p>
<p class="govuk-body">
  <a href="#" class="govuk-link govuk-link--no-visited-state">Update claim status</a>
</p>
<p class="govuk-body">
  <a href="#" class="govuk-link govuk-link--no-visited-state">Book appointment</a>
</p>




{% else %}
<h3 class="govuk-heading-m">Claim actions</h3>
{# href: clearing data for claim status, pause reason and deadline when clicking Update claim button #}
{{ govukButton({
text: "Update claim status",
href: "update?claimStatus&pauseReason&deadline-day&deadline-month&deadline-year"
}) }}
<p>
    <a href="choose-task">Return to main menu</a>
</p>

{% endif %}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">