{% extends "layout/unbranded.html" %}
{% block pageTitle %}
    NSJSA Agent Prototypes
{% endblock %}
{% block content %}
<!-- Page layout -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
            
            <!-- Page heading with caption -->
            <span class="govuk-caption-xl">WFM-1B</span>
            <h1 class="govuk-heading-xl">Iteration 2.4</h1>
            

             <!-- 'Hypothesis' Details (dropdown) -->
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Hypothesis
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <h2 class="govuk-heading-s">Hypothesis 1: TBC</h2>
                    <p>We belive that...
                    </p>
                    <p>
                        We will know this to be true when...
                    </p>
                </div>
            </details>

            <!-- 'Ideation Details' (dropdown) -->
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Ideation (Not for DEV)
                    </span>
                </summary>
                <div class="govuk-!-padding-bottom-5"></div>

        
<!-- 'Ideation' Table -->
       {{ govukTable({
        
        firstCellIsHeader: false,
        head: [
            {
                text: "ID"
            },
            {
                text: "Design",
                classes: "govuk-!-width-one-quarter"
            },
            {
                text: "Notes"
            }
        ],
        rows: [
        [
            {
                text: "v4.1"
            },
            {
                html: "<a href='view-claim?&claimant=ij&claimStatus=processing-started&mwacDesign=full-width'>Full width banner"
                
            },
            {
                text: "This is how the notification banner should be displayed, at full width to match the pages other content."
                
            }
        ],
        [
            {
                text: "v4.2"
            },
            {
                html: "<a href='view-claim?&claimant=ij&claimStatus=processing-started&mwacDesign=multi-message'>Multi-message banner"
                
            },
            {
                text: "This is how multiple banner messages should be displayed, within a single container. We should avoid this situation happening."
                
            }
        ],
        [
            {
                text: "v4.3"
            },
            {
                html: "<a href='view-claim?&claimant=ij&claimStatus=processing-started&mwacDesign=ticket-panel'>Ticket panel"
                
            },
            {
                text: "Ticket panel design from the MOJ toolkit. An alternative to the banner to highlight MWAC availability. Documentation states it should be embedded into page content."
                
            }
        ],
        [
            {
                text: "v4.5"
            },
            {
                html: "<a href='view-claim?&claimant=ij&claimStatus=processing-started&mwacDesign=side-navigation'>Side navigation as links"
                
            },
            {
                text: "Claim actions (side navigation) presented as links. Only order can hint at hierachy between them."
                
            }
        ],
        [
            {
                text: "v4.6"
            },
            {
                html: "<a href='view-claim2?&claimant=ij&claimStatus=processing-started&mwacDesign=side-navigation'>Update View Claim page layout"
                
            },
            {
                text: "Switched claim layout to see if it had any impact on claim actions UX."
                
            }
        ]
        ]
      }) }}
      <div class="govuk-!-padding-bottom-2"></div>
            </details>

            <!-- 'Related Prototypes' -->
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Related Prototypes
                    </span>
                </summary>
            <div class="govuk-!-padding-bottom-5"></div>
                
                {{ govukTable({
        
        firstCellIsHeader: false,
        head: [
            {
                text: "#"
            },
            {
                text: "Link",
                classes: "govuk-!-width-one-quarter"
            },
            {
                text: "Notes"
            }
        ],
        rows: [
        [
            {
                text: "1"
            },
            {
                html: "<a href='https://dwp-mwac-prototype.herokuapp.com/version8/contactcentre/view-claim-v1'>MWAC banner"
                
            },
            {
                text: "Guidence states banners should not be used for things unrelated to the current page. Banners should be full width of the page content and the neutral colour (blue) is used if the user needs to know about a problem with the service as a whole."
                
            }
        ],
        [
            {
                text: "2"
            },
            {
                html: "<a href='https://dwp-mwac-prototype.herokuapp.com/version8/contactcentre/view-claim-v2'>MWAC button"
                
            },
            {
                text: "Changing the primary buttons and button positions could be problematic for agents - More discussion & understanding of wider journey needed."
                
            }
        ]
        ]
      }) }}
      
            </details>
            <div class="govuk-!-padding-bottom-1"></div>

            

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"></div>
        </div>
        <div class="govuk-!-padding-bottom-3"></div>
            <h2 class="govuk-heading-l">Prototype Scenarios</h2>
        
            </div>
        </div>

           <div class="govuk-!-padding-bottom-8"></div>

           





        
        
    

        
    {% endblock %}