{% extends "layout/unbranded.html" %}
{% block pageTitle %}
    NSJSA Agent Prototypes
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">
                Workflow Management 1b: Iteration 4
            </h1>
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Hypotheses
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <h2 class="govuk-heading-s">Hypothesis 1: TBC</h2>
                    <p>We belive that...
                    </p>
                    <p>
                        We will know this to be true when...
                    </p>
                </div>
            </details>

            

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"></div>
        </div>
        
        <div class="govuk-!-padding-bottom-8"></div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                {{ govukTable({
        caption: "Original MWAC design",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: false,
        head: [
            {
                text: "ID"
            },
            {
                text: "Version",
                classes: "govuk-!-width-one-quarter"
            },
            {
                text: "Description"
            }
        ],
        rows: [
        [
            {
                text: "mw4.1"
            },
            {
                html: "<a href='https://dwp-mwac-prototype.herokuapp.com/version8/contactcentre/view-claim-v1'>MWAC banner"
                
            },
            {
                text: "Banner design from MWAC"
                
            }
        ],
        [
            {
                text: "mw4.2"
            },
            {
                html: "<a href='https://dwp-mwac-prototype.herokuapp.com/version8/contactcentre/view-claim-v2'>MWAC button"
                
            },
            {
                text: "Button (side navigation) design from MWAC"
                
            }
        ]
        ]
      }) }}

      <div class="govuk-!-padding-bottom-8"></div>

       {{ govukTable({
        caption: "New design exploration",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: false,
        head: [
            {
                text: "ID"
            },
            {
                text: "Version",
                classes: "govuk-!-width-one-quarter"
            },
            {
                text: "Description"
            }
        ],
        rows: [
        [
            {
                text: "v4.1"
            },
            {
                html: "<a href='view-claim?&claimant=ij&claimStatus=processing-started&mwacDesign=full-width'>Full width banner"
                
            },
            {
                text: "Updated claim status page to show full width banner"
                
            }
        ],
        [
            {
                text: "v4.2"
            },
            {
                html: "<a href='view-claim?&claimant=ij&claimStatus=processing-started&mwacDesign=multi-message'>Multi-message banner"
                
            },
            {
                text: "Updated claim status page to show multiple messages within a full width banner"
                
            }
        ],
        [
            {
                text: "v4.3"
            },
            {
                html: "<a href='view-claim?&claimant=ij&claimStatus=processing-started&mwacDesign=ticket-panel'>Ticket panel"
                
            },
            {
                text: "Full width ticket panel design as a flexible approach to promote"
                
            }
        ],
        [
            {
                text: "v4.4"
            },
            {
                html: "<a href='view-claim?&claimant=ij&claimStatus=processing-started&mwacDesign=ticket-panel-content'>Ticket panel"
                
            },
            {
                text: "Ticket panel design embedded within page content as a flexible approach to promote"
                
            }
        ],
        [
            {
                text: "v4.5"
            },
            {
                html: "<a href='view-claim?&claimant=ij&claimStatus=processing-started&mwacDesign=side-navigation'>Side navigation buttons"
                
            },
            {
                text: "Updated claim status page to show new side navigation design"
                
            }
        ],
        [
            {
                text: "v4.6"
            },
            {
                html: "<a href='view-claim2?&claimant=ij&claimStatus=processing-started&mwacDesign=side-navigation'>Update View Claim page layout"
                
            },
            {
                text: "Updated the view claim page layout"
                
            }
        ]
        ]
      }) }}
            </div>
        </div>

           <div class="govuk-!-padding-bottom-8"></div>


        
        
    

        
    {% endblock %}