{% extends "layout/unbranded.html" %}
{% block pageTitle %}
    NSJSA Agent Prototypes
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">
                Workflow Management 1a: Iteration 3
            </h1>
            <p class="govuk-body">
                Final designs for Workflow Management 1a - ready for development.
            </p>
            <p class="govuk-body">
                The designs have been further iterated based on technical discussion and an overlap of the Workflow management 1b work.
                User insights from 1b that are relevant for 1a and the overall user journey have been agreed to bring forward into 1a.
                This relates especially to the Last updated claims list and Confirmation page.
            </p>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"></div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                {{ govukTable({
        caption: "Prototype scenarios",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        head: [
            {
                text: "ID",
                classes: "govuk-!-width-one-quarter"
            },
            {
                text: "Scenario",
                classes: "govuk-!-width-three-quarters"
            }
        ],
        rows: [
        [
            {
                text: "sc1"
            },
            {
                html: "<a href='choose-task3?sc=1&claimant=ij&claimStatus=processing-started'>Standard claim"
                
            }
        ],
        [
            {
                text: "sc2"
            },
            {
                html: "<a href='choose-task3?sc=2&claimant=kb&claimStatus=not-set'>Duplicate claim"
            }
          ]
        ]
      }) }}
                {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
                {{ govukInsetText({
  html: "<strong>Search for staff number on Last updated claims:</strong> <br> Enter 01 or any value for Agent 01 claims <br> Enter 12345678 for Agent 02 claims <br> Enter 03 for Agent 03 claims "
}) }}
                {{ govukTable({
        caption: "Individual screens for development",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: true,
        head: [
            
            {
                text: "Screen"
            }
        ],
        rows: [
        [
            
            {
                html: "<a href='duplicates?dupe=affected'>Duplicate screen"
                
            }
        ],
        [
            
            {
                html: "<a href='claims-list'>Last updated claims - default"
            }
          ],
          [
            
            {
                html: "<a href='claims-list-filtered'>Last updated claims - filtered"
            }
          ],
          [
            
            {
                html: "<a href='claims-list?show=12345678'>Last updated claims - different agent"
            }
          ],
          [
            
            {
                html: "<a href='claims-list?show=03'>Last updated claims - no claims in list"
            }
          ],
          
          [
            
            {
                html: "<a href='claims-list-error'>Error: No input - Last updated claims"
            }
          ]
          ,
          [
            
            {
                html: "<a href='claims-list-error-validation'>Error: Validation - Last updated claims"
            }
          ]
        ]
      }) }}
            </div>
        </div>
    {% endblock %}