{% extends "layout/unbranded-agent-id.html" %}
{% block pageTitle %}
  Service centre - {{ serviceName }}
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
text: "Back",
href: "choose-task?show"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper--m" id="main-content" role="main">
      <h1 class="govuk-heading-l">Paused claims</h1>
      <!-- SEARCH BY STAFF NUMBER -->
      <form action="pause-list" method="post">
        <div class="govuk-form-group govuk-!-margin-bottom-0">
          <label class="govuk-label" for="search">
            <strong>Search by staff number</strong>
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="search" name="search" type="text">
            <button type="submit" class="govuk-button govuk-!-display-inline" data-module="govuk-button">
              Search
            </button>
          </div>
        </form>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <p></p>
          </div>
          <div class="govuk-grid-column-three-quarters"></div>
        </div>
        <!-- MOJ Filter -->
        <div class="moj-filter-layout">
          <div class="moj-filter-layout__filter">
            <div class="moj-filter">
              <div class="moj-filter__header">
                <div class="moj-filter__header-title">
                  <h2 class="govuk-heading-m">Filter</h2>
                </div>
                <div class="moj-filter__header-action"></div>
              </div>
              <div class="moj-filter__content">
                <div class="moj-filter__selected">
                  <div class="moj-filter__selected-heading">
                    <div class="moj-filter__heading-title">
                      <h2 class="govuk-heading-m">Selected filters</h2>
                    </div>
                    <div class="moj-filter__heading-action">
                      <p>
                        <a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a>
                      </p>
                    </div>
                  </div>
                  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Pause reason</h3>
                  <ul class="moj-filter-tags">
                    <li>
                      <a class="moj-filter__tag" href="#">
                        <span class="govuk-visually-hidden">Remove this filter</span>
                        Identity check (KBV)</a>
                    </li>
                    <li>
                      <a class="moj-filter__tag" href="#">
                        <span class="govuk-visually-hidden">Remove this filter</span>
                        Main benefit reply (MBR)</a>
                    </li>
                  </ul>
                </div>
                <div
                  class="moj-filter__options">
                  <!-- Sort by SELECT -->
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="sort">
                      Sort by
                    </label>
                    <select class="govuk-select" id="sort" name="sort">
                      <option value="closest-deadline" selected>Closest deadline</option>
                      <option value="furthest-deadline">Furthest deadline</option>
                      <option value="newest-claim">Newest claim submitted</option>
                      <option value="oldest-claim">Oldest claim submitted</option>
                    </select>
                  </div>
                  <!-- Sort by RADIOS <div class="govuk-form-group"> <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Sort by
                      </legend>
                      <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="sort-1" name="sort" type="radio" value="closest-deadline">
                          <label class="govuk-label govuk-radios__label" for="sort-1">
                            Closest deadline
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="sort-2" name="sort" type="radio" value="furthest-deadline">
                          <label class="govuk-label govuk-radios__label" for="sort-2">
                            Furthest deadline
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="sort-3" name="sort" type="radio" value="newest-claim">
                          <label class="govuk-label govuk-radios__label" for="sort-3">
                            Newest claim submitted
                          </label>
                        </div>
                        <div class="govuk-radios__item">
                          <input class="govuk-radios__input" id="sort-4" name="sort" type="radio" value="oldest-claim">
                          <label class="govuk-label govuk-radios__label" for="sort-4">
                            Oldest claim submitted
                          </label>
                        </div>
                      </div>
                  </fieldset> </div> -->
                  <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Pause reason
                      </legend>
                      <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="cis-update" name="cis-update" type="checkbox" value="cis-update">
                            <label class="govuk-label govuk-checkboxes__label" for="cis-update">
                              CIS update
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="kbv" name="kbv" type="checkbox" value="kbv">
                              <label class="govuk-label govuk-checkboxes__label" for="kbv">
                                Identity check (KBV)
                              </label>
                            </div>
                            <div class="govuk-checkboxes__item">
                              <input
                                class="govuk-checkboxes__input"
                                id="international-group"
                                name="international-group"
                                type="checkbox"
                                value="international-group">
                                <label class="govuk-label govuk-checkboxes__label" for="self-employment">
                                  International Group
                                </label>
                              </div>
                              <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="mbr" name="mbr" type="checkbox" value="mbr">
                                  <label class="govuk-label govuk-checkboxes__label" for="mbr">
                                    Main benefit reply (MBR)
                                  </label>
                                </div>
                                <div class="govuk-checkboxes__item">
                                  <input class="govuk-checkboxes__input" id="nsesa" name="nsesa" type="checkbox" value="nsesa">
                                    <label class="govuk-label govuk-checkboxes__label" for="nsesa">
                                      NSESA team
                                    </label>
                                  </div>
                                  <div class="govuk-checkboxes__item">
                                    <input
                                      class="govuk-checkboxes__input"
                                      id="self-employment"
                                      name="self-employment"
                                      type="checkbox"
                                      value="self-employment">
                                      <label class="govuk-label govuk-checkboxes__label" for="self-employment">
                                        Self-employment and company director check
                                      </label>
                                    </div>
                                    <div class="govuk-checkboxes__item">
                                      <input class="govuk-checkboxes__input" id="decision-maker" name="decision-maker" type="checkbox" value="decision-maker">
                                        <label class="govuk-label govuk-checkboxes__label" for="decision-maker">
                                          Sent to decision-maker
                                        </label>
                                      </div>
                                      <div class="govuk-checkboxes__item">
                                        <input class="govuk-checkboxes__input" id="ttc" name="ttc" type="checkbox" value="ttc">
                                          <label class="govuk-label govuk-checkboxes__label" for="ttc">
                                            Transferred to clerical
                                          </label>
                                        </div>
                                        <div class="govuk-checkboxes__item">
                                          <input class="govuk-checkboxes__input" id="other" name="other" type="checkbox" value="other">
                                            <label class="govuk-label govuk-checkboxes__label" for="other">
                                              Other
                                            </label>
                                          </div>
                                        </div>
                                      </fieldset>
                                    </div>
                                    <button type="submit" class="govuk-button" data-module="govuk-button">
                                      Apply filters
                                    </button>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="moj-filter-layout__content">
                              <div class="moj-action-bar">
                                <div class="moj-action-bar__filter"></div>
                              </div>
                              <div class="moj-scrollable-pane">
                                {% include "design-ideas/wt-4642-wfm-1b/table/sc1-agent1-pause-list.html" %}
                              </div>
                            </div>
                            <nav class="govuk-pagination" aria-label="Pagination">
                              <ul class="govuk-pagination__list">
                                <li class="govuk-pagination__item govuk-pagination__item--current">
                                  <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
                                    1
                                  </a>
                                </li>
                                <li class="govuk-pagination__item">
                                  <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
                                    2
                                  </a>
                                </li>
                                <li class="govuk-pagination__item">
                                  <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                                    3
                                  </a>
                                </li>
                              </ul>
                              <div class="govuk-pagination__next">
                                <a class="govuk-link govuk-pagination__link" href="#" rel="next">
                                  <span class="govuk-pagination__link-title">
                                    Next<span class="govuk-visually-hidden">
                                      page</span>
                                  </span>
                                  <svg
                                    class="govuk-pagination__icon govuk-pagination__icon--next"
                                    xmlns="http://www.w3.org/2000/svg"
                                    height="13"
                                    width="15"
                                    aria-hidden="true"
                                    focusable="false"
                                    viewBox="0 0 15 13">
                                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                                  </svg>
                                </a>
                              </div>
                            </nav>
                          </main>
                        </div>
                      {% endblock %}