{% extends "layout/unbranded-agent-id.html" %}
{% block pageTitle %}
  Service centre - {{ serviceName }}
{% endblock %}
{% from "internal-service-header/macro.njk" import dwpHeader %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}
{% block header %}
  {{ dwpHeader({
name: data['agentServiceName'],
action: "Staff number: 88776655",
actionHref: "#",
serviceHref: '/',
container:true
}) }}
{% endblock %}
{% block footer %}
  {{ dwpFooter({
  meta: {
    visuallyHiddenTitle: "Meta links",
    items: [
    {
      href: "#",
            text: "Accessibility statement"
    },
    {
      href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
    },
    {
      href: "/prototype-admin/clear-data",
            text: "Clear data"
    }
    ]
  }
}) }}
{% endblock %}
{% set htmlClasses = htmlClasses | default("dwp-agent-layout") %}
{# reset auto spacing from layout.html #}
{% set mainClasses = mainClasses | default("") %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back to scenario screen",
  href: "reset-list"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row dwp-print-hide">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Service centre
      </h1>
      {# TILES #}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <a
            href="#"
            role="link"
            draggable="false"
            class="govuk-panel govuk-button link-panel govuk-!-width-full"
            data-module="govuk-button">
            <span class="govuk-panel__title govuk-!-font-size-27">
              Get a new claim
            </span>
          </a>
        </div>
        <div class="govuk-grid-column-one-half">
          <a
            href="#"
            role="link"
            draggable="false"
            class="govuk-panel govuk-button link-panel govuk-!-width-full"
            data-module="govuk-button">
            <span class="govuk-panel__title govuk-!-font-size-27">
              Find a claimant
            </span>
          </a>
        </div>
      </div>
      <div class="govuk-!-margin-bottom-5"></div>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible dwp-print-hide">
        <h2 class="govuk-heading-m">On hold claims</h2>
        {# AGENT 2 ON HOLD CLAIMS #}
        {% if data['show'] == "02" %}
          {# AGENT 2 - AGENT ID SEARCH BOX #}
          <form action="choose-task2" method="post">
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Find claims by agent ID
              </label>
              <input class="govuk-input govuk-input--width-10" id="agent" name="agent" type="text">
                {{ govukButton({
        text: "Search",
        href: "choose-task2?show="
      }) }}
              </div>
            </form>
            <h2 class="govuk-heading-m">
              Last updated by agent ID 00000002
            </h2>
            {# AGENT 2 - TABS #}
            <div class="govuk-tabs" data-module="govuk-tabs">
              <h2 class="govuk-tabs__title">
                Contents
              </h2>
              <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                  <a class="govuk-tabs__tab" href="#paused">
                    Paused
                  </a>
                </li>
                <li class="govuk-tabs__list-item">
                  <a class="govuk-tabs__tab" href="#escalated">
                    Escalated
                  </a>
                </li>
                <li class="govuk-tabs__list-item">
                  <a class="govuk-tabs__tab" href="#suspected-fraud">
                    Suspected fraud
                  </a>
                </li>
              </ul>
              <div class="govuk-tabs__panel" id="paused">
                <h2 class="govuk-heading-l">Paused</h2>
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Agent ID</th>
                      <th scope="col" class="govuk-table__header">Date updated</th>
                      <th scope="col" class="govuk-table__header">NI number</th>
                      <th scope="col" class="govuk-table__header">Status</th>
                      <th scope="col" class="govuk-table__header">Action</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000002</td>
                      <td class="govuk-table__cell">6 November 2023 at 9:21am</td>
                      <td class="govuk-table__cell">SW 12 34 56 A</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Paused
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000002</td>
                      <td class="govuk-table__cell">4 November 2023 at 4:21pm</td>
                      <td class="govuk-table__cell">RN 00 00 35 C</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Paused
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000002</td>
                      <td class="govuk-table__cell">4 November 2023 at 11:21am</td>
                      <td class="govuk-table__cell">QQ 12 34 56 X</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Paused
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000002</td>
                      <td class="govuk-table__cell">3 November 2023 at 3:12pm</td>
                      <td class="govuk-table__cell">RN 00 00 10 A</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Paused
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000002</td>
                      <td class="govuk-table__cell">3 November 2023 at 2:32pm</td>
                      <td class="govuk-table__cell">CC 12 34 56 A</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Paused
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000002</td>
                      <td class="govuk-table__cell">3 November 2023 at 1:38pm</td>
                      <td class="govuk-table__cell">SJ 12 34 56 C</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Paused
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000002</td>
                      <td class="govuk-table__cell">3 November 2023 at 11:21am</td>
                      <td class="govuk-table__cell">SW 12 34 56 A</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Paused
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000002</td>
                      <td class="govuk-table__cell">3 November 2023 at 10:43am</td>
                      <td class="govuk-table__cell">RN 00 00 35 C</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Paused
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000002</td>
                      <td class="govuk-table__cell">2 November 2023 at 2:34pm</td>
                      <td class="govuk-table__cell">QQ 12 34 56 X</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Paused
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000002</td>
                      <td class="govuk-table__cell">2 November 2023 at 1:57pm</td>
                      <td class="govuk-table__cell">RN 00 00 10 A</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Paused
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000002</td>
                      <td class="govuk-table__cell">2 November 2023 at 11:04am</td>
                      <td class="govuk-table__cell">CC 12 34 56 A</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Paused
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000002</td>
                      <td class="govuk-table__cell">31 October 2023 at 2:21pm</td>
                      <td class="govuk-table__cell">QQ 12 34 56 X</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Paused
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="escalated">
                <h2 class="govuk-heading-l">Escalated</h2>
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Agent ID</th>
                      <th scope="col" class="govuk-table__header">Date updated</th>
                      <th scope="col" class="govuk-table__header">NI number</th>
                      <th scope="col" class="govuk-table__header">Status</th>
                      <th scope="col" class="govuk-table__header">Action</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000002</td>
                      <td class="govuk-table__cell">6 November 2023 at 4:12pm</td>
                      <td class="govuk-table__cell">RN 00 00 10 A</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Escalated
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000002</td>
                      <td class="govuk-table__cell">6 November 2023 at 11:04am</td>
                      <td class="govuk-table__cell">CC 12 34 56 A</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Escalated
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000002</td>
                      <td class="govuk-table__cell">3 November 2023 at 2:38pm</td>
                      <td class="govuk-table__cell">SJ 12 34 56 C</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Escalated
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000002</td>
                      <td class="govuk-table__cell">2 November 2023 at 3:12pm</td>
                      <td class="govuk-table__cell">RN 00 00 10 A</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Escalated
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000002</td>
                      <td class="govuk-table__cell">1 November 2023 at 2:08pm</td>
                      <td class="govuk-table__cell">SJ 12 34 56 C</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Escalated
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000002</td>
                      <td class="govuk-table__cell">31 October 2023 at 4:04pm</td>
                      <td class="govuk-table__cell">CC 12 34 56 A</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Escalated
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="suspected-fraud">
                <h2 class="govuk-heading-l">Suspected fraud</h2>
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Agent ID</th>
                      <th scope="col" class="govuk-table__header">Date updated</th>
                      <th scope="col" class="govuk-table__header">NI number</th>
                      <th scope="col" class="govuk-table__header">Status</th>
                      <th scope="col" class="govuk-table__header">Action</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000002</td>
                      <td class="govuk-table__cell">4 November 2023 at 9:21am</td>
                      <td class="govuk-table__cell">SW 12 34 56 A</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Suspected fraud
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000002</td>
                      <td class="govuk-table__cell">2 November 2023 at 3:12pm</td>
                      <td class="govuk-table__cell">RN 00 00 10 A</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Suspected fraud
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000002</td>
                      <td class="govuk-table__cell">31 October 2023 at 2:12pm</td>
                      <td class="govuk-table__cell">SJ 12 34 56 C</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Suspected fraud
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000002</td>
                      <td class="govuk-table__cell">27 October 2023 at 2:18pm</td>
                      <td class="govuk-table__cell">RN 00 00 10 A</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Suspected fraud
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            {# AGENT 1 ON HOLD CLAIMS #}
          {% else %}
            {# AGENT 1 - AGENT ID SEARCH BOX #}
            <form action="choose-task2" method="post">
              <div class="govuk-form-group">
                <label class="govuk-label" for="width-10">
                  Find claims by agent ID
                </label>
                <input class="govuk-input govuk-input--width-10" id="agent" name="agent" type="text">
                  {{ govukButton({
        text: "Search"
      }) }}
                </div>
              </form>
              <h2 class="govuk-heading-m">
                Last updated by agent ID 88776655
              </h2>
              {# AGENT 1 - TABS #}
              <div class="govuk-tabs" data-module="govuk-tabs">
                <h2 class="govuk-tabs__title">
                  Contents
                </h2>
                <ul class="govuk-tabs__list">
                  <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                    <a class="govuk-tabs__tab" href="#paused">
                      Paused
                    </a>
                  </li>
                  <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#escalated">
                      Escalated
                    </a>
                  </li>
                  <li class="govuk-tabs__list-item">
                    <a class="govuk-tabs__tab" href="#suspected-fraud">
                      Suspected fraud
                    </a>
                  </li>
                </ul>
                <div class="govuk-tabs__panel" id="paused">
                  <h2 class="govuk-heading-l">Paused</h2>
                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Agent ID</th>
                        <th scope="col" class="govuk-table__header">Date updated</th>
                        <th scope="col" class="govuk-table__header">NI number</th>
                        <th scope="col" class="govuk-table__header">Status</th>
                        <th scope="col" class="govuk-table__header">Action</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">6 November 2023 at 9:21am</td>
                        <td class="govuk-table__cell">SW 12 34 56 A</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Paused
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">4 November 2023 at 4:21pm</td>
                        <td class="govuk-table__cell">RN 00 00 35 C</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Paused
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">4 November 2023 at 11:21am</td>
                        <td class="govuk-table__cell">QQ 12 34 56 X</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Paused
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">3 November 2023 at 3:12pm</td>
                        <td class="govuk-table__cell">RN 00 00 10 A</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Paused
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">3 November 2023 at 2:32pm</td>
                        <td class="govuk-table__cell">CC 12 34 56 A</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Paused
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">3 November 2023 at 1:38pm</td>
                        <td class="govuk-table__cell">SJ 12 34 56 C</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Paused
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">3 November 2023 at 11:21am</td>
                        <td class="govuk-table__cell">SW 12 34 56 A</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Paused
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">3 November 2023 at 10:43am</td>
                        <td class="govuk-table__cell">RN 00 00 35 C</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Paused
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">2 November 2023 at 2:34pm</td>
                        <td class="govuk-table__cell">QQ 12 34 56 X</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Paused
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">2 November 2023 at 1:57pm</td>
                        <td class="govuk-table__cell">RN 00 00 10 A</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Paused
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">2 November 2023 at 11:04am</td>
                        <td class="govuk-table__cell">CC 12 34 56 A</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Paused
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">1 November 2023 at 2:38pm</td>
                        <td class="govuk-table__cell">SJ 12 34 56 C</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Paused
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">1 November 2023 at 9:54am</td>
                        <td class="govuk-table__cell">SW 12 34 56 A</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Paused
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">1 November 2023 at 9:07am</td>
                        <td class="govuk-table__cell">RN 00 00 35 C</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Paused
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">31 October 2023 at 2:21pm</td>
                        <td class="govuk-table__cell">QQ 12 34 56 X</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Paused
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">31 October 2023 at 12:12pm</td>
                        <td class="govuk-table__cell">RN 00 00 10 A</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Paused
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">31 October 2023 at 11:41am</td>
                        <td class="govuk-table__cell">SW 12 34 56 A</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Paused
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">31 October 2023 at 10:21am</td>
                        <td class="govuk-table__cell">RN 00 00 35 C</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Paused
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">30 October 2023 at 11:31am</td>
                        <td class="govuk-table__cell">QQ 12 34 56 X</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Paused
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">30 October 2023 at 10:12am</td>
                        <td class="govuk-table__cell">RN 00 00 10 A</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Paused
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="govuk-tabs__panel" id="escalated">
                  <h2 class="govuk-heading-l">Escalated</h2>
                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Agent ID</th>
                        <th scope="col" class="govuk-table__header">Date updated</th>
                        <th scope="col" class="govuk-table__header">NI number</th>
                        <th scope="col" class="govuk-table__header">Status</th>
                        <th scope="col" class="govuk-table__header">Action</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">6 November 2023 at 4:12pm</td>
                        <td class="govuk-table__cell">RN 00 00 10 A</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Escalated
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">6 November 2023 at 11:04am</td>
                        <td class="govuk-table__cell">CC 12 34 56 A</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Escalated
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">3 November 2023 at 2:38pm</td>
                        <td class="govuk-table__cell">SJ 12 34 56 C</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Escalated
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">2 November 2023 at 3:12pm</td>
                        <td class="govuk-table__cell">RN 00 00 10 A</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Escalated
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">2 November 2023 at 11:15am</td>
                        <td class="govuk-table__cell">CC 12 34 56 A</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Escalated
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">1 November 2023 at 2:08pm</td>
                        <td class="govuk-table__cell">SJ 12 34 56 C</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Escalated
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">1 November 2023 at 10:12am</td>
                        <td class="govuk-table__cell">RN 00 00 10 A</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Escalated
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">31 October 2023 at 4:04pm</td>
                        <td class="govuk-table__cell">CC 12 34 56 A</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Escalated
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">31 October 2023 at 1:33pm</td>
                        <td class="govuk-table__cell">SJ 12 34 56 C</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Escalated
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">30 October 2023 at 2:12pm</td>
                        <td class="govuk-table__cell">RN 00 00 10 A</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Escalated
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">27 October 2023 at 11:24am</td>
                        <td class="govuk-table__cell">CC 12 34 56 A</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Escalated
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">27 October 2023 at 10:38am</td>
                        <td class="govuk-table__cell">SJ 12 34 56 C</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Escalated
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="govuk-tabs__panel" id="suspected-fraud">
                  <h2 class="govuk-heading-l">Suspected fraud</h2>
                  <table class="govuk-table">
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Agent ID</th>
                        <th scope="col" class="govuk-table__header">Date updated</th>
                        <th scope="col" class="govuk-table__header">NI number</th>
                        <th scope="col" class="govuk-table__header">Status</th>
                        <th scope="col" class="govuk-table__header">Action</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">4 November 2023 at 9:21am</td>
                        <td class="govuk-table__cell">SW 12 34 56 A</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Suspected fraud
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">2 November 2023 at 3:12pm</td>
                        <td class="govuk-table__cell">RN 00 00 10 A</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Suspected fraud
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">2 November 2023 at 11:04am</td>
                        <td class="govuk-table__cell">CC 12 34 56 A</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Suspected fraud
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">31 October 2023 at 2:12pm</td>
                        <td class="govuk-table__cell">SJ 12 34 56 C</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Suspected fraud
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">27 October 2023 at 2:18pm</td>
                        <td class="govuk-table__cell">RN 00 00 10 A</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Suspected fraud
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">27 October 2023 at 11:31am</td>
                        <td class="govuk-table__cell">CC 12 34 56 A</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Suspected fraud
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">88776655</td>
                        <td class="govuk-table__cell">25 October 2023 at 4:36pm</td>
                        <td class="govuk-table__cell">SJ 12 34 56 C</td>
                        <td class="govuk-table__cell">
                          <strong class="govuk-tag govuk-tag--blue">
                            Suspected fraud
                          </strong>
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      {% endblock %}