{% extends "layout/unbranded-agent-id.html" %}
{% block pageTitle %}
  Service centre - {{ serviceName }}
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
  <h1 class="govuk-heading-l">
    Service centre
  </h1>
  {% if data['sc'] == 1 %}
    {% set url = 'view-claim?&claimant=ij&claimStatus=success' %}
  {% elif data['sc'] == 2 %}
    {% set url = 'duplicates?dupe=not-affected' %}
  {% elif data['sc'] == 3 %}
    {% set url = 'duplicates?dupe=affected' %}
  {% elif data['sc'] == 4 %}
    {% set url = 'view-claim?&claimant=sh&claimStatus=success' %}
  {% else %}
    {% set url = 'view-claim' %}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <a href="{{ url }}" role="link" draggable="false" class="govuk-panel govuk-button link-panel govuk-!-width-full" data-module="govuk-button">
        <span class="govuk-panel__title govuk-!-font-size-27">
          Get a new claim
        </span>
      </a>
    </div>
    <div class="govuk-grid-column-one-half">
      <a
        href="nino-search"
        role="link"
        draggable="false"
        class="govuk-panel govuk-button link-panel govuk-!-width-full"
        data-module="govuk-button">
        <span class="govuk-panel__title govuk-!-font-size-27">
          Find a claimant
        </span>
      </a>
    </div>
  </div>
  <div class="govuk-!-margin-bottom-5"></div>
  <div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
      Contents
    </h2>
    <ul class="govuk-tabs__list">
      <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
        <a class="govuk-tabs__tab" href="#on-hold">
          On hold claims
        </a>
      </li>
    </ul>
    <div class="govuk-tabs__panel" id="on-hold">
      <h2 class="govuk-heading-l">On hold claims</h2>
      <table class="govuk-table">
        <div class="govuk-form-group">
          <label class="govuk-label" for="width-10">
            Find claims by Agent ID
          </label>
          <input class="govuk-input govuk-input--width-10" id="width-10" name="width10" type="text">
            <button class="govuk-button" data-module="govuk-button">
              Search
            </button>
          </div>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Agent ID</th>
              <th scope="col" class="govuk-table__header">Date updated</th>
              <th scope="col" class="govuk-table__header">NINO</th>
              <th scope="col" class="govuk-table__header">Status</th>
              <th scope="col" class="govuk-table__header">Action</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">88776655</td>
              <td class="govuk-table__cell">11 November 2023 at 9:21am</td>
              <td class="govuk-table__cell">SW 12 34 56 A</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--blue">
                  Paused
                </strong>
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="duplicates">View</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">88776655</td>
              <td class="govuk-table__cell">4 November 2023 at 9:21am</td>
              <td class="govuk-table__cell">RN 00 00 35 C</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--blue">
                  Paused
                </strong>
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="view-claim?task=new&claimant=ij&claimStatus=paused">View</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">88776655</td>
              <td class="govuk-table__cell">3 November 2023 at 9:21am</td>
              <td class="govuk-table__cell">QQ 12 34 56 X</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--blue">
                  Suspected fraud
                </strong>
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="view-claim?task=new&claimant=sh&claimStatus=suspected-fraud">View</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">88776655</td>
              <td class="govuk-table__cell">2 November 2023 at 15:12am</td>
              <td class="govuk-table__cell">RN 00 00 10 A</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--blue">
                  Paused
                </strong>
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="#">View</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">88776655</td>
              <td class="govuk-table__cell">2 November 2023 at 11:04am</td>
              <td class="govuk-table__cell">CC 12 34 56 A</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--blue">
                  Escalated
                </strong>
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="#">View</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">88776655</td>
              <td class="govuk-table__cell">1 November 2023 at 14:38am</td>
              <td class="govuk-table__cell">SJ 12 34 56 C</td>
              <td class="govuk-table__cell">
                <strong class="govuk-tag govuk-tag--blue">
                  Paused
                </strong>
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="#">View</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    {% endblock %}