{% extends "layout-agent-id.html" %}
{% block pageTitle %}
    {{ serviceName }}
{% endblock %}
{% set claimStatus = data['claimStatus'] | replace("-", " ") | capitalize %}
{% block content %}
    {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
    <div class="govuk-grid-row dwp-print-hide">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l govuk-!-margin-top-4">There are 2 matching applications
            </h1>
            <p>
                Duplicate applications have been submitted against the entered National Insurance number.
            </p>
            {% set summary %}
            {{ govukSummaryList({
                rows: [
                    {
                    key: {
                        text: "National Insurance number (NINo)"
                    },
                    value: {
                        text: "SW 12 34 56 A"
                    }
                    },
                    {
                    key: {
                        text: "Date of birth"
                    },
                    value: {
                        text: "21 July 1970"
                    }
                    }
                ]
                }) }}
            {% endset %}
            {{ govukInsetText({
                html: summary
                }) }}
            <h2 class="govuk-heading-m govuk-!-margin-top-9">Newest application</h2>
            {# sc2 duplicates - entitlement not affected #}
            {% if data['dupe'] == "not-affected" %}
                {% set urlRecent = '<a href=view-claim?claimant=kb-dupe&claimStatus=success&previous-employment=0>View</a>' %}
                {% set statusRecent %}
                {{ govukTag({
                 text: "Success",
                    classes: "govuk-tag--blue"
                 }) }}
                {% endset %}
                {# sc3 duplicates - entitlement affected #}
            {% elif data['dupe'] == "affected" %}
                {% set urlRecent = '<a href=view-claim?claimant=kb-dupe&claimStatus=success&previous-employment=1>View</a>' %}
                {% set statusRecent %}
                {{ govukTag({
                 text: "Success",
                    classes: "govuk-tag--blue"
                 }) }}
                {% endset %}
                {# no scenario - default Simon Hamilton #}
            {% else %}
                {% set urlRecent = '<a href=view-claim>View</a>' %}
                {% set statusRecent %}
                {{ govukTag({
                 text: "Success",
                    classes: "govuk-tag--blue"
                 }) }}
                {% endset %}
            {% endif %}
            {{ govukTable({
        caption: "Dates and amounts",
        captionClasses: "govuk-table__caption--m govuk-visually-hidden",
        head: [
            {
                text: "Name",
      classes: "app-custom-class"
            },
            {
                text: "Date"
            },
            {
                text: "Time"
            },
            {
                text: "Status"
            },
            {
                text: "Action"
            }
        ],
        rows: [
            [
                {
                    text: "Karan Bhopal"
                },
                {
                    text: "5 November 2023"
                },
                {
                    text: "7:26am"
                },
                {
                html: statusRecent
            },
                {
                    html:  urlRecent 
                 } ] ] }) }}
            <h2 class="govuk-heading-m govuk-!-margin-top-9">Oldest application</h2>
            {# sc2 duplicates - entitlement not affected TEST TEST#}
            {% if data['dupe'] == "not-affected" %}
                {% set urlOldest = '<a href=view-claim?claimant=kb&claimStatus=paused&previous-employment=0>View</a>' %}
                {% set statusOldest %}
                {{ govukTag({
                 text: "Paused",
                    classes: "govuk-tag--blue"
                 }) }}
                {% endset %}
                {# sc3 duplicates - entitlement affected #}
            {% elif data['dupe'] == "affected" %}
                {% set urlOldest = '<a href=view-claim?claimant=kb&claimStatus=awaiting-appointment&previous-employment=1>View</a>' %}
                {% set statusOldest %}
                {{ govukTag({
                 text: "Awaiting appointment",
                    classes: "govuk-tag--blue"
                 }) }}
                {% endset %}
                {# sc2 duplicates - entitlement not affected #}
            {% else %}
                {% set urlOldest = '<a href=view-claim?claimant=kb&claimStatus=paused>View</a>' %}
                {% set statusOldest %}
                {{ govukTag({
                 text: "Paused",
                    classes: "govuk-tag--blue"
                 }) }}
                {% endset %}
            {% endif %}
            {{ govukTable({
        caption: "Dates and amounts",
        captionClasses: "govuk-table__caption--m govuk-visually-hidden",
        head: [
            {
                text: "Name"
            },
            {
                text: "Date"
            },
            {
                text: "Time"
            },
            {
                text: "Status"
            },
            
            {
                text: "Action"
            }
        ],
        rows: [
            [
                {
                    text: "Karan Bhopal"
                },
                {
                    text: "25 October 2023"
                },
                {
                    text: "10:02am"
                },
                {
                html: statusOldest
            },
                {
                    html: urlOldest
                }
            ]
        ]
        }) }}
        </div>
    </div>
{% endblock %}