{% extends "govuk-prototype-kit/layouts/unbranded.njk" %}
{% block pageTitle %}
  What is the status of this claim?
{% endblock %}
{% set claimStatus = data['claimStatus'] | replace("-", " ") | capitalize %}
{% from "key-details-bar/macro.njk" import dwpKeyDetailsBar %}
{% from "timeline/macro.njk" import dwpTimeline %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}
{% block header %}
  {% from "internal-service-header/macro.njk" import dwpHeader %}
  <main>
    {{ dwpHeader({
        serviceName: "Apply for New Style Jobseeker’s Allowance",
        serviceHref: '#',
        container:true
    }) }}
    {{ super() }}
    {% if data['claimant'] == 'ij' %}
      {% include 'v1_1-agent/claimants/ij/key-details.html' %}
    {% elif data['claimant'] == 'kb' %}
      {% include 'v1_1-agent/claimants/kb/key-details.html' %}
    {% else %}
      <p>No claimant set.</p>
    {% endif %}
  {% endblock %}
  {% block footer %}
    {{ dwpFooter({
  meta: {
    visuallyHiddenTitle: "Meta links",
    items: [
    {
      href: "#",
            text: "Accessibility statement"
    },
    {
      href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
    },
    {
      href: "/prototype-admin/clear-data",
            text: "Clear data"
    }
    ]
  }
}) }}
  {% endblock %}
  {% block content %}
    {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
    <div class="govuk-grid-row  govuk-!-margin-top-4">
      <div class="govuk-grid-column-two-thirds">
        <form action="confirmation" method="get">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              {% set govukWarningText %}
              {{ govukWarningText({
                  text: "This action cannot be reversed",
                  iconFallbackText: "Warning"
                }) }}
              {% endset -%}
              {{ govukRadios({
                    idPrefix: 'status',
                    name: 'claimStatus',
                    fieldset: {
                      legend: {
                        text: "What is the status of this claim?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                      }
                    },
                    items: [
                        {
                            value: "awaiting-appointment",
                            text: "Awaiting appointment",
                            conditional: {
                              html: govukWarningText
                            }
                        },
                        {
                            value: "escalated",
                            text: "Escalated"
                        },
                        {
                            value: "not-entitled",
                            text: "Not entitled",
                            conditional: {
                              html: govukWarningText
                            }
                        },
                        {
                            value: "paused",
                            text: "Paused"
                        },
                        {
                            value: "suspected-fraud",
                            text: "Suspected fraud"
                        },
                        {
                            value: "withdrawn",
                            text: "Withdrawn",
                            conditional: {
                              html: govukWarningText
                            }
                        }                       
                    ]
                }) }}
            </fieldset>
          </div>
          {{ govukButton({
            text: "Update claim status"
        }) }}
        </form>
      </div>
    </div>
  {% endblock %}