{% extends "layouts/main.html" %}
{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Education and training</span>
        How many hours a week did you spend on the course?
      </h1>
      <form action="course-hours" method="post">
        {% call govukFieldset({
        }) %}
        <p class="govuk-hint">This includes supervised study, any time in class and any work set by your course director or
          tutor to be completed out of class.</p>
        <div class="govuk-form-group govuk-short-input">
          <label class="govuk-label govuk-visually-hidden" for="eduCourseHours">Hours per week</label>
          <input value="{{ data["edu-course-hours"] }}" class="govuk-input govuk-input--width-3 govuk-!-margin-right-2" id="edu-course-hours" name="eduCourseHours">
            <span class="govuk-body">hours</span>
          </div>
          {% endcall %}
          {{ govukButton({
          text: "Continue"
        }) }}
        </form>
      </div>
    </div>
  {% endblock %}