{% set items = [] %}
{% for claimStatus in selectedClaimStatuses %}
{% if claimStatus.label == "Success" or claimStatus.label == "Final fail" or claimStatus.label == "Cancelled" %}
{% endif %}

{% set items = items | push({
  heading: claimStatus.label,
  subheading: claimStatus.reason or '',
  author: loggedInAgent.firstName + " " + loggedInAgent.lastName,
  date: claimStatus.date | momentFormat1
}) %}
{% endfor %}

{# Make the statuses date descending ordered #}
{% set items = items | reverse %}
<h3 class="govuk-heading-m" id="subsection-title">Claim status history</h3>

{% if not(claimClosed) %}
{{ govukButton({
  text: "Update claim status",
  href: "/contact-centre/outbound-journey/update-status",
  classes: "govuk-!-margin-bottom-0"
}) }}
{% endif %}

{{ dwpTimeline({
  items: items
}) }}