{% extends "layout/summary.html" %}

{% block pageTitle %}
  {{ serviceName }}: Print claim details
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row  dwp-print-hide">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-top-8">Print claim details</h1>
    <p>Once you have printed the claim you can return to the service centre list or find another service centre.</p>
    {{ govukButton({
      text: "Print claim details",
      href: "print-option-2?print=bc"
    }) }}
    <p><a href="list">Return to Preston service centre</a></p>
  </div>
</div>

<div class="dwp-print-show">
  {% include "includes/print-header.html" %}
  {% include "includes/gather.html" %}
  {% include "includes/declaration.html" %}
</div>

<script>javascript:window.print();</script>
{% endblock %}
