{% extends "layout/summary.html" %}

{% block pageTitle %}
  {{ serviceName }}: Print claim details
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row  dwp-print-hide">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l govuk-!-margin-top-6">Print claim details</h1>

    <form action="print-option-4" method="post">
      {{ govukCheckboxes({
        idPrefix: "remove",
        name: "remove",
        items: [
          {
            value: "remove",
            text: "Remove this claim from the service centre list",
            checked: "checked"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Return to service centre list"
      }) }}
      </form>
      <p><a href="print-option-4?print=bc">Print again</a> </p>
  </div>
</div>

<div class="dwp-print-show">
  {% include "includes/print-header.html" %}
  {% include "includes/gather.html" %}
  {% include "includes/declaration.html" %}
</div>

<script>
javascript:window.print();
// this only detects the print dialog
// not that it actually printed
{# window.onbeforeprint = function() {
    console.log('This will be called before the user prints.');
};
window.onafterprint = function() {
    console.log('This will be called after the user prints');   
}; #}
</script>
{% endblock %}
