{% extends "layout/summary.html" %}

{% block pageTitle %}
  {{ serviceName }}: Application for {{ data['service-short-name']}} Mark as viewed
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">
    
    {% if loggedInAgent.type === agentTypes[3].type and data["claimid"] and claimListData[data["claimid"]] and not(claimListData[data["claimid"]].viewed) %}
    
      <h1 class="govuk-heading-l">Are you sure you want to mark this claim as viewed?</h1>

      {{ govukWarningText({
        text: "This action will remove the claim from the service centre list and cannot be reversed",
        iconFallbackText: "Warning"
      }) }}
      <a href="/service-centre/list?claimid={{ data['claimid'] }}" class="govuk-button">Yes, mark claim as viewed</a>

    {% endif %}

    <p><a href="/service-centre/list">Return to list without marking as viewed</a></p>
  </div>
</div>

{% endblock %}
