{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Application start date</span>
        Have you asked for advice about applying for New Style Jobseeker&rsquo;s Allowance since 22 July 2020?
      </h1>
      <p>This could be spoken or written advice from a government department, a legal or professional adviser or from an advice agency, such as Citizens Advice.</p>
      <form action="asked-for-advice" method="post">

        {% set askedAdviceYes %}

        {{ govukCharacterCount({
            name: "more-information",
            id: "more-information",
            rows: 10,
            maxlength: 600,
            label: {
              text: "Tell us who you contacted, when you contacted them and what information you were given."
            }
          }) }}

        {% endset -%}

        {{ govukRadios({
          idPrefix: 'asked-for-advice',
          name: 'asked-for-advice',
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false
            }
          },
          items: [{
            value: "yes",
            text: "Yes",
            conditional: {
              html: askedAdviceYes
            }
          }, {
            value: "no",
            text: "No"
          }]
        }) }}

        {{ govukButton({
            text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}