
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Application start date</span>
        Tell us why you did not apply for New Style Jobseeker’s Allowance before today
      </h1>

      <form action="why-did-you-not-claim" method="post">

        {% call govukFieldset({
        }) %}

        {{ govukCharacterCount({
          name: "why-did-you-not-claim",
          id: "why-did-you-not-claim",
          rows: 10,
          maxlength: 600,
          label: {
            text: "Give as much information as you can about why you did not apply sooner. For example, if you thought you could not apply you must tell us why you thought this."
          }
        }) }}

        {% endcall %}

        {{ govukButton({
          text: "Continue",
          href: "any-paid-work"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
