{% extends "layout/summary-no-search-bar.html" %}

{% block pageTitle %}
{{ serviceName }} | Cancel claim
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">
    <form action="cancel" method="post">
      {% set cancelReasonHtml %}
        {{ govukTextarea({
          name: "cancellation-reason",
          id: "cancellation-reason",
          label: {
            text: "Enter a reason for the cancellation"
          },
          classes: "js-char-count",
          attributes: {
            "maxlength": 100
          },
          rows: 3
        }) }}
      {% endset -%}

      {{ govukRadios({
        idPrefix: "cancel",
        name: "cancel",
        fieldset: {
          legend: {
            text: "Are you sure you wish to withdraw this claim?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [{
          value: "yes",
          text: "Yes"
        }, {
          value: "no",
          text: "No"
        }]
      }) }}

      {{ govukButton({
        text: "Confirm"
      }) }}

      {{ govukWarningText({
        text: "This action cannot be reversed",
        iconFallbackText: "Warning"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
