{% extends "layout/summary-no-search-bar.html" %}

{% block pageTitle %}
  {{ serviceName }}: Application for {{ data['service-short-name']}} Push to benefits system
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}


{% block beforeContent %}
{% if data['show'] === "manualUpdate" %}
  {# do nothing #}
{% else %}
  {{ govukBackLink({
    text: "Back"
  }) }}
{% endif %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">

    {% if data['show'] === "manualUpdate" %}
      <form action="pushed" method="post">
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Manual update required</h1>
          </strong>
        </div>
        <p>You will need to manually update the CIS record for this claimant.</p>
        <h2 class="govuk-heading-s">What happens next?</h2>
        <p>Update the CIS record for the following fields:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Title: <strong>Mr</strong></li>
          <li>Surname: <strong>Doe</strong></li>
          <li>Phone: <strong>01234 567890</strong></li>
        </ul>
        {{ govukButton({
          text: "Confirm record updated"
        }) }}
      </form>
    {% else %}

      {% if data['push'] === "cisError" %}
      <form action="push-cis-error" method="post">
      {% else %}
      <form action="pushed" method="post">
      {% endif %}
        <h1 class="govuk-heading-l">Push claim to the benefits system</h1>
        <p>You are about to send the claim information into the benefit system. From this point onwards the claim will be dealt with by the service centre teams.</p>
        <h2 class="govuk-heading-m">Before you continue</h2>
        <p>Make sure a Claimant Commitment has been accepted and all the claimant information is correct.</p>
        {{ govukButton({
          text: "Push this claim"
        }) }}
      </form>

    {% endif %}

  </div>
</div>

{% endblock %}
