{% extends "layout/unbranded-agent.html" %}
{% block pageTitle %}
  Service centre - {{ serviceName }}
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
  <h1 class="govuk-heading-l">Choose a task</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <a href="claim" class="tile tile--blue">
        <div class="tile__contents">
          <h2 class="tile__title">Get next claim</h2>
        </div>
      </a>
    </div>
    <div class="govuk-grid-column-one-third">
      <a href="nino-search" class="tile tile--blue">
        <div class="tile__contents">
          <h2 class="tile__title">Find a claimant</h2>
        </div>
      </a>
    </div>
    <div class="govuk-grid-column-one-third">
      <a href="#" class="tile tile--blue">
        <div class="tile__contents">
          <h2 class="tile__title">Create ID template</h2>
        </div>
      </a>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <a href="#" class="tile tile--blue">
        <div class="tile__contents">
          <h2 class="tile__title">Conduct ID check</h2>
        </div>
      </a>
    </div>
    <div class="govuk-grid-column-one-third">
      <a href="#" class="tile tile--blue">
        <div class="tile__contents">
          <h2 class="tile__title">Process automated drop-off complex claim</h2>
        </div>
      </a>
    </div>
    <div class="govuk-grid-column-one-third">
      <a href="#" class="tile tile--blue">
        <div class="tile__contents">
          <h2 class="tile__title">Process escalated complex claim</h2>
        </div>
      </a>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <a href="#" class="tile tile--blue">
        <div class="tile__contents">
          <h2 class="tile__title">Book a claimant commitment appointment</h2>
        </div>
      </a>
    </div>
    <div class="govuk-grid-column-one-third">
      <a href="/agent/mi/overview" class="tile tile--blue">
        <div class="tile__contents">
          <h2 class="tile__title">View management information</h2>
        </div>
      </a>
    </div>
  </div>
{% endblock %}