{% extends "layouts/main.html" %}
{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Current pension</span>
        Does your pension increase in the next 6 months?
      </h1>
      <form action="increase-does-it" method="post">
        {{ govukRadios({
          idPrefix: "current-pension-does-it-increase",
          name: "currentPensionDoesItIncrease",
          classes: "govuk-radios--inline",
          items: [{
            value: "current-pension-does-it-increase-yes",
            text: "Yes"
          }, {
            value: "current-pension-does-it-increase-no",
            text: "No"
          }]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}