{% extends "layouts/main.html" %}
{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="name" method="post">
        <h1 class="govuk-heading-l">We have sent you a text message with your security code</h1>
        <p>It should take one minute to arrive.</p>
        <div class="govuk-form-group govuk-!-margin-top-6">
          <label class="govuk-label" for="2fa-code">
            Security code
          </label>
          <input class="govuk-input govuk-input--width-10" id="signin-code" name="signin-code" type="text">
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>
        <p>
          <a href="sign-in-resend-2fa" class="govuk-link">I did not get a text message</a>
        </p>
        <p>
          <a href="account-recovery/access" class="govuk-link">I cannot access the mobile phone number I use to sign in</a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}