
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <form method="post" action="" name="">

            <div class="govuk-form-group">
                <span class="govuk-caption-xl">
                    Security question (TransUnion UK Limited)
                </span>

                <h1 class="govuk-heading-xl">
                    Which one of these addresses have you been associated with?
                </h1>

                <div class="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="tu-address-1" name="tu-address" type="radio" value="Address 1">
                        <label class="govuk-label govuk-radios__label" for="tu-address-1">Address 1</label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="tu-address-2" name="tu-address" type="radio" value="Address 2">
                        <label class="govuk-label govuk-radios__label" for="tu-address-2">Address 2</label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="tu-address-3" name="tu-address" type="radio" value="Address 3">
                        <label class="govuk-label govuk-radios__label" for="tu-address-3">Address 3</label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="tu-address-4" name="tu-address" type="radio" value="Address 4">
                        <label class="govuk-label govuk-radios__label" for="tu-address-4">Address 4</label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="tu-address-5" name="tu-address" type="radio" value="None of the above">
                        <label class="govuk-label govuk-radios__label" for="tu-address-5">None of the above</label>
                    </div>
                </div>

                
            </div>

            <a class="govuk-button" href="./tu-q2.html">Continue</a>

        </form>
        <p class="body-text"><a href="./more-information.html">I don't have that information</a></p>
    </div>
</div>

{% endblock %}