
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl ">
            You've chosen to use voice ID
        </h1>

        <form method="post" action="voice-id">

            <p>We're calling you now on the number you used to set up security.</p>
            <p>This may take up to 35 seconds. Please stay on this page.</p>

        {{ govukButton({
              text: "Continue"
        }) }}

            <p><a href="../../cant-answer">I don't have that information</a></p>
        </form>

    </div>
</div>
{% endblock %}
