{% extends "layouts/main.html" %}
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}
{#{% set claimStatus = data['claimStatus'] | replace("-", " ") | capitalize %}
{% block header %}
  {{ super() }}
  {% if data['claimant'] == 'sh' %}
    {% include '../get-new-claim//claimants/sh/key-details.html' %}
  {% elif data['claimant'] == 'kb' %}
    {% include '../get-new-claim//claimants/kb/key-details.html' %}
  {% elif data['claimant'] == 'ij' %}
    {% include 'v1_0-agent/claimants/ij/key-details.html' %}
  {% else %}
    <p>No claimant set.</p>
  {% endif %}
{% endblock %} #}
{% block content %}
  <div class="govuk-grid-row dwp-print-hide">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% if data['task'] == 'book' %}
        <h1 class="govuk-heading-l govuk-visually-hidden">Book appointment</h1>
        {% if data['claimant'] == 'sh' %}
          {% include 'v1_0-agent/claimants/sh/book.html' %}
        {% elif data['claimant'] == 'kb' %}
          {% include 'v1_0-agent/claimants/kb/book.html' %}
        {% elif data['claimant'] == 'ij' %}
          {% include 'v1_0-agent/claimants/ij/book.html' %}
        {% else %}
          <p>No claimant set.</p>
        {% endif %}
      {% else %}
        <h1 class="govuk-heading-l govuk-visually-hidden">Claim processing</h1>
        {% if data['guidMismatch'] == '1' %}
          {# include Simon Hamiltons nino as its default #}
          {% include 'v1_0-agent/claimants/sh/mismatch.html' %}
        {% endif %}
        {% if data['claimant'] == 'sh' %}
          {% include 'v1_0-agent/claimants/sh/summary-list.html' %}
        {% elif data['claimant'] == 'kb' %}
          {% include 'v1_0-agent/claimants/kb/summary-list.html' %}
        {% elif data['claimant'] == 'ij' %}
          {% include 'v1_0-agent/claimants/ij/summary-list.html' %}
        {% else %}
          <p>No claimant set.</p>
        {% endif %}
      {% endif %}
      {{ govukButton({
  text: "Update and return to application",
  href: "view-claim"
}) }}
    </div>
    {#<div class="govuk-grid-column-one-third">
                                  <aside class="app-related-items" role="complementary">
                                    {% include "./actions.html" %}
                                    <h3 class="govuk-heading-m">Claim status history</h3>
                                    {% if data['claimant'] == 'sh' %}
                                      {% include 'v1_0-agent/claimants/sh/history.html' %}
                                    {% elif data['claimant'] == 'kb' %}
                                      {% include 'v1_0-agent/claimants/kb/history.html' %}
                                    {% elif data['claimant'] == 'ij' %}
                                      {% include 'v1_0-agent/claimants/ij/history.html' %}
                                    {% else %}
                                      <p>No claimant set.</p>
                                    {% endif %}
                                  </aside>
                                </div>#}
  </div>
{% endblock %}