{% extends "base-no-search-bar.html" %}
{% block pageTitle %}
  DWP Agent Prototype - {{ serviceName }}
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
  <div class="govuk-!-margin-top-9">
    <form action="login" method="post">
      {% set items = [] %}
      {% for agentType in agentTypes %}
        {% set items = items | push({ text: agentType.label, value: agentType.type}) %}
      {% endfor %}
      {{ govukRadios({
        idPrefix: "login",
        name: "login",
        fieldset: {
          classes: "govuk-!-margin-top-6",
          legend: {
            text: "Use the service as",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: items
      }) }}
      {{ govukButton({
        text: "Login"
      }) }}
    </form>
    <!--<a href="error">Error pages</a>-->
  </div>
  <!-- <hr class="break">
  
  <div class="govuk-grid-row govuk-!-margin-top-9"> <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Versions</h2>
      <p>As we learn more about the <b>{{ serviceName }}</b> service and our user needs we are iterating the prototypes. Previous versions will be kept here as a historical record. The latest version can be accessed above.</p>
  
      {{ govukButton({
        text: "Visit latest version",
        href: "https://dwp-jsa-admin.herokuapp.com"
      }) }}
  </div> </div>
  
  <div class="govuk-!-margin-top-5"> {{ govukDetails({
      summaryText: "See all previous versions",
      html: '<dl class="app-check-your-answers app-check-your-answers--short">
  
  <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question" style="width: 15%;">
        <span class="govuk-tag">Version 9</span> <br><small>27/11/2018</small>
      </dt>
      <dd class="app-check-your-answers__answer">
        This version includes the options around the <a href="https://dwp-jsa-admin-prototype-v9.herokuapp.com/common/nino-search?show=scenarios">push to service centre</a>
        with success and failure, discussed in design session with stakeholders.
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="https://dwp-jsa-admin-prototype-v9.herokuapp.com/" title="Opens a new URL" class="govuk-button">
          View <span class="govuk-visually-hidden">Version 9</span>
        </a>
      </dd>
  </div>
  
  <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question" style="width: 15%;">
        <span class="govuk-tag">Version 8</span> <br><small>20/11/2018</small>
      </dt>
      <dd class="app-check-your-answers__answer">
        Amend Service Centre we now only need to have NINO search, removed find a service centre 
        and list of results. Also removed the ability to mark as viewed.
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="https://dwp-jsa-admin-prototype-v8.herokuapp.com/" title="Opens a new URL" class="govuk-button">
          View <span class="govuk-visually-hidden">Version 8</span>
        </a>
      </dd>
  </div>
  
  <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question" style="width: 15%;">
        <span class="govuk-tag">Version 7</span> <br><small>14/11/2018</small>
      </dt>
      <dd class="app-check-your-answers__answer">
        Introduce Service centre agent access and features; Allow existing user types to cancel a claim
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="https://dwp-jsa-admin-prototype-v7.herokuapp.com/" title="Opens a new URL" class="govuk-button">
          View <span class="govuk-visually-hidden">Version 7</span>
        </a>
      </dd>
  </div>
  
  <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question" style="width: 15%;">
        <span class="govuk-tag">Version 6</span> <br><small>08/11/2018</small>
      </dt>
      <dd class="app-check-your-answers__answer">
        Added ability to login as different DWP agents. Added service centre screens (first stab). Added contact centre screens. Refactoring of claimant data and statuses.
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="https://dwp-jsa-admin-prototype-v6.herokuapp.com/" title="Opens a new URL" class="govuk-button">
          View <span class="govuk-visually-hidden">Version 6</span>
        </a>
      </dd>
  </div>
  
  <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question" style="width: 15%;">
        <span class="govuk-tag">Version 5</span> <br><small>24/10/2018</small>
      </dt>
      <dd class="app-check-your-answers__answer">
        Better push to JSAPS user experience, added secondary navigation component. Also added edit claim function.
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="https://dwp-jsa-admin-prototype-v5.herokuapp.com/" title="Opens a new URL" class="govuk-button">
          View <span class="govuk-visually-hidden">Version 5</span>
        </a>
      </dd>
  </div> <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question" style="width: 15%;">
        <span class="govuk-tag">Version 4</span> <br><small>22/10/2018</small>
      </dt>
      <dd class="app-check-your-answers__answer">
        Abandoned version 4. This was going to be push to JSAPS. The work is merged into version 5 along with editing the claim.
        See iteration 4 progress above.
      </dd>
  </div>
  
  <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question" style="width: 15%;">
        <span class="govuk-tag">Version 3</span> <br><small>11/10/2018</small>
      </dt>
      <dd class="app-check-your-answers__answer">
        Summary updates with feedback from business. The summary now has 4 options to test with work coaches. PV CIS marker 
        dropped due to security concerns from business. Added conflicting claim marker.
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="https://dwp-jsa-admin-prototype-v3.herokuapp.com/" title="Opens a new URL" class="govuk-button">
          View <span class="govuk-visually-hidden">Version 3</span>
        </a>
      </dd>
  </div> <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question" style="width: 15%;">
        <span class="govuk-tag">Version 2</span> <br><small>03/10/2018</small>
      </dt>
      <dd class="app-check-your-answers__answer">
        Updated with feedback from Work Coaches. The summary is now printed as it was deemed useful by several Work Coaches. Added
        a page for an invalid nino. Added complete list for evidence and forms to check. Updated key details with telephone and conflicting benefits.
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="https://dwp-jsa-admin-prototype-v2.herokuapp.com/" title="Opens a new URL" class="govuk-button">
          View <span class="govuk-visually-hidden">Version 2</span>
        </a>
      </dd>
  </div> <div class="app-check-your-answers__contents">
      <dt class="app-check-your-answers__question" style="width: 15%;">
        <span class="govuk-tag">Version 1</span> <br><small>26/09/2018</small>
      </dt>
      <dd class="app-check-your-answers__answer">
        Initial version based on the <a href="https://github.com/valtech-uk/jsa-prototype">citizen prototype repository</a>.
      </dd>
      <dd class="app-check-your-answers__change">
        <a href="https://dwp-jsa-admin-prototype-v1.herokuapp.com/" title="Opens a new URL" class="govuk-button">
          View <span class="govuk-visually-hidden">Version 1</span>
        </a>
      </dd>
  </div> </dl> ' }) }} </div> -->
{% endblock %}