{% extends "layout/unbranded-agent-cc.html" %}
{% block pageTitle %}
  Service centre - {{ serviceName }}
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
  <h1 class="govuk-heading-l">
    Contact centre
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <a
        href="assisted-digital-introduction"
        role="link"
        draggable="false"
        rel="noreferrer noopener"
        target="_blank"
        class="govuk-panel govuk-button link-panel govuk-!-width-full"
        data-module="govuk-button">
        <span class="govuk-panel__title govuk-!-font-size-27">
          Process a new claim over the phone (opens in new tab)
        </span>
      </a>
    </div>
    <div class="govuk-grid-column-one-half">
      <a
        href="view-claim?task=book&agent=cca&claimant=ij&claimStatus=awaiting-appointment"
        role="link"
        draggable="false"
        class="govuk-panel govuk-button link-panel govuk-!-width-full"
        data-module="govuk-button">
        <span class="govuk-panel__title govuk-!-font-size-27">
          Book an appointment
        </span>
      </a>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <a
        href="view-claim?task=new&agent=cca&claimant=ij&claimStatus=new-claim"
        role="link"
        draggable="false"
        class="govuk-panel govuk-button link-panel govuk-!-width-full"
        data-module="govuk-button">
        <span class="govuk-panel__title govuk-!-font-size-27">
          Get a new claim
        </span>
      </a>
    </div>
    <div class="govuk-grid-column-one-half">
      <a
        href="nino-search"
        role="link"
        draggable="false"
        class="govuk-panel govuk-button link-panel govuk-!-width-full"
        data-module="govuk-button">
        <span class="govuk-panel__title govuk-!-font-size-27">
          Find a claimant
        </span>
      </a>
    </div>
  </div>
{% endblock %}