{% extends "./view-claim.html" %}
{% block pageTitle %}
  Select a status
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row  govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
      <form action="confirmation" method="get">
        <div class="govuk-form-group">
          <fieldset
            class="govuk-fieldset">
            {# Update claim sub-status radio buttons for APPOINTMENT BOOKING FIRST FAIL #}
            {% if data['claimStatus'] == 'first-fail' and data['task'] == 'book' %}
              {{ govukRadios({
          idPrefix: 'status',
          name: 'statusReason',
          fieldset: {
          legend: {
          text: "When do you want to contact the claimant?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
          }
          },
          items: [
          {
          value: "callback-in-1-hour",
          text: "Callback in 1 hour"
          },
          {
          value: "callback-in-2-hours",
          text: "Callback in 2 hours"
          },
          {
          value: "callback-in-3-hours",
          text: "Callback in 3 hours"
          }
          ]
          }) }}
              {# Update claim sub-status radio buttons for APPOINTMENT BOOKING FINAL FAIL #}
            {% elif data['claimStatus'] == 'final-fail' and data['task'] == 'book' %}
              {{ govukRadios({
          idPrefix: 'status',
          name: 'statusReason',
          fieldset: {
          legend: {
          text: "How do you want to contact the claimant about the final fail to contact them?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
          }
          },
          items: [
          {
          value: "voicemail",
          text: "Voicemail"
          },
          {
          value: "letter",
          text: "Letter"
          }
          ]
          }) }}
            {% endif %}
          </fieldset>
        </div>
        {{ govukButton({
      text: "Continue"
      }) }}
      </form>
    </div>
  </div>
{% endblock %}