{% extends "layout/unbranded-agent-cc.html" %}
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}
{% set claimStatus = data['claimStatus'] | replace("-", " ") | capitalize %}
{% block header %}
  {{ super() }}
  {% if data['claimant'] == 'ij' %}
    {% include 'design-ideas/wt-5834-contact-centre/claimants/ij/key-details.html' %}
  {% elif data['claimant'] == 'kb' %}
    {% include 'design-ideas/wt-5834-contact-centre/claimants/kb/key-details.html' %}
  {% else %}
    <p>No claimant set.</p>
  {% endif %}
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row dwp-print-hide">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-visually-hidden">Claim processing</h1>
      {% include './includes/warnings.html' %}
      {% if data['guidMismatch'] == '1' %}
        {# include Simon Hamiltons nino as its default #}
        {% include 'design-ideas/wt-5834-contact-centre/claimants/ij/mismatch.html' %}
      {% endif %}
      <h2 class="govuk-heading-l govuk-visually-hidden">Claimant application</h2>
      {% if data['claimant'] == 'ij' %}
        {% include 'design-ideas/wt-5834-contact-centre/claimants/ij/application.html' %}
      {% elif data['claimant'] == 'kb' %}
        {% include 'design-ideas/wt-5834-contact-centre/claimants/kb/application.html' %}
      {% else %}
        <p>No claimant set.</p>
      {% endif %}
    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        {% include "./includes/actions.html" %}
        <h3 class="govuk-heading-m">Claim status history</h3>
        {% if data['claimant'] == 'ij' %}
          {% include 'design-ideas/wt-5834-contact-centre/claimants/ij/history.html' %}
        {% elif data['claimant'] == 'kb' %}
          {% include 'design-ideas/wt-5834-contact-centre/claimants/kb/history.html' %}
        {% else %}
          <p>No claimant set.</p>
        {% endif %}
      </aside>
    </div>
  </div>
{% endblock %}