{% set r = [1, 2, 3] | random %}
{% set list = [
    "Claimant doesn’t match CIS record",
    "Claimant name, date of birth and address matches CIS record",
    "You will need to match claimant with the CIS record manually"] %}
{% set randomList = list | randomise(r) %}
<section class="dwp-print-hide">
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">Warning</span>
      <span class="govuk-heading-m">Important</span>
    </strong>
    {# {% if randomList.length > 1 %}
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
            {% for item in randomList %}
              <li>{{ item }}</li>
            {% endfor %}
          </ul>
         {% else %}#}
    <p class="govuk-!-margin-bottom-0">{{ randomList[0] }}</p>
    {# {% endif %}#}
  </div>
</section>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible dwp-print-hide">