{% extends "layout/summary-no-search-bar.html" %}

{% block pageTitle %}
Outbound journey - {{ serviceName }}
{% endblock %}

{% block header %}
  {% include "includes/debug-logged-in-agent-type.html" %}
  
  {{ dwpHeader({
    "homepageUrl": "/",
    "serviceName": serviceName,
    "serviceUrl": "/",
    "containerClasses": "govuk-width-container",
    "searchBar": false
  }) }}
  
  {{ dwpKeyDetailsBar({
    claimantName: "Miss Amy Burke",
    claimantNINO: "CC 00 00 02 A",
    claimStatus: currentClaimStatus.label,
    items: [
      {title: 'D.O.B', value: "21/06/1976"},
      {title: 'Postcode', value: "LL23 7HD"},
      {title: 'Phone', value: "0161 1234564"},
      {title: 'Claim submitted (IDOC)', value: "26/03/2020"}
    ],
    showToggle: showToggle,
    classes: "dwp-print-hide"
  }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    classes: "govuk-width-container",
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-!-margin-top-8">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l govuk-visually-hidden">Claim for {{ data['service-short-name'] }}</h1>
        {% if data['show'] === 'cis' %}
        {% include "includes/cis-unavailable-cc.html" %}
        {% else %}
        {% include "includes/cis-flags-cc.html" %}
        {% endif %}
        
        <section class="govuk-!-margin-bottom-6">
          <h2 class="govuk-heading-m">Personal details</h2>

          <dl role="list" class="app-check-your-answers app-check-your-answers--long">
            {{ checkAnswersItem("Contact number", currentClaimantData.claimant.telephone) }}
            {{ checkAnswersItem("Home address", currentClaimantData.claimant.address.line1 + "<br>" + currentClaimantData.claimant.address.line2 + "<br>" + currentClaimantData.claimant.address.postcode) }}
            {{ checkAnswersItem("Not available on these days", '<ul class="govuk-list"><li>Monday 9 September (Morning)</li><li>Monday 10 September (Afternoon)</li></ul>') }}
          </dl>
        </section>
        
        <section>
          <h2 class="govuk-heading-m">Local office</h2>
          {% if data['show'] === 'cis' %}
          <p><strong>Local office look up is currently unavailable. You will need to search for the local office manually.</strong></p>
          {% else %}
          <dl role="list" class="app-check-your-answers app-check-your-answers--long">
            {{ checkAnswersItem("Telephone", "0800 169 0190<br> Welsh language 0800 169 0207") }}
            {{ checkAnswersItem("Name", "St Marylebone Jobcentre") }}
            {{ checkAnswersItem("Address", "26 - 46 Lisson Grove<br>London<br>United Kingdom<br>NW1 6TZ") }}
          </dl>
          {% endif %}
        </section>
        
      </div>

      <div class="govuk-grid-column-one-third">

        <aside class="app-related-items govuk-!-margin-top-0" role="complementary">

          {# Claim actions CC #}
          <h3 class="govuk-heading-m" id="claim-actions-title">Claim actions</h3>
          <nav role="navigation" aria-labelledby="claim-actions-title">
            <a href="bau-duplicate.html">Update claim information</a>
          </nav>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          
          {# Status history CC #}
          {% set items = [] %}
          {% for claimStatus in selectedClaimStatuses %}
            {% if claimStatus.label == "Success" or claimStatus.label == "Final fail" or claimStatus.label == "Cancelled" %}
            {% endif %}

            {% set items = items | push({
              heading: claimStatus.label,
              subheading: claimStatus.reason or '',
              author: loggedInAgent.firstName + " " + loggedInAgent.lastName,
              date: claimStatus.date | momentFormat1
            }) %}
          {% endfor %}

          {# Make the statuses date descending ordered #}
          {% set items = items | reverse %}
          <h3 class="govuk-heading-m" id="subsection-title">Claim status history</h3>

          {% if not(claimClosed) %}
            {{ govukButton({
              text: "Update claim status",
              href: "bau-duplicate.html",
              classes: "govuk-!-margin-bottom-0"
            }) }}
          {% endif %}

          {{ dwpTimeline({
            items: items
          }) }}

        </aside>
        
      </div>
    </div>
  </div>
{% endblock %}
