
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Have you been employed in the past 3 years?</h1>

      <form action="employed" method="post">

        <div class="govuk-form-group">

            <fieldset class="govuk-fieldset">

                {{ govukRadios({
                    idPrefix: 'employed',
                    name: 'eligibilityEmployed',
                    items: [
                        {
                            value: "eligibility-employed-yes",
                            text: "Yes"
                        },
                        {
                            value: "eligibility-employed-no",
                            text: "No"
                        }
                    ]
                })
                }}

            </fieldset>
            

        </div>

        {{ govukButton({
            text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
