{% extends "layout/summary.html" %}

{% block pageTitle %}
  {{ serviceName }}: Application for {{ data['service-short-name']}} Customer Statement | {{ currentClaimantData.claimant.title }} {{ currentClaimantData.claimant.firstName }} {{ currentClaimantData.claimant.lastName }}: {{ currentClaimantData.claimant.nino }}
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Claim information</h1>

    {% if loggedInAgent.type === agentTypes[2].type %}
      {% if data['view'] == "incompatible" %}
      {{ govukWarningText({
        text: "Claimant has existing interest in an incompatible benefit",
        iconFallbackText: "Warning"
      }) }}
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible dwp-print-hide">
      {% elif data['push'] == "cisError" %}
        {% include "includes/cis-unavailable.html" %}
      {% else %}
        {% include "includes/cis-flags.html" %}
      {% endif %}
    {% endif %}

    {% include "includes/evidence-section.html" %}
    {% include "includes/details-id.html" %}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> 
    {% include "includes/forms-section.html" %}
  </div>
  <div class="govuk-grid-column-one-third dwp-print-hide">
    <aside class="app-related-items govuk-!-margin-top-0" role="complementary">
      <h3 class="govuk-heading-m" id="claim-actions-title">Claim actions</h3>
      <nav role="navigation" aria-labelledby="claim-actions-title">
        <ul class="govuk-list govuk-!-font-size-16">

          {# If WC or SC #}
          {% if loggedInAgent.type === agentTypes[2].type or agentTypes[3].type %}
            <li><a href="customer-statement">View customer statement</a></li>
          {% endif %}

          {# If WC #}
          {% if loggedInAgent.type === agentTypes[2].type %}

            <li><a href="check-answers?mode=agent">Update claim information</a></li>
            {#<li><a href="#">Claimant work search information</a></li>#}
            {% if data['push'] === "cisError" %}
            <li><a href="/work-coach/push?push=cisError">Push claim to benefits system</a></li>
            {% else %}
            <li><a href="/work-coach/push">Push claim to benefits system</a></li>
            {% endif %}
            <li><a href="/work-coach/cancel?status=notPushed">Withdraw claim</a></li>
          {% endif %}

        </ul>
      </nav>
      {# <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> #}
      {# If WC #}
      {# {% if loggedInAgent.type === agentTypes[2].type %}
        <a href="javascript:window.print();" class="govuk-button govuk-!-margin-bottom-0">Print cover sheet</a>
      {% endif %} #}

    </aside>
  </div>
</div>

{% endblock %}
