{% extends "layout/summary-no-search-bar.html" %}

{% block pageTitle %}
{{ serviceName }} | Updated
{% endblock %}

{% block beforeContent %}
{% endblock %}



{% block content %}
<div class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-4">

      <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
          <h1 class="govuk-panel__title">Claim successfully updated</h1>
          <div class="govuk-panel__body">

                  <span>The claim for Mr John Smith CC 00 00 55 A has been updated to Success</span>



          </div>
      </div>

      {% if isPushFailed %}
        <div class="govuk-warning-text govuk-!-margin-top-4">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-0">Push to Service Centre failed</h1>
          </strong>
        </div>
        <h2 class="govuk-heading-s">What happens next?</h2>
        <p>You need to send the printed form, evidence and additional forms to a service centre for clerical entry.</p>
      {% endif %}

      {% if isCancelled %}
        {# <p>This claim was withdrawn <span>{{ time | momentFormat2 }}</span></p> #}
        {% if status.reason %}
          <p><strong>Reason given for cancelling this claim:</strong><br>{{ status.reason }}</p>
        {% endif %}
      {% endif%}

      {% if isClerical %}
        <p>This claim was sent clerically because the claimant has an existing interest in an incompatible benefit.</p>
        <p>This claim was sent clerically because the push to the service centre failed.</p>
      {% endif%}

      {% if isPushed %}
        <h2 class="govuk-heading-s">What happens next?</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>A decision maker will now review the claim documents and evidence</li>
          <li>The service centre will contact the claimant with a decision about their benefit entitlement</li>
        </ul>

        <p>You can close this window or find another claim.</p>
      {% endif %}

      {# if CC agent user #}
      {% if loggedInAgent.type === agentTypes[0].type %}
        <h2 class="govuk-heading-s">What happens next?</h2>
        <p>The claim has been updated. You can now continue to process the next claimant or go back to your start screen.</p>
      {% endif %}

      {# if CC manager user #}
      {% if loggedInAgent.type === agentTypes[1].type %}
        <h2 class="govuk-heading-s">What happens next?</h2>
        <p>The claim has been updated. You can now continue to process the next claimant or go back to your start screen.</p>
      {% endif %}

      {# if WC #}
      {% if loggedInAgent.type === agentTypes[2].type %}
        {{ govukButton({
          text: "Find another claim",
          href: "/common/nino-search"
        }) }}

      {# if other user #}
      {% else %}
        {{ govukButton({
          text: "View next claimant",
          href: "/features/alt-formats/contact-centre"
        }) }}
        <p><a href="/features/alt-formats/contact-centre">Return to start screen</a></p>
      {% endif %}
    </div>
  </div>
</div>

{% endblock %}
