{% extends "layout/unbranded-agent.html" %}
{% block pageTitle %}
  Service centre - {{ serviceName }}
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
  <span class="govuk-caption-l">Service centre agent</span>
  <h1 class="govuk-heading-l">Choose a task</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <a href="view-claim?task=fix&claimStatus=ID-not-verified&claimant=ij" class="tile tile--blue">
        <div class="tile__contents">
          <h2 class="tile__title">Fix a push fail claim</h2>
        </div>
      </a>
    </div>
    <div class="govuk-grid-column-one-half">
      <a href="view-claim?task=process&claimStatus=ID-verified&claimant=kb" class="tile tile--blue">
        <div class="tile__contents">
          <h2 class="tile__title">Process a claim</h2>
        </div>
      </a>
    </div>
    <div class="govuk-grid-column-one-half">
      <a href="view-claim?task=ID-check&claimStatus=ID-not-verified&claimant=sh" class="tile tile--blue">
        <div class="tile__contents">
          <h2 class="tile__title">Conduct an ID check</h2>
        </div>
      </a>
    </div>
    <div class="govuk-grid-column-one-half">
      <a href="view-claim?task=ID-template&claimStatus=ID-not-verified&claimant=sh&guidMismatch=0" class="tile tile--blue">
        <div class="tile__contents">
          <h2 class="tile__title">Create an ID template</h2>
        </div>
      </a>
    </div>
  </div>
{% endblock %}