{% extends "layout/summary-no-search-bar.html" %} {% block pageTitle %} Update the status of this claim {% endblock %} {% block content %}

<div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form action="../../common/status-update-confirmation" method="post">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset govuk-!-margin-top-6">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                Update the status of this claim
                            </h1>
                        </legend>

                        <div class="govuk-radios govuk-radios--conditional" data-module="radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="update-status-1" name="updateStatus" type="radio" value="preview" aria-controls="conditional-update-status-1" aria-expanded="false" />
                                <label class="govuk-label govuk-radios__label" for="update-status-1">
                                    Preview
                                </label>
                            </div>

                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-update-status-1">
                                <div class="govuk-form-group">
                                    <label class="govuk-label">
                                        Please give more detail
                                    </label>

                                    <select class="govuk-select govuk-input--width-10" id="" name="previewReason">
                                        <option value="Please select" disabled="">Please select</option>

                                        <option value="Too early 7-8am">Too early 7-8am</option>

                                        <option value="Too early 8-9am">Too early 8-9am</option>

                                        <option value="Too late 8-9pm">Too late 8-9pm</option>

                                        <option value="PV flag">PV flag</option>
                                    </select>
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="update-status-2" name="updateStatus" type="radio" value="noSlotsAvailable" />
                                <label class="govuk-label govuk-radios__label" for="update-status-2">
                                    No slots available
                                </label>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="update-status-3" name="updateStatus" type="radio" value="firstFail" aria-controls="conditional-update-status-3" aria-expanded="false" />
                                <label class="govuk-label govuk-radios__label" for="update-status-3">
                                    First fail
                                </label>
                            </div>

                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-update-status-3">
                                <div class="govuk-form-group">
                                    <label class="govuk-label">
                                        Please give more detail
                                    </label>

                                    <select class="govuk-select govuk-input--width-10" id="" name="firstFailReason">
                                        <option value="Please select" disabled="">Please select</option>

                                        <option value="Callback in 1hr">Callback in 1hr</option>

                                        <option value="Callback in 2hrs">Callback in 2hrs</option>

                                        <option value="Callback in 3hrs">Callback in 3hrs</option>

                                        <option value="Fail to attend">Fail to attend</option>

                                        <option value="Landline only">Landline only</option>

                                        <option value="Wrong NiNO">Wrong NiNO</option>
                                    </select>
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="update-status-4" name="updateStatus" type="radio" value="finalFail" aria-controls="conditional-update-status-4" aria-expanded="false" />
                                <label class="govuk-label govuk-radios__label" for="update-status-4">
                                    Final fail
                                </label>
                            </div>

                            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-update-status-4">
                                <div class="govuk-form-group">
                                    <label class="govuk-label">
                                        Please give more detail
                                    </label>

                                    <select class="govuk-select govuk-input--width-10" id="" name="finalFailReason">
                                        <option value="Please select" disabled="">Please select</option>

                                        <option value="Voicemail if possible">Voicemail if possible</option>

                                        <option value="No voicemail – Letter sent">No voicemail – Letter sent</option>

                                        <option value="Appointee Letter">Appointee Letter</option>
                                    </select>
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="update-status-5" name="updateStatus" type="radio" value="success" />
                                <label class="govuk-label govuk-radios__label" for="update-status-5">
                                    Success
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                <button type="submit" class="govuk-button">
                    Continue
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
