{% extends "./view-claim.html" %}
{% block pageTitle %}
  Claim updated
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data['claimant'] == 'sh' %}
        {% include 'v2_0-agent/service-centre-agent/claimants/sh/update-confirmation.html' %}
      {% elif data['claimant'] == 'kb' %}
        {% include 'v2_0-agent/service-centre-agent/claimants/kb/update-confirmation.html' %}
      {% elif data['claimant'] == 'kb-dupe' %}
        {% include 'v2_0-agent/service-centre-agent/claimants/kb-dupe/update-confirmation.html' %}
      {% elif data['claimant'] == 'ij' %}
        {% include 'v2_0-agent/service-centre-agent/claimants/ij/update-confirmation.html' %}
      {% else %}
        <p>No claimant set.</p>
      {% endif %}
      <p class="govuk-body">
        You can now find this claim in your last updated claims.
      </p>
      {{ govukButton({
        text: "Return to main menu",
        href: "/v2_0-agent/service-centre-agent/choose-task3"
      }) }}
    </div>
  </div>
</div>{% endblock %}