{% extends "layouts/main.html" %}
{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Previous employment</span>
        Have you had another job that has ended in the past 6 months?
      </h1>
      <form action="another-job-ended-last-six-months" method="post">
        {{ govukRadios({
            idPrefix: 'pe-another-last-six-months',
            name: 'peAnotherLastSixMonths',
            classes: "govuk-radios--inline",
            items: [
                {
                    value: "yes",
                    text: "Yes"
                },
                {
                    value: "no",
                    text: "No"
                }
            ]
          }) }}
        {{ govukButton({
            text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}