

/* 
////!!! Previous styling for Choose a task - this fails accessibility!!!
*/
.tile {
  @extend .govuk-body-m;
  display: block;
  position: relative;
  text-align: center;
  min-height: 18ex;
  line-height: 18ex;
  vertical-align: middle;

  &,
  &:hover {
    text-decoration: none;
  }

  &::before {
    content: '';
    position: relative;
    width: 0;
    height: 100%;
  }

  &::before,
  .tile__contents {
    display: inline-block;
    max-width: 90%;
    vertical-align: middle;
  }

  .tile__text {
    margin-bottom: 0;
  }

  .tile__title {
    @extend .govuk-heading-s;
    margin: 0;
  }
}

.tile--blue {
  background: govuk-colour('blue');

  .tile__title,
  .tile__text {
    color: govuk-colour('white');
  }

  &:hover {
    background: govuk-colour('light-blue');
  }

  &:focus {
    .tile__title,
    .tile__text {
      color: govuk-colour('black');
    }
  }
}
