.link-panel {
  background: $govuk-link-colour;
  min-height: 190px;
  max-height: 190px;
  @include govuk-responsive-padding(6);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.link-panel:hover {
  background: $govuk-link-hover-colour;
}
