{% extends "layout-search-bar.html" %}
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}
{% set claimStatus = data['claimStatus'] | replace("-", " ") | capitalize %}
{% block header %}
  {{ super() }}
  {% if data['claimant'] == 'ij' %}
    {% include 'v1_0-agent/claimants/ij/key-details.html' %}
  {% elif data['claimant'] == 'kb' %}
    {% include 'v1_0-agent/claimants/kb/key-details.html' %}
  {% else %}
    <p>No claimant set.</p>
  {% endif %}
{% endblock %}
{% block content %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
  <div class="govuk-grid-row dwp-print-hide">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Claim information</h1>
      {% if data['guidMismatch'] == '1' %}
        {# include Simon Hamiltons nino as its default #}
        {% include 'v1_0-agent/claimants/ij/mismatch.html' %}
      {% endif %}
      <h2 class="govuk-heading-l govuk-visually-hidden">Claim information</h2>
      {% include './includes/warnings.html' %}
      {% include 'v1_0-agent/work-coach/includes/evidence-section.html' %}
    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        {% include "./actions.html" %}
      </aside>
    </div>
  </div>
{% endblock %}