
{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Current employment</span>
        What is the address of your current employer?
      </h1>

      <form action="employer-address" method="post">

        {% set jobref = "job" + data["jobnum"] + "-" %}
        {% call govukFieldset({
        }) %}

        {{ govukInput({
          label: {
            html: "Building and street <span class='govuk-visually-hidden'>line 1 of 2</span>"
          },
          id: "ce-address-line-1",
          name: jobref + "ce-address-line-1",
          value: data[jobref + "ce-address-line-1"]
        }) }}

        {{ govukInput({
          label: {
            html: "<span class='govuk-visually-hidden'>Building and street line 2 of 2</span>"
          },
          id: "ce-address-line-2",
          name: jobref + "ce-address-line-2",
          value: data[jobref + "ce-address-line-2"]
        }) }}

        {{ govukInput({
          label: {
            text: "Town or city"
          },
          classes: "govuk-!-width-two-thirds",
          id: "ce-address-town",
          name: jobref + "ce-address-town",
          value: data[jobref + "ce-address-town"]
        }) }}

        {{ govukInput({
          label: {
            text: "Postcode (optional)"
          },
          classes: "govuk-input--width-10",
          id: "ce-address-postcode",
          name: jobref + "ce-address-postcode",
          value: data[jobref + "ce-address-postcode"]
        }) }}

        {% endcall %}

        {{ govukButton({
            text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
