{% extends "template.njk" %}

{% from "back-link/macro.njk"     import govukBackLink %}
{% from "breadcrumbs/macro.njk"   import govukBreadcrumbs %}
{% from "button/macro.njk"        import govukButton %}
{% from "checkboxes/macro.njk"    import govukCheckboxes %}
{% from "date-input/macro.njk"    import govukDateInput %}
{% from "details/macro.njk"       import govukDetails %}
{% from "error-message/macro.njk" import govukErrorMessage %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "fieldset/macro.njk"      import govukFieldset %}
{% from "file-upload/macro.njk"   import govukFileUpload %}
{% from "input/macro.njk"         import govukInput %}
{% from "label/macro.njk"         import govukLabel %}
{% from "panel/macro.njk"         import govukPanel %}
{% from "phase-banner/macro.njk"  import govukPhaseBanner %}
{% from "radios/macro.njk"        import govukRadios %}
{% from "select/macro.njk"        import govukSelect %}
{% from "skip-link/macro.njk"     import govukSkipLink %}
{% from "table/macro.njk"         import govukTable %}
{% from "tag/macro.njk"           import govukTag %}
{% from "textarea/macro.njk"      import govukTextarea %}
{% from "warning-text/macro.njk"  import govukWarningText %}
{% from "inset-text/macro.njk"    import govukInsetText %}
{% from "tabs/macro.njk"          import govukTabs %}

{# Custom macros #}
{% from "macros/macros.njk"                                 import checkAnswersItem %}
{% from "components/dwp-header/macro.njk"                   import  dwpHeader %}
{% from "components/dwp-timeline/macro.njk"                 import  dwpTimeline %}
{% from "components/dwp-key-details-bar/macro.njk"          import  dwpKeyDetailsBar %}
{% from "components/dwp-search-box/macro.njk"               import  dwpSearchBox %}
{% from "components/dwp-secondary-navigation/macro.njk"     import  dwpSecondaryNavigation %}

{% block head %}
  {% include "includes/head.html" %}
{% endblock %}

{% set currentClaimStatus = selectedClaimStatuses | last %}

{% block header %}
  {% include "includes/debug-logged-in-agent-type.html" %}
  
  {{ dwpHeader({
    "homepageUrl": "/",
    "serviceName": serviceName,
    "serviceUrl": "/",
    "containerClasses": "govuk-width-container",
    "searchBar": false,
    "agentName": true,
    navigation: [
    {
      href: "/design-ideas/1313-case-load-management-mvp/service-centre-agent/nav-get-next-claim",
      text: "Get next claim",
      active: false
    },
    {
      href: "/design-ideas/1313-case-load-management-mvp/service-centre-agent/nav-nino-search",
      text: "Find a claimant"
    },
    {
      href: "/design-ideas/1313-case-load-management-mvp/service-centre-agent/nav-all-claims-agent",
      text: "View my claims"
    }
  ]
  }) }}

  {{ dwpKeyDetailsBar({
    claimantName: currentKeyDetailsData.fullName,
    claimantNINO: currentKeyDetailsData.nino,
    claimStatus: currentClaimStatus.label,
    items: currentKeyDetailsData.details,
    showToggle: showToggle,
    classes: "dwp-print-hide"
  }) }}

  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    classes: "govuk-width-container",
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back"
  }) }}
{% endblock %}

{% block footer %}
  {{ govukFooter({
  "meta": {
    "items": [{
      "href": "/prototype-admin/clear-data",
      "text": "Clear data"
    }]
  }
}) }}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    {% include "includes/scripts.html" %}
    {% block page_scripts %}{% endblock %}
  {% endblock %}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
