{% extends "/layout/unbranded.html" %}
{% set htmlClasses = "internal-footer-background" %}
{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}
{% block header %}
  {{ dwpHeader({
name: data['agentServiceName'],
action: "Staff number: 88776655",
actionHref: "#",
serviceHref: '/',
container:true
}) }}
{% endblock %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}
{% from "key-details-bar/macro.njk" import dwpKeyDetailsBar %}
{% from "timeline/macro.njk" import dwpTimeline %}
{% from "side-navigation/macro.njk" import dwpSideNavigation %}
{% block footer %}
  {{ dwpFooter({
  classes: "internal-footer-background",
  meta: {
    visuallyHiddenTitle: "Meta links",
    items: [
    {
      href: "#",
            text: "Accessibility statement"
    },
    {
      href: "#",
            text: "Privacy (opens in a new tab)"
    },
    {
      href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
    },
    {
      href: "/manage-prototype/clear-data",
            text: "Clear data"
    }
    ]
  }
}) }}
{% endblock %}
{% set htmlClasses = htmlClasses | default("dwp-agent-layout") %}
{# reset auto spacing from layout.html #}
{% set mainClasses = mainClasses | default("") %}