{% extends "layout/summary.html" %}
{% block pageTitle %}
  {{ serviceName }}: Application for {{ data['service-short-name'] }} Customer Statement | {{ currentClaimantData.claimant.title }}
  {{ currentClaimantData.claimant.firstName }}
  {{ currentClaimantData.claimant.lastName }}: {{ currentClaimantData.claimant.nino }}
{% endblock %}
{% block header %}
  {# Set serviceName in config.js. #}
  {{ dwpHeader({
    "homepageUrl": "/",
    "serviceName": serviceName,
    "serviceUrl": "/",
    "containerClasses": "govuk-width-container"
  }) }}
  {{ dwpKeyDetailsBar({
    claimantName: "Karan Bhopal",
    claimantNINO: "CX601213A",
    claimStatus: "Not pushed",
    items: [
        {
            title: "DOB",
            value: "21/07/1970"
        },
        {
            title: "Postcode",
            value: "FY4 1SF"
        },
        {
            title: "Phone",
            value: "01253 752057"
        },
        {
            title: "Submitted",
            value: "25/05/2021"
        }
    ],
    showToggle: showToggle,
    classes: "dwp-print-hide"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row govuk-!-margin-top-4 dwp-print-hide">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Customer statement</h1>
    </div>
  </div>
  <!-- Claim start -->
  <section class="dwp-claim-section dwp-print-no-break">
    <h2 class="govuk-heading-m govuk-!-margin-top-4">Application start date</h2>
    <dl class="app-check-your-answers app-check-your-answers--long">
      {{ checkAnswersItem("Claim start date", "25/05/2021") }}
    </dl>
  </section>
  <!-- About you -->
  <section class="dwp-claim-section">
    <h2 class="govuk-heading-m govuk-!-margin-top-8">Personal details</h2>
    <dl class="app-check-your-answers app-check-your-answers--long">
      {{ checkAnswersItem("National Insurance number", "CX601213A") }}
      {{ checkAnswersItem("Name", "Mr Karan Bhopal") }}
      {{ checkAnswersItem("Date of birth", "29/04/1972") }}
      {{ checkAnswersItem("Home address", "<span class='dwp-print-block'>35 Walpole Avenue</span> <span class='dwp-print-block'>Blackpool</span> <span class='dwp-print-block'>Lancashire</span> <span class='dwp-print-block'>FY4 1SF.</span>") }}
      {{ checkAnswersItem("Do you want to add a different address for your post?", "No") }}
      {{ checkAnswersItem("Telephone number", "01253 752057") }}
      {{ checkAnswersItem("Email address", "Not provided") }}
    </dl>
  </section>
  <!-- Payment information -->
  <section class="dwp-claim-section dwp-print-no-break">
    <h2 class="govuk-heading-m govuk-!-margin-top-8">Bank details</h2>
    <dl class="app-check-your-answers app-check-your-answers--long">
      {{ checkAnswersItem("Name of account holder", "K & A Bhopal") }}
      {{ checkAnswersItem("Sort code", "11 00 64") }}
      {{ checkAnswersItem("Account number", "3333333") }}
    </dl>
  </section>
  <!-- Other benefits -->
  <section class="dwp-claim-section dwp-print-no-break">
    <h2 class="govuk-heading-m govuk-!-margin-top-8">Other benefits</h2>
    <dl class="app-check-your-answers app-check-your-answers--long">
      {{ checkAnswersItem("Have you applied for any other benefits in the last 12 weeks?", "No") }}
    </dl>
  </section>
  <!-- Jury service -->
  <section class="dwp-claim-section dwp-print-no-break">
    <h2 class="govuk-heading-m govuk-!-margin-top-8">Jury service</h2>
    <dl class="app-check-your-answers app-check-your-answers--long">
      {{ checkAnswersItem("Have you been on jury service in the last 12 weeks?", "No") }}
    </dl>
  </section>
  <!-- Current employment -->
  <section class="dwp-claim-section">
    <h2 class="govuk-heading-m govuk-!-margin-top-8">Current employment</h2>
    <dl class="app-check-your-answers app-check-your-answers--long">
      {{ checkAnswersItem("Are you in any form of work at the moment?", "No") }}
    </dl>
  </section>
  <!-- Previous employment -->
  <section class="dwp-claim-section dwp-print-no-break">
    <h2 class="govuk-heading-m govuk-!-margin-top-8">Previous employment</h2>
    <dl class="app-check-your-answers app-check-your-answers--long">
      {{ checkAnswersItem("Have you had a job that ended in the last 6 months?", "Yes") }}
    </dl>
    <section class="govuk-!-margin-top-6">
      <h3 class="govuk-heading-s">First previous employer</h3>
      <dl class="app-check-your-answers app-check-your-answers--long">
        {{ checkAnswersItem("When did you work for this employer?", "01/02/2020 - 11/06/2020") }}
        {{ checkAnswersItem("Why did this job end?", "Lack of work") }}
        {{ checkAnswersItem("What is the name of your previous employer?", "Pete's Plaice") }}
        {{ checkAnswersItem("What is the address of your previous employer?", "<span class='dwp-print-block'>Blackpool,</span> <span class='dwp-print-block'>Lancashire</span> FY4 6YY.") }}
        {{ checkAnswersItem("What is the phone number of your previous employer (optional)?", "01253 374962") }}
        {{ checkAnswersItem("Do you expect to receive any more payments from this job?", "No") }}
        {{ checkAnswersItem("Were you self employed or a company director?", "No") }}
      </dl>
    </section>
  </section>
  <!-- Working overseas -->
  <section class="dwp-claim-section dwp-print-no-break">
    <h2 class="govuk-heading-m govuk-!-margin-top-8">Working or claiming benefits overseas</h2>
    <dl class="app-check-your-answers app-check-your-answers--long">
      {{ checkAnswersItem("Have you worked or claimed benefit outside the United Kingdom in the last 4 years?", "No") }}
    </dl>
  </section>
  <!-- Current pensions -->
  <section class="dwp-claim-section">
    <h2 class="govuk-heading-m govuk-!-margin-top-8">Current pensions</h2>
    <dl class="app-check-your-answers app-check-your-answers--long">
      {{ checkAnswersItem("Are you getting money from a pension or annuity?", "No") }}
    </dl>
  </section>
  <!-- Deferred pensions -->
  <section class="dwp-claim-section">
    <h2 class="govuk-heading-m govuk-!-margin-top-8">Deferred pensions</h2>
    <dl class="app-check-your-answers app-check-your-answers--long">
      {{ checkAnswersItem("Do you have a pension or annuity that you could be paid now, but have decided not to take?", "No") }}
    </dl>
  </section>
  <!-- Education -->
  <section class="dwp-claim-section">
    <h2 class="govuk-heading-m govuk-!-margin-top-8">Education or training</h2>
    <dl class="app-check-your-answers app-check-your-answers--long">
      {{ checkAnswersItem("Have you been in education or training in the last 4 years?", "No") }}
    </dl>
  </section>
{% endblock %}