<table
  class="govuk-table govuk-!-font-size-19">
  <!--<caption class="govuk-table__caption govuk-table__caption--m">Claims paused by 88776655</caption> -->
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header" style="white-space: nowrap">Update due</th>
      <th scope="col" class="govuk-table__header" style="white-space: nowrap">Claim submitted</th>
      <th scope="col" class="govuk-table__header" style="white-space: nowrap">Claimant</th>
      <th scope="col" class="govuk-table__header" style="white-space: nowrap">Pause reason</th>
      <th scope="col" class="govuk-table__header" style="white-space: nowrap">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% if data['claimant'] == 'sh' and data['pauseReason'] == 'Identity check (KBV)' and data['deadline-day'] <= 6 %}
      <!-- SCENARIO 4 - dynamic row - show claim for Simon Hamilton KBV in first row if update due on or before 6 June -->
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <span style="white-space: nowrap">{{ data['deadline-day'] }}
            {{ data['deadline-month'] | toMonth | truncate(3, true, "") }}
            {{ data['deadline-year'] or "6 Jun 2024" }}</span>
        </td>
        <td class="govuk-table__cell">
          <span style="white-space: nowrap">18 May 2024</span>
        </td>
        <td class="govuk-table__cell">
          <span style="white-space: nowrap">QQ 12 34 56 X</span>
          <br>Hamilton
          </td>
          <td class="govuk-table__cell">
            {{ data['pauseReason'] }}
          </td>
          <td class="govuk-table__cell">
            <a class="govuk-link" href="view-claim?claimant=sh&claimStatus=paused">
              View</a>
          </td>
        </tr>
        <!-- END SCENARIO 4 - Simon Hamilton dynamic row -->
        {% else %}
      {% endif %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <span style="white-space: nowrap">6 Jun 2024</span>
        </td>
        <td class="govuk-table__cell">
          <span style="white-space: nowrap">19 May 2024</span>
        </td>
        <td class="govuk-table__cell">
          <span style="white-space: nowrap">RN 00 00 35 A</span>
          <br>Johnson
          </td>
          <td class="govuk-table__cell">
            Identity check (KBV)
            <br>
              NSESA team
            </td>
            <td class="govuk-table__cell">
              <a class="govuk-link" href="#">
                View</a>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              <span style="white-space: nowrap">6 Jun 2024</span>
            </td>
            <td class="govuk-table__cell">
              <span style="white-space: nowrap">19 May 2024</span>
            </td>
            <td class="govuk-table__cell">
              <span style="white-space: nowrap">RN 00 00 35 A</span>
              <br>Bhopal
              </td>
              <td class="govuk-table__cell">
                International Group
              </td>
              <td class="govuk-table__cell">
                <a class="govuk-link" href="#">View</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <span style="white-space: nowrap">6 Jun 2024</span>
              </td>
              <td class="govuk-table__cell">
                <span style="white-space: nowrap">20 May 2024</span>
              </td>
              <td class="govuk-table__cell">
                <span style="white-space: nowrap">FQ 12 34 56 A</span>
                <br>Barr-Horne
                </td>
                <td class="govuk-table__cell">
                  Identity check (KBV)
                </td>
                <td class="govuk-table__cell">
                  <a class="govuk-link" href="#">View</a>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <span style="white-space: nowrap">6 Jun 2024</span>
                </td>
                <td class="govuk-table__cell">
                  <span style="white-space: nowrap">20 May 2024</span>
                </td>
                <td class="govuk-table__cell">
                  <span style="white-space: nowrap">DF 13 23 44 B</span>
                  <br>Pennington
                  </td>
                  <td class="govuk-table__cell">
                    Main benefit reply (MBR)
                  </td>
                  <td class="govuk-table__cell">
                    <a class="govuk-link" href="#">View</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <span style="white-space: nowrap">6 Jun 2024</span>
                  </td>
                  <td class="govuk-table__cell">
                    <span style="white-space: nowrap">21 May 2024</span>
                  </td>
                  <td class="govuk-table__cell">
                    <span style="white-space: nowrap">RN 25 82 07 E</span>
                    <br>Dickerson
                    </td>
                    <td class="govuk-table__cell">
                      Identity check (KBV)
                      <br>Other
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        <span style="white-space: nowrap">6 Jun 2024</span>
                      </td>
                      <td class="govuk-table__cell">
                        <span style="white-space: nowrap">22 May 2024</span>
                      </td>
                      <td class="govuk-table__cell">
                        <span style="white-space: nowrap">UV 44 44 98 D</span>
                        <br>Ahluwalia
                        </td>
                        <td class="govuk-table__cell">
                          Transferred to clerical
                        </td>
                        <td class="govuk-table__cell">
                          <a class="govuk-link" href="#">View</a>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                          <span style="white-space: nowrap">6 Jun 2024</span>
                        </td>
                        <td class="govuk-table__cell">
                          <span style="white-space: nowrap">22 May 2024</span>
                        </td>
                        <td class="govuk-table__cell">
                          <span style="white-space: nowrap">MF 12 34 56 X</span>
                          <br>Akerele
                          </td>
                          <td class="govuk-table__cell">
                            Identity check (KBV)
                          </td>
                          <td class="govuk-table__cell">
                            <a class="govuk-link" href="#">View</a>
                          </td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">
                            <span style="white-space: nowrap">6 Jun 2024</span>
                          </td>
                          <td class="govuk-table__cell">
                            <span style="white-space: nowrap">23 May 2024</span>
                          </td>
                          <td class="govuk-table__cell">
                            <span style="white-space: nowrap">VF 13 63 34 C</span>
                            <br>Camacho
                            </td>
                            <td class="govuk-table__cell">
                              Other
                            </td>
                            <td class="govuk-table__cell">
                              <a class="govuk-link" href="#">View</a>
                            </td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                              <span style="white-space: nowrap">6 Jun 2024</span>
                            </td>
                            <td class="govuk-table__cell">
                              <span style="white-space: nowrap">25 May 2024</span>
                            </td>
                            <td class="govuk-table__cell">
                              <span style="white-space: nowrap">QF 74 42 21 A</span>
                              <br>Miranda
                              </td>
                              <td class="govuk-table__cell">
                                Self-employment and company director check
                              </td>
                              <td class="govuk-table__cell">
                                <a class="govuk-link" href="#">View</a>
                              </td>
                            </tr>
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">
                                <span style="white-space: nowrap">7 Jun 2024</span>
                              </td>
                              <td class="govuk-table__cell">
                                <span style="white-space: nowrap">18 May 2024</span>
                              </td>
                              <td class="govuk-table__cell">
                                <span style="white-space: nowrap">DF 13 23 44 B</span>
                                <br>Farooqi
                                </td>
                                <td class="govuk-table__cell">
                                  Main benefit reply (MBR)
                                </td>
                                <td class="govuk-table__cell">
                                  <a class="govuk-link" href="#">View</a>
                                </td>
                              </tr>
                              <tr class="govuk-table__row">
                                <td class="govuk-table__cell">
                                  <span style="white-space: nowrap">7 Jun 2024</span>
                                </td>
                                <td class="govuk-table__cell">
                                  <span style="white-space: nowrap">18 May 2024</span>
                                </td>
                                <td class="govuk-table__cell">
                                  <span style="white-space: nowrap">UI 25 82 07 D</span>
                                  <br>Stokes
                                  </td>
                                  <td class="govuk-table__cell">
                                    Sent to decision-maker
                                  </td>
                                  <td class="govuk-table__cell">
                                    <a class="govuk-link" href="#">View</a>
                                  </td>
                                </tr>
                                {% if data['claimant'] == 'sh' and data['pauseReason'] == 'Identity check (KBV)' and data['deadline-day'] >=
            7 %}
                                  <!-- SCENARIO 4 - dynamic row - show claim for Simon Hamilton KBV in last row if update due on or after 7 June-->
                                  <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                      <span style="white-space: nowrap">{{ data['deadline-day'] }}
                                        {{ data['deadline-month'] | toMonth | truncate(3, true, "") }}
                                        {{ data['deadline-year'] or "7 Jun 2024" }}</span>
                                    </td>
                                    <td class="govuk-table__cell">
                                      <span style="white-space: nowrap">18 May 2024</span>
                                    </td>
                                    <td class="govuk-table__cell">
                                      <span style="white-space: nowrap">QQ 12 34 56 X</span>
                                      <br>Hamilton
                                      </td>
                                      <td class="govuk-table__cell">
                                        {{ data['pauseReason'] }}
                                      </td>
                                      <td class="govuk-table__cell">
                                        <a class="govuk-link" href="view-claim?claimant=sh&claimStatus=paused">
                                          View</a>
                                      </td>
                                    </tr>
                                    <!-- END SCENARIO 4 - Simon Hamilton dynamic row -->
                                    {% else %}
                                  {% endif %}
                                </tbody>
                              </table>
                            </tr>
                          </tr>
                        </tr>
                      </tr>
                    </tr>
                  </td>
                </tr>
              </tr>
            </tr>
          </tr>
        </td>
      </tr>