<h3 class="govuk-heading-m">Actions</h3>

{% if (data['claimStatus'] != 'appointment-needed')  %}
{% if (data['claimStatus'] != 'withdrawn')  %}

<!-- // need to contact citizen for ni reconcile so need to park claim -->
    {{ govukButton({
        text: "Update claim status",
        href: "update"
    }) }}
{% endif %}
{% endif %}

<ul class="govuk-list">
    <li><a href="choose-task">Choose a task</a></li>
</ul>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">