{% extends "./view-claim.html" %}
{% block pageTitle %}
  What is the status of this claim? - {{ serviceName }}
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row  govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
      <form action="update-book" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            {{ govukRadios({
          idPrefix: 'status',
          name: 'claimStatus',
          fieldset: {
          legend: {
          text: "What is the status of this claim?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
          }
          },
          items: [
          {
          value: "no-slots",
          text: "No slots available"
          },
          {
          value: "first-fail",
          text: "First fail"
          },
          {
          value: "final-fail",
          text: "Final fail"
          },
          {
          value: "appointment-booked",
          text: "Appointment booked"
          }
          ]
          }) }}
          </fieldset>
        </div>
        {{ govukButton({
      text: "Continue"
      }) }}
      </form>
    </div>
  </div>
{% endblock %}