{% extends "agent/layout.html" %}
{% block pageTitle %}
  Service centre - {{ serviceName }}
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
  <span class="govuk-caption-l">Service centre agent</span>
  <h1 class="govuk-heading-l">Choose a task</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <a
        href="view-claim?task=fix&claimStatus=registration-failed&claimant=ij&idRisk=0&fraud=0&cis=0&noReg=1"
        role="link"
        draggable="false"
        class="govuk-panel govuk-button link-panel govuk-!-width-full"
        data-module="govuk-button">
        <span class="govuk-panel__title govuk-!-font-size-27">Register a claim</span>
      </a>
    </div>
    <div class="govuk-grid-column-one-half">
      <a
        href="view-claim?task=process&claimStatus=new-claim&claimant=kb&idRisk=1&fraud=0&cis=0&noReg=0"
        role="link"
        draggable="false"
        class="govuk-panel govuk-button link-panel govuk-!-width-full"
        data-module="govuk-button">
        <span class="govuk-panel__title govuk-!-font-size-27">Process a claim</span>
      </a>
    </div>
    <div class="govuk-grid-column-one-half">
      <a
        href="nino-search"
        role="link"
        draggable="false"
        class="govuk-panel govuk-button link-panel govuk-!-width-full"
        data-module="govuk-button">
        <span class="govuk-panel__title govuk-!-font-size-27">Find a claim</span>
      </a>
    </div>
  </div>
{% endblock %}