{% extends "layout/unbranded-agent-id.html" %}
{% block pageTitle %}
Service centre - {{ serviceName }}
{% endblock %}
{% block beforeContent %}
{{ govukBackLink({
text: "Back",
href: "choose-task?show"
}) }}
{% endblock %}
{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper--m" id="main-content" role="main">
    <h1 class="govuk-heading-l">Last updated claims</h1>
    <!-- SEARCH BY STAFF NUMBER -->
    <form action="claims-list" method="post">
      <div class="govuk-form-group govuk-!-margin-bottom-0">
        <label class="govuk-label" for="agent">
          <strong>Search by staff number</strong>
        </label>
        <input class="govuk-input govuk-!-width-one-third" id="agent" name="agent" type="text">
        <button type="submit" class="govuk-button govuk-!-display-inline" data-module="govuk-button">
          Search
        </button>
      </div>
    </form>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <p></p>
      </div>
      <div class="govuk-grid-column-three-quarters"></div>
    </div>
    <!-- MOJ Filter -->
    <div class="moj-filter-layout">
      <div class="moj-filter-layout__filter">
        <div class="moj-filter">
          <div class="moj-filter__header">
            <div class="moj-filter__header-title">
              <h2 class="govuk-heading-m">Filter</h2>
            </div>
            <div class="moj-filter__header-action"></div>
          </div>
          <div class="moj-filter__content">
            <!-- SELECTED FILTER SECTION <div class="moj-filter__selected"> <div class="moj-filter__selected-heading">
                    <div class="moj-filter__heading-title">
                      <h2 class="govuk-heading-m">Selected filters</h2>
                    </div>
                    <div class="moj-filter__heading-action">
                      <p>
                        <a class="govuk-link govuk-link--no-visited-state" href="">Clear filters</a>
                      </p>
                    </div>
                </div> <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Claim status</h3> <ul class="moj-filter-tags">
                    <li>
                      <a class="moj-filter__tag" href="#">
                        <span class="govuk-visually-hidden">Remove this filter</span>
                        Complex claim</a>
                    </li>
                    <li>
                      <a class="moj-filter__tag" href="#">
                        <span class="govuk-visually-hidden">Remove this filter</span>
                        Paused</a>
                    </li>
                    <li>
                      <a class="moj-filter__tag" href="#">
                        <span class="govuk-visually-hidden">Remove this filter</span>
                        Processing started</a>
                    </li>
                    <li>
                      <a class="moj-filter__tag" href="#">
                        <span class="govuk-visually-hidden">Remove this filter</span>
                        Suspected fraud</a>
                    </li>
                </ul> </div> -->
            <div class="moj-filter__options">
              <!-- Sort by SELECT <div class="govuk-form-group"> <label class="govuk-label" for="sort">
                                  Sort by
                              </label> <select class="govuk-select" id="sort" name="sort">
                                  <option value="newest-update" selected>Newest update</option>
                                  <option value="oldest-update">Oldest update</option>
                                  <option value="newest-claim">Newest claim submitted</option>
                                  <option value="oldest-claim">Oldest claim submitted</option>
                              </select> </div> -->
              <form action="#" method="post" novalidate></form>
              <!-- Sort by RADIOS -->
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    Sort by
                  </legend>
                  <div class="govuk-radios govuk-radios--inline govuk-radios--small" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="sort-1" name="sort" type="radio" value="newest-update"
                        checked>
                      <label class="govuk-label govuk-radios__label" for="sort-1" style="white-space: nowrap">
                        Newest update
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="sort-2" name="sort" type="radio" value="oldest-update">
                      <label class="govuk-label govuk-radios__label" for="sort-2" style="white-space: nowrap">
                        Oldest update
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="sort-3" name="sort" type="radio" value="newest-claim">
                      <label class="govuk-label govuk-radios__label" for="sort-3" style="white-space: nowrap">
                        Newest claim submitted
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="sort-4" name="sort" type="radio" value="oldest-claim">
                      <label class="govuk-label govuk-radios__label" for="sort-4" style="white-space: nowrap">
                        Oldest claim submitted
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    Claim status
                  </legend>
                  <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="awaiting-appointment" name="awaiting-appointment"
                        type="checkbox" value="awaiting-appointment">
                      <label class="govuk-label govuk-checkboxes__label" for="awaiting-appointment">
                        Awaiting appointment
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="complex-claim" name="complex-claim" type="checkbox"
                        value="complex-claim">
                      <label class="govuk-label govuk-checkboxes__label" for="complex-claim">
                        Complex claim
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="duplicate" name="duplicate" type="checkbox"
                        value="duplicate">
                      <label class="govuk-label govuk-checkboxes__label" for="duplicate">
                        Duplicate
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="not-entitled" name="not-entitled" type="checkbox"
                        value="not-entitled">
                      <label class="govuk-label govuk-checkboxes__label" for="not-entitled">
                        Not entitled
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="not-valid" name="not-valid" type="checkbox"
                        value="not-valid">
                      <label class="govuk-label govuk-checkboxes__label" for="not-valid">
                        Not valid
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="paused" name="paused" type="checkbox" value="paused">
                      <label class="govuk-label govuk-checkboxes__label" for="paused">
                        Paused
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="processing-started" name="processing-started"
                        type="checkbox" value="processing-started">
                      <label class="govuk-label govuk-checkboxes__label" for="processing-started">
                        Processing started
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="suspected-fraud" name="suspected-fraud" type="checkbox"
                        value="suspected-fraud">
                      <label class="govuk-label govuk-checkboxes__label" for="suspected-fraud">
                        Suspected fraud
                      </label>
                    </div>
                    <div class="govuk-checkboxes__item">
                      <input class="govuk-checkboxes__input" id="withdrawn" name="withdrawn" type="checkbox"
                        value="withdrawn">
                      <label class="govuk-label govuk-checkboxes__label" for="withdrawn">
                        Withdrawn
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <div class="govuk-button-group">
                <button type="submit" class="govuk-button" data-module="govuk-button">
                  Apply filters
                </button>
                <a class="govuk-link" href="#">Clear filters</a>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="moj-filter-layout__content">
        <div class="moj-action-bar">
          <div class="moj-action-bar__filter"></div>
        </div>
        <div class="moj-scrollable-pane">
          <!-- TABLE WITH CLAIMS LIST AGENT 03 no data -->
          {% if data['show'] == "03" %}
          <table class="govuk-table govuk-!-font-size-19">
            <caption class="govuk-table__caption govuk-table__caption--m">Claims last updated by 00000003</caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header" style="white-space: nowrap">Date updated</th>
                <th scope="col" class="govuk-table__header" style="white-space: nowrap">Claim submitted</th>
                <th scope="col" class="govuk-table__header" style="white-space: nowrap">NI number</th>
                <th scope="col" class="govuk-table__header" style="white-space: nowrap">Status</th>
                <th scope="col" class="govuk-table__header" style="white-space: nowrap">Action</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" colspan="5">No recently updated claims</td>
              </tr>
            </tbody>
          </table>
          <!-- TABLE WITH CLAIMS LIST AGENT 02 -->
          {% elif data['show'] == "12345678" %}
          {% include "design-ideas/wt-4642-wfm-1b/table/agent2-claims-list.html" %}
          <!-- TABLE WITH CLAIMS LIST AGENT 01 -->
          {% else %}
          {% if data['sc'] == "1" %}
          {% include "design-ideas/wt-4642-wfm-1b/table/sc1-agent1-claims-list.html" %}
          {% elif data['sc'] == "2" %}
          {% include "design-ideas/wt-4642-wfm-1b/table/sc2-agent1-claims-list.html" %}
          {% elif data['sc'] == "3" %}
          {% include "design-ideas/wt-4642-wfm-1b/table/sc3-agent1-claims-list.html" %}
          {% elif data['sc'] == "4" %}
          {% include "design-ideas/wt-4642-wfm-1b/table/sc4-agent1-claims-list.html" %}
          {% else %}
          {% endif %}
          <nav class="govuk-pagination" aria-label="Pagination">
            <ul class="govuk-pagination__list">
              <li class="govuk-pagination__item govuk-pagination__item--current">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
                  1
                </a>
              </li>
              <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
                  2
                </a>
              </li>
              <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
                  3

                </a>
              </li>
              <li class="govuk-pagination__item govuk-pagination__item--ellipses">
                &ctdot;
              </li>
              <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 119">
                  119
                </a>
              </li>
            </ul>
            <div class="govuk-pagination__next">
              <a class="govuk-link govuk-pagination__link" href="#" rel="next">
                <span class="govuk-pagination__link-title">
                  Next<span class="govuk-visually-hidden">
                    page</span>
                </span>
                <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg"
                  height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                  <path
                    d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
                  </path>
                </svg>
              </a>
            </div>
          </nav>
          {% endif %}
  </main>
</div>
{% endblock %}