{% extends "layout/unbranded.html" %}
{% block pageTitle %}
    NSJSA Agent Prototypes
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">
                Workflow Management 1b: Iteration 2
            </h1>
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Hypotheses
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <h2 class="govuk-heading-s">Hypothesis 1: Pausing a claim</h2>
                    <p>We believe that letting Service Centre agents choose from a list of pause reasons and letting them set an action by
                        date will achieve that agents have the ability to record the pause reason on the system without having to maintain
                        manual records.
                    </p>
                    <p>
                        We will know this when we test a prototype and users tell us that they know when to select each pause reason and their
                        associated due dates without having to make a manual record elsewhere except on JSAPS.</p>
                    <h2 class="govuk-heading-s">Hypothesis 2: Claim history</h2>
                    <p>We believe that displaying the paused reason in the timeline on the customer statement will achieve that agents can
                        see at a glance where the claim is at and what action is outstanding.
                    </p>
                    <p>We will know this when we test a prototype and users tell us the pause reason gives a starting point for working on
                        the claim and they would go to JSAPS for detailed claim notes.</p>
                    <h2 class="govuk-heading-s">Hypothesis 3: Pause list</h2>
                    <p>We believe that showing a list of paused claims by agent will achieve that that Service Centre agents can prioritise
                        which paused claim to look at next and what they need to do with it.
                    </p>
                    <p>We will know this when we test a prototype and users tell us the list helps them selecting the right paused claim
                        that is due to be looked at next.</p>
                    <h2 class="govuk-heading-s">Hypothesis 4: Reassigning claims</h2>
                    <p>We believe that giving Service Centre agents the ability to search for paused claims by staff number on the paused
                        list will achieve that agents can easily pick up a colleague's claim without having to check manual records.
                    </p>
                    <p>We will know this when we test a prototype and users tell us that the search by staff number feature gives them an
                        overview of a colleague's outstanding paused claims and it helps them to identify the right claim to pick up and what to
                        do to take ownership of that claim.</p>
                </div>
            </details>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"></div>
        </div>
        
        <div class="govuk-!-padding-bottom-8"></div>


        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                {{ govukTable({
        caption: "Prototype scenarios",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: false,
        head: [
            {
                text: "ID"
            },
            {
                text: "Scenario",
                classes: "govuk-!-width-one-quarter"
            },
            {
                text: "Description"
            }
        ],
        rows: [
        [
            {
                text: "sc1"
            },
            {
                html: "<a href='choose-task?sc=1&claimant=ij&claimStatus=processing-started'>Go to scenario 1"
                
            },
            {
                text: "Pause a claim with 2 pause reasons (identity check and NSESA team), then update it again via Last updated claims or Paused claims."
                
            }
        ],
        [
            {
                text: "sc2"
            },
            {
                html: "<a href='choose-task?sc=4&claimant=sh&claimStatus=paused'>Go to scenario 2"
            },
            {
                text: "View Simon Hamilton's claim. Built for selected pause reasons: Identity check"
            }
          ]
        ]
      }) }}
            </div>
        </div>

           <div class="govuk-!-padding-bottom-8"></div>
        
    

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                {{ govukTable({
        caption: "Post-research updates",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: false,
        head: [
            {
                text: "ID"
            },
            {
                text: "Design",
                classes: "govuk-!-width-one-quarter"
            },
            {
                text: "Change log"
            }
        ],
        rows: [
        [
            {
                text: "pr1"
            },
            {
                html: "<a href='view-claim?&claimant=ij2&claimStatus=processing-started'>Claim status history"
                
            },
            {
                text: "Content change on the claim status history: 'G4S checks completed' is changed back to 'Success', as it was in WFM 1b iteration 1."
            }
        ],
        [
            {
                text: "pr2"
            },
            {
                html: "<a href='updateV2'>Update claim status"
            },
            {
                text: "Content change on the Update claim status page: 'Claim not entitled' is changed back to 'Not entitled', 'Claim not valid' is changed back to 'Not valid' - as it was in WFM 1b iteration 1."
            }
          ]
        ]
      }) }}
            </div>
        </div>
    {% endblock %}