{% extends "layout/summary-no-search-bar.html" %}

{% block pageTitle %}
Update the status of this claim
{% endblock %}

{% block content %}

<div class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="update-status" method="post">
        {% macro reasonHtml(id, options) %}
          {% set items = [] %}
          {% for item in options %}
            {% set disabled = true if item == 'Please select' else false %}
            {% set items = items | push({value: item, text: item, disabled: disabled}) %}  
          {% endfor %}

          {{ govukSelect({
            name: id + "Reason",
            classes: "govuk-input--width-10",
            label: {
              text: "Please give more detail"
            },
            items: items
          }) }}
        {% endmacro %}

        {% set cancelReasonHtml %}
          {{ govukWarningText({
            text: "This action cannot be reversed",
            iconFallbackText: "Warning"
          }) }}
          {# {{ govukTextarea({
            name: "cancellation-reason",
            id: "cancellation-reason",
            label: {
              text: "Enter a reason for the cancellation"
            },
            classes: "js-char-count",
            attributes: {
              "maxlength": 100
            },
            rows: 3
          }) }} #}
        {% endset -%}

        {% set items = [] %}
        {% for claimStatus in claimStatuses %}
          {% if not(claimStatus.excludeFromUpdate) %}
            {% set options = false %}
            {% set conditional = false %}
            
            {% if claimStatus.details %}
              {% set options = claimStatus.details %}
              {% set options = options | unshift("Please select") %}
              
              {% set conditional = {
                html: reasonHtml(claimStatus.value, options)
              } %}
            {% endif %}

            {% if claimStatus.reasonRequired %}
              {% set conditional = {
                html: cancelReasonHtml
              } %}
            {% endif %}

            {% set items = items | push({
              value: claimStatus.value,
              text: claimStatus.cta,
              checked: checked("currentClaimStatus", claimStatus.value),
              conditional: conditional
            }) %}
          {% endif %}
        {% endfor %}

        {{ govukRadios({
          idPrefix: "update-status",
          name: "updateStatus",
          fieldset: {
            classes: "govuk-!-margin-top-6",
            legend: {
              text: "Update the status of this claim",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: items
        })}}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
</div>

{% endblock %}
