{% extends "layout/unbranded-agent.html" %}
{% block pageTitle %}
  Service centre - {{ serviceName }}
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
  <h1 class="govuk-heading-l">
    National Operations Hub
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <a
        href="claim-statistics5"
        role="link"
        draggable="false"
        class="govuk-panel govuk-button link-panel govuk-!-width-full"
        data-module="govuk-button">
        <span class="govuk-panel__title govuk-!-font-size-27">
          Claim statistics
        </span>
      </a>
    </div>
    
  </div>
{% endblock %}