{% extends "layout/unbranded-agent-cc.html" %}
{% block pageTitle %}
  Agent performance - {{ serviceName }}
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "mi-choose-task"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full govuk-!-margin-bottom-6">
      <h1 class="govuk-heading-l govuk-!-margin-top-4">Agent performance</h1>
      <span class="govuk-caption-m">Showing report for</span>
      <h2 class="govuk-heading-m">Monday 24 March 2025 to Friday 28 March 2025</h2>
    </div>
    <div class="govuk-grid-column-one-third">
      <form action="agent-performance" method="post">
        <h2 class="govuk-heading-s">Change report date</h2>
        {{ govukDateInput({
                id: "start-report",
                namePrefix: "start-report",
                fieldset: {
                    legend: {
                    text: "Start date",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--s"
                    }
                },
                hint: {
                    text: "For example, 14 3 2024."
                },
                items: [
                  {
                    name: "day",
                    id: "start-day",
                    classes: "govuk-input--width-2",
                    value: "24"
                  },
                  {
                    name: "month",
                    id: "start-month",
                    classes: "govuk-input--width-2",
                    value: "3"
                  },
                  {
                    name: "year",
                    id: "start-year",
                    classes: "govuk-input--width-4",
                    value: "2025"
                  }
                ]
            }) }}
        {{ govukDateInput({
                id: "end-report",
                namePrefix: "end-report",
                fieldset: {
                    legend: {
                    text: "End date",
                    isPageHeading: false,
                    classes: "govuk-fieldset__legend--s"
                    }
                },
                hint: {
                    text: "For example, 14 3 2024."
                },
                items: [
                  {
                    name: "day",
                    id: "end-day",
                    classes: "govuk-input--width-2",
                    value: "28"
                  },
                  {
                    name: "month",
                    id: "end-month",
                    classes: "govuk-input--width-2",
                    value: "3"
                  },
                  {
                    name: "year",
                    id: "end-year",
                    classes: "govuk-input--width-4",
                    value: "2025"
                  }
                ]
            }) }}
        {{ govukButton({
                text: "Submit"
            }) }}
      </form>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m govuk-visually-hidden">New claims</h2>
      {% include "design-ideas/wt-6169-contact-centre/contact-centre-manager/table/agent-new-claims-2.html" %}
      <h2 class="govuk-heading-m govuk-visually-hidden">Appointment booking</h2>
      {% include "design-ideas/wt-6169-contact-centre/contact-centre-manager/table/agent-appointments-2.html" %}
      {{ govukButton({
        html: "Download CSV"
    }) }}
    </div>
  </div>
{% endblock %}