{% extends "layout.html" %}

{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <div class="dwp-interruption govuk-!-margin-bottom-6" >

            {# <span class="govuk-caption-l">1. {{ serviceName }}</span> #}
            <h1 class="govuk-heading-l">Get your details ready</h1>

            <h2 class="govuk-heading-m">You will need 2 of these:</h2>
            <ul class="govuk-list govuk-list--bullet">
                <li>P60 or payslips</li>
                <li>a valid UK passport</li>
                <li>information about tax credits, if you get them</li>
                <li>details of your bank accounts, loans, mortgages or credit agreements</li>
            </ul>

            {# <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> #}

            {{ govukButton({
                text: "Continue",
                href: "dth-reasons"
            }) }}

        </div>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds" >
        <p><a href="../we-need-to-contact">I do not have this information</a>.</p>
    </div>
</div>
{% endblock %}
