{% extends "layout/unbranded-agent.html" %}
{% block pageTitle %}
  {{ serviceName }}: DWP Agent – Find a claim
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
  <div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-two-thirds">
      {% if data['show'] == "invalid" %}
        <h1 class="govuk-heading-l">National Insurance number not valid</h1>
        <p class="govuk-body-l">The National Insurance number entered is not valid:
          <br>
            <span class="govuk-!-font-weight-bold">12 QQ 22 33 9</span>.</p>
          {{ govukButton({
        text: "Try again",
        href: "/work-coach/1/nino-search"
      }) }}
        {% elif data['show'] == "errors" %}
          <h1 class="govuk-heading-l">Claimant not found</h1>
          <p class="govuk-body-l">The system does not hold a record for the National Insurance number:
            <span class="govuk-!-font-weight-bold">QQ 12 34 56 B</span>.</p>
          {{ govukButton({
        text: "Try again",
        href: "/work-coach/1/nino-search"
      }) }}
        </div>
      {% else %}
        <h1 class="govuk-heading-l">Find a claim</h1>
        <form action="nino-search" method="post">
          {{ govukInput({
          errorMessage: errorMessage,
          label: {
            text: "Enter the claimant's National Insurance number"
          },
          hint: {
            text: "For example, ‘QQ 12 34 56 C’."
          },
          classes: "govuk-input--width-20",
          id: "nino",
          name: "nino",
          attributes: {
            "autocomplete": "off"
          }
        }) }}
          {{ govukButton({
          text: "Find claim"
        }) }}
        </form>
      {% endif %}
    </div>
  </div>
{% endblock %}