{% extends "./view-claim.html" %}
{% block pageTitle %}
  Claim updated
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div
      class="govuk-grid-column-two-thirds">
      <!-- Confirmation interactive -->
      {% if data['claimant'] == 'sh' %}
        {% include 'design-ideas/wt-4485-wfm-1b/claimants/sh/update-confirmation.html' %}
      {% elif data['claimant'] == 'kb' %}
        {% include 'design-ideas/wt-4485-wfm-1b/claimants/kb/update-confirmation.html' %}
      {% elif data['claimant'] == 'kb-dupe' %}
        {% include 'design-ideas/wt-4485-wfm-1b/claimants/kb-dupe/update-confirmation.html' %}
      {% elif data['claimant'] == 'ij' %}
        {% include 'design-ideas/wt-4485-wfm-1b/claimants/ij/update-confirmation.html' %}
      {% else %}
        <p>No claimant set.</p>
      {% endif %}
      {{ govukButton({
    text: "Get next claim",
    href: "#"
    }) }}
      <p class="govuk-body">
        <a href="/design-ideas/wt-4485-wfm-1b/choose-task" class="govuk-link">Return to start screen</a>
      </p>
    </div>
  </div>
</div>{% endblock %}