{% extends "govuk-prototype-kit/layouts/unbranded.njk" %}
{% block pageTitle %}
  What is the status of this claim?
{% endblock %}
{% set claimStatus = data['claimStatus'] | replace("-", " ") | capitalize %}
{% from "key-details-bar/macro.njk" import dwpKeyDetailsBar %}
{% from "timeline/macro.njk" import dwpTimeline %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}
{% block header %}
  {% from "internal-service-header/macro.njk" import dwpHeader %}
  <main>
    {{ dwpHeader({
        serviceName: "Apply for New Style Jobseeker’s Allowance",
        serviceHref: '#',
        container:true
    }) }}
    {{ super() }}
    {% if data['claimant'] == 'ij' %}
      {% include 'design-ideas/wt-4485-wfm-1b/claimants/ij/key-details.html' %}
    {% elif data['claimant'] == 'kb' %}
      {% include 'design-ideas/wt-4485-wfm-1b/claimants/kb/key-details.html' %}
    {% else %}
      <p>No claimant set.</p>
    {% endif %}
  {% endblock %}
  {% block content %}
    <div class="govuk-grid-row  govuk-!-margin-top-4">
      <div class="govuk-grid-column-two-thirds">
        <form action="update" method="post">
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              {% set govukWarningText %}
              {{ govukWarningText({
                  text: "The Contact Centre will book an appointment for this claim.",
                  iconFallbackText: "Warning"
                }) }}
              {% endset -%}
              {#Radio button options for claim status AWAITING APPOINTMENT#}
              {% if data['claimStatus'] == 'awaiting-appointment' %}
                {{ govukRadios({
                    idPrefix: 'status',
                    name: 'claimStatus',
                    fieldset: {
                      legend: {
                        text: "What is the status of this claim?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                      }
                    },
                    items: [
                    {
                            value: "complex-claim",
                            text: "Complex claim",
                            hint: {
                              text: "For example, claims sent to Greenock."
                             }
                        },
                        {
                            value: "duplicate",
                            text: "Duplicate"
                        },
                        {
                            value: "not-entitled",
                            text: "Not entitled"
                        },
                        {
                            value: "not-valid",
                            text: "Not valid"
                        },
                        {
                            value: "paused",
                            text: "Paused"
                        },
                        {
                            value: "suspected-fraud",
                            text: "Suspected fraud"
                        },
                        {
                            value: "withdrawn",
                            text: "Withdrawn"
                        }                       
                    ]
                }) }}
                {#Radio button options for claim status COMPLEX CLAIM#}
              {% elif data['claimStatus'] == 'complex-claim' %}
                {{ govukRadios({
                    idPrefix: 'status',
                    name: 'claimStatus',
                    fieldset: {
                      legend: {
                        text: "What is the status of this claim?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                      }
                    },
                    items: [
                        {
                            value: "awaiting-appointment",
                            text: "Awaiting appointment",
                            conditional: {
                              html: govukWarningText
                            }
                        },
                        {
                            value: "duplicate",
                            text: "Duplicate"
                        },
                        {
                            value: "not-entitled",
                            text: "Not entitled"
                        },
                        {
                            value: "not-valid",
                            text: "Not valid"
                        },
                        {
                            value: "paused",
                            text: "Paused"
                        },
                        {
                            value: "suspected-fraud",
                            text: "Suspected fraud"
                        },
                        {
                            value: "withdrawn",
                            text: "Withdrawn"
                        }                       
                    ]
                }) }}
                {#Radio button options for claim status DUPLICATE#}
              {% elif data['claimStatus'] == 'duplicate' %}
                {{ govukRadios({
                    idPrefix: 'status',
                    name: 'claimStatus',
                    fieldset: {
                      legend: {
                        text: "What is the status of this claim?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                      }
                    },
                    items: [
                        {
                            value: "awaiting-appointment",
                            text: "Awaiting appointment",
                            conditional: {
                              html: govukWarningText
                            }
                        },
                        {
                            value: "complex-claim",
                            text: "Complex claim",
                            hint: {
                              text: "For example, claims sent to Greenock."
                             }
                        },
                        {
                            value: "not-entitled",
                            text: "Not entitled"
                        },
                        {
                            value: "not-valid",
                            text: "Not valid"
                        },
                        {
                            value: "paused",
                            text: "Paused"
                        },
                        {
                            value: "suspected-fraud",
                            text: "Suspected fraud"
                        },
                        {
                            value: "withdrawn",
                            text: "Withdrawn"
                        }                       
                    ]
                }) }}
                {#Radio button options for claim status NOT ENTITLED#}
              {% elif data['claimStatus'] == 'not-entitled' %}
                {{ govukRadios({
                    idPrefix: 'status',
                    name: 'claimStatus',
                    fieldset: {
                      legend: {
                        text: "What is the status of this claim?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                      }
                    },
                    items: [
                        {
                            value: "awaiting-appointment",
                            text: "Awaiting appointment",
                            conditional: {
                              html: govukWarningText
                            }
                        },
                        {
                            value: "complex-claim",
                            text: "Complex claim",
                            hint: {
                              text: "For example, claims sent to Greenock."
                             }
                        },
                        {
                            value: "duplicate",
                            text: "Duplicate"
                        },
                        {
                            value: "not-valid",
                            text: "Not valid"
                        },
                        {
                            value: "paused",
                            text: "Paused"
                        },
                        {
                            value: "suspected-fraud",
                            text: "Suspected fraud"
                        },
                        {
                            value: "withdrawn",
                            text: "Withdrawn"
                        }                       
                    ]
                }) }}
                {#Radio button options for claim status WITHDRAWN#}
              {% elif data['claimStatus'] == 'withdrawn' %}
                {{ govukRadios({
                    idPrefix: 'status',
                    name: 'claimStatus',
                    fieldset: {
                      legend: {
                        text: "What is the status of this claim?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                      }
                    },
                    items: [
                        {
                            value: "awaiting-appointment",
                            text: "Awaiting appointment",
                            conditional: {
                              html: govukWarningText
                            }
                        },
                        {
                            value: "complex-claim",
                            text: "Complex claim",
                            hint: {
                              text: "For example, claims sent to Greenock."
                             }
                        },
                        {
                            value: "duplicate",
                            text: "Duplicate"
                        },
                        {
                            value: "not-entitled",
                            text: "Not entitled"
                        },
                        {
                            value: "not-valid",
                            text: "Not valid"
                        },
                        {
                            value: "paused",
                            text: "Paused"
                        },
                        {
                            value: "suspected-fraud",
                            text: "Suspected fraud"
                        }                     
                    ]
                }) }}
                {#Radio button options for claim status NOT VALID#}
              {% elif data['claimStatus'] == 'not-valid' %}
                {{ govukRadios({
                    idPrefix: 'status',
                    name: 'claimStatus',
                    fieldset: {
                      legend: {
                        text: "What is the status of this claim?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                      }
                    },
                    items: [
                        {
                            value: "awaiting-appointment",
                            text: "Awaiting appointment",
                            conditional: {
                              html: govukWarningText
                            }
                        },
                        {
                            value: "complex-claim",
                            text: "Complex claim",
                            hint: {
                              text: "For example, claims sent to Greenock."
                             }
                        },
                        {
                            value: "duplicate",
                            text: "Duplicate"
                        },
                        {
                            value: "not-entitled",
                            text: "Not entitled"
                        },
                        {
                            value: "paused",
                            text: "Paused"
                        },
                        {
                            value: "suspected-fraud",
                            text: "Suspected fraud"
                        },
                        {
                            value: "withdrawn",
                            text: "Withdrawn"
                        }                       
                    ]
                }) }}
                {#Radio button options for claim status PROCESSING STARTED, SUCCESS, SUSPECTED FRAUD, PAUSE #}
              {% else %}
                {{ govukRadios({
                    idPrefix: 'status',
                    name: 'claimStatus',
                    fieldset: {
                      legend: {
                        text: "What is the status of this claim?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                      }
                    },
                    items: [
                        {
                            value: "awaiting-appointment",
                            text: "Awaiting appointment",
                            conditional: {
                              html: govukWarningText
                            }
                        },
                        {
                            value: "complex-claim",
                            text: "Complex claim",
                            hint: {
                              text: "For example, claims sent to Greenock."
                             }
                        },
                        {
                            value: "duplicate",
                            text: "Duplicate"
                        },
                        {
                            value: "not-entitled",
                            text: "Not entitled"
                        },
                        {
                            value: "not-valid",
                            text: "Not valid"
                        },
                        {
                            value: "paused",
                            text: "Paused"
                        },
                        {
                            value: "suspected-fraud",
                            text: "Suspected fraud"
                        },
                        {
                            value: "withdrawn",
                            text: "Withdrawn"
                        }                       
                    ]
                }) }}
              {% endif %}
            </fieldset>
          </div>
          {{ govukButton({
            text: "Continue"
        }) }}
        </form>
      </div>
    </div>
  {% endblock %}
  {% block footer %}
    {% from "internal-service-footer/macro.njk" import dwpFooter %}
    {{ dwpFooter({
  meta: {
    visuallyHiddenTitle: "Meta links",
    items: [
    {
      href: "#",
            text: "Accessibility statement"
    },
    {
      href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
    },
    {
      href: "/prototype-admin/clear-data",
            text: "Clear data"
    }
    ]
  }
}) }}
  {% endblock %}