{% extends "./view-claim.html" %}
{% block pageTitle %}
  Why have you paused this claim?
{% endblock %}
{% set pauseReason = data['pauseReason'] | replace("-", " ") %}
{% block content %}
  <div class="govuk-grid-row  govuk-!-margin-top-4">
    <div class="govuk-grid-column-two-thirds">
      <form action="action-by" method="post">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            {{ govukCheckboxes({
          idPrefix: 'status',
          name: 'pauseReason',
          fieldset: {
          legend: {
          text: "Why have you paused this claim?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--l"
          }
          },
          hint: {
          text: "Select all that apply."
          },
          items: [
          {
          value: "CIS update",
          checked: checked("pauseReason", "CIS update"),
          text: "CIS update"
          },
          {
          value: "Identity check (KBV)",
          checked: checked("pauseReason", "Identity check (KBV)"),
          text: "Identity check (KBV)"
          },
          {
          value: "International Group",
          checked: checked("pauseReason", "International Group"),
          text: "International Group"
          },
          {
          value: "Main benefit reply (MBR)",
          checked: checked("pauseReason", "Main benefit reply (MBR)"),
          text: "Main benefit reply (MBR)"
          },
          {
          value: "NSESA team",
          checked: checked("pauseReason", "NSESA team"),
          text: "NSESA team"
          },
          {
          value: "Self-employment and company director check",
          checked: checked("pauseReason", "Self-employment and company director check"),
          text: "Self-employment and company director check"
          },
          {
          value: "Sent to decision maker",
          checked: checked("pauseReason", "Sent to decision maker"),
          text: "Sent to decision maker"
          },
          {
          value: "Transferred to clerical",
          checked: checked("pauseReason", "Transferred to clerical"),
          text: "Transferred to clerical"
          },
          {
          value: "Other",
          checked: checked("pauseReason", "Other"),
          text: "Other"
          }
          ]
          }) }}
          </fieldset>
        </div>
        {{ govukButton({
      text: "Continue"
      }) }}
      </form>
      <script>
        // Update selcted checkbox count in session data
        function updateSelectedCheckboxCount() {
          var selectedCheckboxes = document.querySelectorAll('input[type="checkbox"]:checked').length;
          sessionStorage.setItem('selectedCheckboxCount', selectedCheckboxes);
        }
        // Add event listener to checkboxes
        document.querySelectorAll('input[type="checkbox"]').forEach(function (checkbox) {
          checkbox.addEventListener('change', updateSelectedCheckboxCount);
        });
      </script>
    </div>
  </div>
{% endblock %}