{% extends "layout/summary.html" %}

{% block pageTitle %}
  {{ serviceName }}: Application for {{ data['service-short-name']}} Interview checklist | {{ currentClaimantData.claimant.title }} {{ currentClaimantData.claimant.firstName }} {{ currentClaimantData.claimant.lastName }}: {{ currentClaimantData.claimant.nino }}
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-top-7">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Initial work search interview checklist</h1>
    {% include "includes/cis-flags.html" %}
    {% include "includes/evidence-section.html" %}
    {% include "includes/details-id.html" %}  
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    {% include "includes/forms-section.html" %}
  </div>
  <div class="govuk-grid-column-one-third dwp-print-hide govuk-align-right-from-desktop">
    {{ govukButton({
      text: "Print interview checklist",
      href: "javascript:window.print();"
    }) }}
  </div>
</div>

{% endblock %}
