{% extends "layout/summary.html" %}

{% block pageTitle %}
{{ serviceName }}: DWP Agent – Claim pushed
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Claim pushed",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-6",
        html: "The claim for Mr John Doe <br><strong>QQ 12 34 56 D</strong> was pushed"
      }) }}
      <h3 class="govuk-heading-m">What happens next</h3>
      <p>A decision maker will review the application.</p>
      <p><a href="#">What did you think of this service?</a> (takes 30 seconds)</p>

      {{ govukButton({
        text: "Find another claim",
        href: "/work-coach/5/nino-search"
      }) }}

    </div>
  </div>
{% endblock %}
