{% extends "layout/summary.html" %}

{% block pageTitle %}
  {{ serviceName }}: Application for {{ data['service-short-name']}} Push | {{ currentClaimantData.claimant.title }} {{ currentClaimantData.claimant.firstName }} {{ currentClaimantData.claimant.lastName }}: {{ currentClaimantData.claimant.nino }}
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block content %}
  
<div class="govuk-grid-row govuk-!-margin-top-4 dwp-print-hide">
  <div class="govuk-grid-column-two-thirds ">
    <h1 class="govuk-heading-l">Push claim</h1>
    
    {% if data['status'] === "pushed" %}
    <p>This claim has been successfully pushed.</p>
    {{ govukButton({
      text: "Find another claim",
      href: "/work-coach/nino-search"
    }) }}
    {% elif data['status'] === "notPushed" %}
    <p>You should only push the claim once the initial work search interview has taken place and the interview
    checklist has been completed.</p>
    {{ govukButton({
      text: "Push claim",
      href: "success?status=pushed"
    }) }}
    <br>
    <a href="?status=pushFailed">Unhappy path</a>
    {% elif data['status'] === "push failed"  %}
    {{ govukWarningText({
      html: "The push failed",
      iconFallbackText: "Warning",
      classes: "dwp-print-hide"
    }) }}
    <p>Send the printed form to a service centre for clerical entry.</p>
    {% else %}
    <p>???</p>

    {% endif %}

    
  </div>
</div>

{% endblock %}
