{% extends "layout-agent-id.html" %}
{% block pageTitle %}
  Service centre - {{ serviceName }}
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  text: "Back to scenario screen",
  href: "reset-list"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row dwp-print-hide">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Service centre
      </h1>
      {# TILES #}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <a
            href="#"
            role="link"
            draggable="false"
            class="govuk-panel govuk-button link-panel govuk-!-width-full"
            data-module="govuk-button">
            <span class="govuk-panel__title govuk-!-font-size-27">
              Get a new claim
            </span>
          </a>
        </div>
        <div class="govuk-grid-column-one-half">
          <a
            href="#"
            role="link"
            draggable="false"
            class="govuk-panel govuk-button link-panel govuk-!-width-full"
            data-module="govuk-button">
            <span class="govuk-panel__title govuk-!-font-size-27">
              Find a claimant
            </span>
          </a>
        </div>
      </div>
      <div class="govuk-!-margin-bottom-7"></div>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible dwp-print-hide">
        <h2 class="govuk-heading-m">On hold claims</h2>
        {# AGENT 2 ON HOLD CLAIMS #}
        {% if data['show'] == "02" %}
          {# AGENT 2 - AGENT ID SEARCH BOX #}
          <form action="choose-task1" method="post">
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Find claims by agent ID
              </label>
              <input class="govuk-input govuk-input--width-10" id="agent" name="agent" type="text">
                {{ govukButton({
        text: "Search",
        href: "choose-task1?show="
      }) }}
              </div>
            </form>
            <h2 class="govuk-heading-m">
              Last updated by agent ID 00000002
            </h2>
            {# AGENT 2 - LIST #}
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Agent ID</th>
                  <th scope="col" class="govuk-table__header">Date updated</th>
                  <th scope="col" class="govuk-table__header">NI number</th>
                  <th scope="col" class="govuk-table__header">Status</th>
                  <th scope="col" class="govuk-table__header">Action</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">00000002</td>
                  <td class="govuk-table__cell">9 November 2023 at 9:21am</td>
                  <td class="govuk-table__cell">SW 12 34 56 A</td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--blue">
                      Paused
                    </strong>
                  </td>
                  <td class="govuk-table__cell">
                    <a class="govuk-link" href="#">View</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">00000002</td>
                  <td class="govuk-table__cell">9 November 2023 at 9:05am</td>
                  <td class="govuk-table__cell">RN 00 00 35 C</td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--blue">
                      Paused
                    </strong>
                  </td>
                  <td class="govuk-table__cell">
                    <a class="govuk-link" href="#">View</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">00000002</td>
                  <td class="govuk-table__cell">8 November 2023 at 3:41pm</td>
                  <td class="govuk-table__cell">QQ 12 34 56 X</td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--blue">
                      Suspected fraud
                    </strong>
                  </td>
                  <td class="govuk-table__cell">
                    <a class="govuk-link" href="#">View</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">00000002</td>
                  <td class="govuk-table__cell">8 November 2023 at 2:12pm</td>
                  <td class="govuk-table__cell">RN 00 00 10 A</td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--blue">
                      Paused
                    </strong>
                  </td>
                  <td class="govuk-table__cell">
                    <a class="govuk-link" href="#">View</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">00000002</td>
                  <td class="govuk-table__cell">8 November 2023 at 11:04am</td>
                  <td class="govuk-table__cell">CC 12 34 56 A</td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--blue">
                      Escalated
                    </strong>
                  </td>
                  <td class="govuk-table__cell">
                    <a class="govuk-link" href="#">View</a>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">00000002</td>
                  <td class="govuk-table__cell">8 November 2023 at 10:38am</td>
                  <td class="govuk-table__cell">SJ 12 34 56 C</td>
                  <td class="govuk-table__cell">
                    <strong class="govuk-tag govuk-tag--blue">
                      Paused
                    </strong>
                  </td>
                  <td class="govuk-table__cell">
                    <a class="govuk-link" href="#">View</a>
                  </td>
                </tr>
              </tbody>
            </table>
            {# AGENT 1 ON HOLD CLAIMS #}
          {% else %}
            {# AGENT 1 - AGENT ID SEARCH BOX #}
            <form action="choose-task1" method="post">
              <div class="govuk-form-group">
                <label class="govuk-label" for="width-10">
                  Find claims by agent ID
                </label>
                <input class="govuk-input govuk-input--width-10" id="agent" name="agent" type="text">
                  {{ govukButton({
        text: "Search"
      }) }}
                </div>
              </form>
              <h2 class="govuk-heading-m">
                Last updated by agent ID 00000001
              </h2>
              {# AGENT 1 - LIST #}
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Agent ID</th>
                    <th scope="col" class="govuk-table__header">Date updated</th>
                    <th scope="col" class="govuk-table__header">NI number</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                    <th scope="col" class="govuk-table__header">Action</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000001</td>
                    <td class="govuk-table__cell">9 November 2023 at 9:21am</td>
                    <td class="govuk-table__cell">SW 12 34 56 A</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Paused
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000001</td>
                    <td class="govuk-table__cell">9 November 2023 at 9:05am</td>
                    <td class="govuk-table__cell">RN 00 00 35 C</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Paused
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000001</td>
                    <td class="govuk-table__cell">8 November 2023 at 3:41pm</td>
                    <td class="govuk-table__cell">QQ 12 34 56 X</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Suspected fraud
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000001</td>
                    <td class="govuk-table__cell">8 November 2023 at 2:12pm</td>
                    <td class="govuk-table__cell">RN 00 00 10 A</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Paused
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000001</td>
                    <td class="govuk-table__cell">8 November 2023 at 11:04am</td>
                    <td class="govuk-table__cell">CC 12 34 56 A</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Escalated
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000001</td>
                    <td class="govuk-table__cell">8 November 2023 at 10:38am</td>
                    <td class="govuk-table__cell">SJ 12 34 56 C</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Paused
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000001</td>
                    <td class="govuk-table__cell">7 November 2023 at 4:21pm</td>
                    <td class="govuk-table__cell">SW 12 34 56 A</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Paused
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000001</td>
                    <td class="govuk-table__cell">7 November 2023 at 3:59pm</td>
                    <td class="govuk-table__cell">RN 00 00 35 C</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Paused
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000001</td>
                    <td class="govuk-table__cell">7 November 2023 at 3:21pm</td>
                    <td class="govuk-table__cell">QQ 12 34 56 X</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Suspected fraud
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000001</td>
                    <td class="govuk-table__cell">7 November 2023 at 11:12am</td>
                    <td class="govuk-table__cell">RN 00 00 10 A</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Paused
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000001</td>
                    <td class="govuk-table__cell">7 November 2023 at 9:21am</td>
                    <td class="govuk-table__cell">SW 12 34 56 A</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Paused
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000001</td>
                    <td class="govuk-table__cell">6 November 2023 at 12:53pm</td>
                    <td class="govuk-table__cell">RN 00 00 35 C</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Paused
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000001</td>
                    <td class="govuk-table__cell">6 November 2023 at 10:21am</td>
                    <td class="govuk-table__cell">QQ 12 34 56 X</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Suspected fraud
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000001</td>
                    <td class="govuk-table__cell">6 November 2023 at 9:45am</td>
                    <td class="govuk-table__cell">RN 00 00 10 A</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Paused
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000001</td>
                    <td class="govuk-table__cell">6 November 2023 at 9:21am</td>
                    <td class="govuk-table__cell">CC 12 34 56 A</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Escalated
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000001</td>
                    <td class="govuk-table__cell">6 November 2023 at 9:04am</td>
                    <td class="govuk-table__cell">SJ 12 34 56 C</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Paused
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000001</td>
                    <td class="govuk-table__cell">4 November 2023 at 9:21am</td>
                    <td class="govuk-table__cell">SW 12 34 56 A</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Paused
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000001</td>
                    <td class="govuk-table__cell">3 November 2023 at 10:12am</td>
                    <td class="govuk-table__cell">RN 00 00 35 C</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Paused
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000001</td>
                    <td class="govuk-table__cell">2 November 2023 at 2:20pm</td>
                    <td class="govuk-table__cell">QQ 12 34 56 X</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Suspected fraud
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000001</td>
                    <td class="govuk-table__cell">2 November 2023 at 11:12am</td>
                    <td class="govuk-table__cell">RN 00 00 10 A</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Paused
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <nav class="app-pagination" role="navigation" aria-label="results">
                <ul class="app-pagination__list">
                  <li class="app-pagination__item app-pagination__item--current">
                    <a class="govuk-link app-pagination__link" href="#" aria-label="Page 1" aria-current="page">
                      1
                    </a>
                  </li>
                  <li class="app-pagination__item">
                    <a class="govuk-link app-pagination__link" href="#" aria-label="Page 2">
                      2
                    </a>
                  </li>
                  <li class="app-pagination__item">
                    <a class="govuk-link app-pagination__link" href="#" aria-label="Page 3">
                      3
                    </a>
                  </li>
                </ul>
                <div class="app-pagination__next">
                  <a class="govuk-link app-pagination__link" href="#" rel="next">
                    <span class="app-pagination__link-title">Next</span>
                    <svg
                      class="app-pagination__icon app-pagination__icon--next"
                      xmlns="http://www.w3.org/2000/svg"
                      height="13"
                      width="15"
                      aria-hidden="true"
                      focusable="false"
                      viewBox="0 0 15 13">
                      <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                    </svg>
                  </a>
                </div>
              </nav>
            {% endif %}
          </div>
        </div>
      {% endblock %}