{% extends "layout-agent-id.html" %}
{% block pageTitle %}
  Service centre - {{ serviceName }}
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "claimslist"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row dwp-print-hide">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        On hold claims
      </h1>
      {# AGENT 2 LAST UPDATED CLAIMS #}
      {% if data['show'] == "02" %}
        {# AGENT 2 - AGENT ID SEARCH BOX #}
        <form action="on-hold" method="post">
          <div class="govuk-form-group">
            <label class="govuk-label" for="width-10">
              Search by staff number
            </label>
            <input class="govuk-input govuk-input--width-10" id="agent" name="agent" type="text">
              {{ govukButton({
        text: "Search",
        href: "on-hold?show="
      }) }}
            </div>
          </form>
          <h2 class="govuk-heading-m">
            Last updated by staff number 00000002
          </h2>
          {# AGENT 2 - TABS #}
          <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
              Contents
            </h2>
            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="#paused">
                  Paused
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#escalated">
                  Escalated
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="#suspected-fraud">
                  Suspected fraud
                </a>
              </li>
            </ul>
            <div class="govuk-tabs__panel" id="paused">
              <h2 class="govuk-heading-l">Paused</h2>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">staff number</th>
                    <th scope="col" class="govuk-table__header">Date updated</th>
                    <th scope="col" class="govuk-table__header">NI number</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                    <th scope="col" class="govuk-table__header">Action</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000002</td>
                    <td class="govuk-table__cell">6 November 2023 at 9:21am</td>
                    <td class="govuk-table__cell">SW 12 34 56 A</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Paused
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000002</td>
                    <td class="govuk-table__cell">4 November 2023 at 4:21pm</td>
                    <td class="govuk-table__cell">RN 00 00 35 C</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Paused
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000002</td>
                    <td class="govuk-table__cell">4 November 2023 at 11:21am</td>
                    <td class="govuk-table__cell">QQ 12 34 56 X</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Paused
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000002</td>
                    <td class="govuk-table__cell">3 November 2023 at 3:12pm</td>
                    <td class="govuk-table__cell">RN 00 00 10 A</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Paused
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000002</td>
                    <td class="govuk-table__cell">3 November 2023 at 2:32pm</td>
                    <td class="govuk-table__cell">CC 12 34 56 A</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Paused
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000002</td>
                    <td class="govuk-table__cell">3 November 2023 at 1:38pm</td>
                    <td class="govuk-table__cell">SJ 12 34 56 C</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Paused
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000002</td>
                    <td class="govuk-table__cell">3 November 2023 at 11:21am</td>
                    <td class="govuk-table__cell">SW 12 34 56 A</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Paused
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000002</td>
                    <td class="govuk-table__cell">3 November 2023 at 10:43am</td>
                    <td class="govuk-table__cell">RN 00 00 35 C</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Paused
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000002</td>
                    <td class="govuk-table__cell">2 November 2023 at 2:34pm</td>
                    <td class="govuk-table__cell">QQ 12 34 56 X</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Paused
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000002</td>
                    <td class="govuk-table__cell">2 November 2023 at 1:57pm</td>
                    <td class="govuk-table__cell">RN 00 00 10 A</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Paused
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000002</td>
                    <td class="govuk-table__cell">2 November 2023 at 11:04am</td>
                    <td class="govuk-table__cell">CC 12 34 56 A</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Paused
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000002</td>
                    <td class="govuk-table__cell">31 October 2023 at 2:21pm</td>
                    <td class="govuk-table__cell">QQ 12 34 56 X</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Paused
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="govuk-tabs__panel" id="escalated">
              <h2 class="govuk-heading-l">Escalated</h2>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Staff number</th>
                    <th scope="col" class="govuk-table__header">Date updated</th>
                    <th scope="col" class="govuk-table__header">NI number</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                    <th scope="col" class="govuk-table__header">Action</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000002</td>
                    <td class="govuk-table__cell">6 November 2023 at 4:12pm</td>
                    <td class="govuk-table__cell">RN 00 00 10 A</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Escalated
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000002</td>
                    <td class="govuk-table__cell">6 November 2023 at 11:04am</td>
                    <td class="govuk-table__cell">CC 12 34 56 A</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Escalated
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000002</td>
                    <td class="govuk-table__cell">3 November 2023 at 2:38pm</td>
                    <td class="govuk-table__cell">SJ 12 34 56 C</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Escalated
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000002</td>
                    <td class="govuk-table__cell">2 November 2023 at 3:12pm</td>
                    <td class="govuk-table__cell">RN 00 00 10 A</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Escalated
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000002</td>
                    <td class="govuk-table__cell">1 November 2023 at 2:08pm</td>
                    <td class="govuk-table__cell">SJ 12 34 56 C</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Escalated
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000002</td>
                    <td class="govuk-table__cell">31 October 2023 at 4:04pm</td>
                    <td class="govuk-table__cell">CC 12 34 56 A</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Escalated
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="govuk-tabs__panel" id="suspected-fraud">
              <h2 class="govuk-heading-l">Suspected fraud</h2>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Staff number</th>
                    <th scope="col" class="govuk-table__header">Date updated</th>
                    <th scope="col" class="govuk-table__header">NI number</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                    <th scope="col" class="govuk-table__header">Action</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000002</td>
                    <td class="govuk-table__cell">4 November 2023 at 9:21am</td>
                    <td class="govuk-table__cell">SW 12 34 56 A</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Suspected fraud
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000002</td>
                    <td class="govuk-table__cell">2 November 2023 at 3:12pm</td>
                    <td class="govuk-table__cell">RN 00 00 10 A</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Suspected fraud
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000002</td>
                    <td class="govuk-table__cell">31 October 2023 at 2:12pm</td>
                    <td class="govuk-table__cell">SJ 12 34 56 C</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Suspected fraud
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">00000002</td>
                    <td class="govuk-table__cell">27 October 2023 at 2:18pm</td>
                    <td class="govuk-table__cell">RN 00 00 10 A</td>
                    <td class="govuk-table__cell">
                      <strong class="govuk-tag govuk-tag--blue">
                        Suspected fraud
                      </strong>
                    </td>
                    <td class="govuk-table__cell">
                      <a class="govuk-link" href="#">View</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          {# AGENT 1 LAST UPDATED CLAIMS #}
        {% else %}
          {# AGENT 1 - AGENT ID SEARCH BOX #}
          <form action="on-hold" method="post">
            <div class="govuk-form-group">
              <label class="govuk-label" for="width-10">
                Search by staff number
              </label>
              <input class="govuk-input govuk-input--width-10" id="agent" name="agent" type="text">
                {{ govukButton({
        text: "Search"
      }) }}
              </div>
            </form>
            <h2 class="govuk-heading-m">
              Last updated by staff number 00000001
            </h2>
            {# AGENT 1 - TABS #}
            {#{% if data['claimant'] == 'ij' and data['claimStatus'] == 'success' or data['claimant'] == 'ij' and data['claimStatus'] == 'withdrawn'  or data['claimant'] == 'ij' and data['claimStatus'] == 'awaiting-appointment' or data['claimant'] == 'ij' and data['claimStatus'] == 'not-entitled' %}#}
            {#{% elif data['claimStatus'] == 'paused' and data['claimant'] == 'ij' %}#}
            {#{% elif data['claimStatus'] == 'escalated' and data['claimant'] == 'ij' %}#}
            {#{% elif data['claimStatus'] == 'suspected-fraud' and data['claimant'] == 'ij' %}#}
            {#{% else %}#}
            {#{% endif %}#}
              <div class="govuk-tabs" data-module="govuk-tabs"> <h2 class="govuk-tabs__title">
                Contents
              </h2>
              <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                  <a class="govuk-tabs__tab" href="#paused">
                    Paused
                  </a>
                </li>
                <li class="govuk-tabs__list-item">
                  <a class="govuk-tabs__tab" href="#escalated">
                    Escalated
                  </a>
                </li>
                <li class="govuk-tabs__list-item">
                  <a class="govuk-tabs__tab" href="#suspected-fraud">
                    Suspected fraud
                  </a>
                </li>
                <li class="govuk-tabs__list-item">
                  <a class="govuk-tabs__tab" href="#duplicate">
                    Duplicate
                  </a>
                </li>
                <li class="govuk-tabs__list-item">
                  <a class="govuk-tabs__tab" href="#awaiting-appointment">
                    Awaiting appointment
                  </a>
                </li>
                <li class="govuk-tabs__list-item">
                  <a class="govuk-tabs__tab" href="#not-entitled">
                    Not entitled
                  </a>
                </li>
                <li class="govuk-tabs__list-item">
                  <a class="govuk-tabs__tab" href="#withdrawn">
                    Withdrawn
                  </a>
                </li>
              </ul>
              <div class="govuk-tabs__panel" id="paused">
                <h2 class="govuk-heading-l">Paused</h2>
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Staff number</th>
                      <th scope="col" class="govuk-table__header">Date updated</th>
                      <th scope="col" class="govuk-table__header">NI number</th>
                      <th scope="col" class="govuk-table__header">Status</th>
                      <th scope="col" class="govuk-table__header">Action</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000001</td>
                      <td class="govuk-table__cell">6 November 2023 at 9:21am</td>
                      <td class="govuk-table__cell">SW 12 34 56 A</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Paused
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="govuk-tabs__panel" id="escalated">
                <h2 class="govuk-heading-l">Escalated</h2>
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Staff number</th>
                      <th scope="col" class="govuk-table__header">Date updated</th>
                      <th scope="col" class="govuk-table__header">NI number</th>
                      <th scope="col" class="govuk-table__header">Status</th>
                      <th scope="col" class="govuk-table__header">Action</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000001</td>
                      <td class="govuk-table__cell">6 November 2023 at 4:12pm</td>
                      <td class="govuk-table__cell">RN 00 00 10 A</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Escalated
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="govuk-tabs__panel" id="suspected-fraud">
                <h2 class="govuk-heading-l">Suspected fraud</h2>
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Staff number</th>
                      <th scope="col" class="govuk-table__header">Date updated</th>
                      <th scope="col" class="govuk-table__header">NI number</th>
                      <th scope="col" class="govuk-table__header">Status</th>
                      <th scope="col" class="govuk-table__header">Action</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000001</td>
                      <td class="govuk-table__cell">4 November 2023 at 9:21am</td>
                      <td class="govuk-table__cell">SW 12 34 56 A</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Suspected fraud
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="govuk-tabs__panel" id="duplicate">
                <h2 class="govuk-heading-l">Duplicate</h2>
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Staff number</th>
                      <th scope="col" class="govuk-table__header">Date updated</th>
                      <th scope="col" class="govuk-table__header">NI number</th>
                      <th scope="col" class="govuk-table__header">Status</th>
                      <th scope="col" class="govuk-table__header">Action</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000001</td>
                      <td class="govuk-table__cell">4 November 2023 at 9:21am</td>
                      <td class="govuk-table__cell">SW 12 34 56 A</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Duplicate
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="govuk-tabs__panel" id="awaiting-appointment">
                <h2 class="govuk-heading-l">Awaiting appointment</h2>
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Staff number</th>
                      <th scope="col" class="govuk-table__header">Date updated</th>
                      <th scope="col" class="govuk-table__header">NI number</th>
                      <th scope="col" class="govuk-table__header">Status</th>
                      <th scope="col" class="govuk-table__header">Action</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000001</td>
                      <td class="govuk-table__cell">4 November 2023 at 9:21am</td>
                      <td class="govuk-table__cell">SW 12 34 56 A</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Awaiting appointment
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="govuk-tabs__panel" id="not-entitled">
                <h2 class="govuk-heading-l">Not entitled</h2>
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Staff number</th>
                      <th scope="col" class="govuk-table__header">Date updated</th>
                      <th scope="col" class="govuk-table__header">NI number</th>
                      <th scope="col" class="govuk-table__header">Status</th>
                      <th scope="col" class="govuk-table__header">Action</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000001</td>
                      <td class="govuk-table__cell">4 November 2023 at 9:21am</td>
                      <td class="govuk-table__cell">SW 12 34 56 A</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Not entitled
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="govuk-tabs__panel" id="withdrawn">
                <h2 class="govuk-heading-l">Withdrawn</h2>
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Staff number</th>
                      <th scope="col" class="govuk-table__header">Date updated</th>
                      <th scope="col" class="govuk-table__header">NI number</th>
                      <th scope="col" class="govuk-table__header">Status</th>
                      <th scope="col" class="govuk-table__header">Action</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">00000001</td>
                      <td class="govuk-table__cell">4 November 2023 at 9:21am</td>
                      <td class="govuk-table__cell">SW 12 34 56 A</td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--blue">
                          Withdrawn
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        <a class="govuk-link" href="#">View</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    {% endblock %}