{% extends "layout_unbranded.html" %}
{% block pageTitle %}
    NSJSA Agent Prototypes
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">
                Workflow Management 1a: Iteration 2
            </h1>
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Hypothesis 1: Claim status
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p>We believe that introducing the new claim status 'processing started' when an agent selects 'Get a new claim' to
                        allocate the claim to that agent, will reduce the risk of claim loss, reduce the risk of more than one agent working on
                        the same new claim, and will avoid cherry picking.</p>
                    <p class="govuk-body">We will know this wehen we test a prototype and users tell us:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>The status change from 'Success' to 'Processing started' is clear</li>
                        <li>They cannot cherry pick claims</li>
                        <li>They would find the new claim again, if their session times out, or they navigate away from the claim</li>
                    </ul>
                </div>
            </details>
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Hypothesis 2: Claims list with filter
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p>We believe that showing agents a filterable list of all claims they have updated last, will reduce the risk of claims
                        getting lost and saves time finding claims.</p>
                    <p class="govuk-body">We will know this wehen we test a prototype and users tell us:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>The list acts as a safeguard against human error and technical failure</li>
                        <li>The filter functionality makes it easy to find claims</li>
                    </ul>
                </div>
            </details>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"></div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                {{ govukTable({
        caption: "Prototype scenarios",
        captionClasses: "govuk-table__caption--s",
        firstCellIsHeader: true,
        head: [
            {
                text: "ID"
            },
            {
                text: "Scenario"
            }
        ],
        rows: [
        [
            {
                text: "sc1"
            },
            {
                html: "<a href='choose-task3?sc=1&claimant=ij&claimStatus=processing-started'>Standard claim"
                
            }
        ],
        [
            {
                text: "sc2"
            },
            {
                html: "<a href='choose-task3?sc=2&claimant=kb&claimStatus=not-set'>Duplicate claim - entitlement not affected"
            }
          ],
          [
            {
                text: "sc3"
            },
            {
                html: "<a href='choose-task3?sc=3'>Duplicate claim - entitlement affected"
            }
          ],
          [
            {
                text: "sc4"
            },
            {
                html: "<a href=#'>Time out"
            }
          ]
        ]
      }) }}
                {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
                {{ govukInsetText({
  text: "Last updated claims: Enter 01 or any value for Agent 01 claims, enter 02 for Agent 02 claims or 03 for Agent 03 claims."
}) }}
            </div>
        </div>
    {% endblock %}