
{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  NSJSA Automation Prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">Sprint 11, 12 & 13</h1>

      <p><a href="1a-eligibility/introduction">Start full journey</a></p>

      <h2 class="govuk-heading-m">Jump to screen</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="1a-eligibility/introduction">Eligibility check</a></li>
        <li><a href="1a-eligibility/eligible">Eligibility outcome</a></li>
        <li><a href="1b-lead-in/apply-expectations">Application expectations</a></li>
        <li><a href="1b-lead-in/apply-things-needed">Application things you need</a></li>
        <li><a href="check-answers">Check answers</a></li>
        <li><a href="declaration">Declaration</a></li>
        <li><a href="apply-confirmation">Application confirmation, but...</a></li>

        <li><a href="dth-lead-in/dth-reasons">Confirm ID expectations</a></li>
        <li><a href="dth-lead-in/dth-things-needed">Confirm ID things you need</a></li>

        <li><a href="dth">Trust hub start</a></li>
        <li><a href="dth/choose-2-items">Prove identity start</a></li>


        <li><a href="confirmation">ID confirmed</a></li>
        <li><a href="we-need-to-contact">ID not confirmed</a></li>
      </ul>
      
    </div>
  </div>

{% endblock %}
