
{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  NSJSA Automation Prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Fraud & CIS</h1>


      <h2 class="govuk-heading-m">Scenarios</h2>

      <ul class="govuk-list govuk-list--unstyled">
        <li><a href="agent/sprint3/1">Service centre agent – Find a claim</a></li>
      </ul>
      
    </div>
  </div>

{% endblock %}
