{% if data['claimStatus'] == 'new-claim' %}
    {{ dwpTimeline({
items: [
    {
    title: "New claim",
    byline: "claimant",
    date: "5 May 2024 at 10:02am"
    }
]
}) }}
{% elif data['claimStatus'] == 'preview' %}
    {{ dwpTimeline({
items: [
    {
    title: "Preview",
    byline: "00000089",
    date: " 5 May 2024 at 11:14am"
    },
    {
    title: "New claim",
    date: "by claimant on 5 May 2024 at 10:02am"
    }
]
}) }}
{% elif data['claimStatus'] == 'success' %}
    {{ dwpTimeline({
items: [
 {
    title: "Success",
    byline: "00000089",
    date: " 5 May 2024 at 3:02pm"
    },
    {
    title: "New claim",
    date: "by claimant on 5 May 2024 at 10:02am"
    }
]
}) }}
{% elif data['claimStatus'] == 'processing-started' %}
    {{ dwpTimeline({
items: [
 {
    title: "Processing started",
    byline: "12345678",
    date: " 8 May 2024 at 9:18am"
    },
 {
    title: "Success",
    byline: "00000089",
    date: " 5 May 2024 at 3:02pm"
    },
    {
    title: "New claim",
    date: "by claimant on 5 May 2024 at 10:02am"
    }
]
}) }}
{% elif data['claimStatus'] == 'paused' %}
    {% if data['pauseReason'] == 'Identity check (KBV)' %}
        <div class="dwp-timeline">
            <ol class="dwp-timeline__items">
                <li class="dwp-timeline__item">
                    <p class="dwp-timeline__datetime">
                        9 May 2024 at 11:45am</p>
                    <h2 class="dwp-timeline__heading">Paused</h2>
                    <p class="dwp-timeline__by-line">by 88776655</p>
                    <p class="dwp-timeline__content">
                        <ul class="govuk-list govuk-list--bullet">
                            <li>{{ data['pauseReason'] }}</li>
                        </ul>
                        <p class="dwp-timeline__datetime">Deadline {{ data['deadline-day'] }}
                            {{ data['deadline-month'] | toMonth }}
                            {{ data['deadline-year'] }}</p>
                    </p>
                </li>
                <li class="dwp-timeline__item">
                    <p class="dwp-timeline__datetime">
                        8 May 2024 at 9:21am</p>
                    <h2 class="dwp-timeline__heading">Paused</h2>
                    <p class="dwp-timeline__by-line">by 12345678</p>
                    <p class="dwp-timeline__content">
                        <ul class="govuk-list govuk-list--bullet">
                            <li>Identity check (KBV)</li>
                        </ul>
                        <p class="dwp-timeline__datetime">Deadline 9 May 2024</p>
                    </p>
                </li>
                <li class="dwp-timeline__item">
                    <p class="dwp-timeline__datetime">
                        7 May 2024 at 9:18am</p>
                    <h2 class="dwp-timeline__heading">Processing started</h2>
                    <p class="dwp-timeline__by-line">by 12345678</p>
                </li>
                <li class="dwp-timeline__item">
                    <p class="dwp-timeline__datetime">
                        30 April 2024 at 3:02pm</p>
                    <h2 class="dwp-timeline__heading">Success</h2>
                    <p class="dwp-timeline__by-line">by 00000089</p>
                </li>
                <li class="dwp-timeline__item">
                    <p class="dwp-timeline__datetime">
                        30 April 2024 at 10:02am</p>
                    <h2 class="dwp-timeline__heading">New claim</h2>
                    <p class="dwp-timeline__by-line">by claimant</p>
                </li>
            </ol>
        </div>
    {% else %}
        <div class="dwp-timeline">
            <ol class="dwp-timeline__items">
                <li class="dwp-timeline__item">
                    <p class="dwp-timeline__datetime">
                        8 May 2024 at 9:21am</p>
                    <h2 class="dwp-timeline__heading">Paused</h2>
                    <p class="dwp-timeline__by-line">by 12345678</p>
                    <p class="dwp-timeline__content">
                        <ul class="govuk-list govuk-list--bullet">
                            <li>Identity check (KBV)</li>
                        </ul>
                        <p class="dwp-timeline__datetime">Deadline 9 May 2024</p>
                    </p>
                </li>
                <li class="dwp-timeline__item">
                    <p class="dwp-timeline__datetime">
                        7 May 2024 at 9:18am</p>
                    <h2 class="dwp-timeline__heading">Processing started</h2>
                    <p class="dwp-timeline__by-line">by 12345678</p>
                </li>
                <li class="dwp-timeline__item">
                    <h2 class="dwp-timeline__heading">Success</h2>
                    <p class="dwp-timeline__by-line">by 00000089</p>
                    <p class="dwp-timeline__datetime">
                        30 April 2024 at 3:02pm</p>
                </li>
                <li class="dwp-timeline__item">
                    <p class="dwp-timeline__datetime">
                        30 April 2024 at 10:02am</p>
                    <h2 class="dwp-timeline__heading">New claim</h2>
                    <p class="dwp-timeline__by-line">by claimant</p>
                </li>
            </ol>
        </div>
    {% endif %}
{% elif data['claimStatus'] == 'not-valid' %}
    {{ dwpTimeline({
items: [
 {
    title: "Not valid",
    byline: "12345678",
    date: " 8 May 2024 at 9:21am"
    },
{
    title: "Processing started",
    byline: "12345678",
    date: " 8 May 2024 at 9:18am"
    },
 {
    title: "Success",
    byline: "00000089",
    date: " 5 May 2024 at 3:02pm"
    },
    {
    title: "New claim",
    date: "by claimant on 5 May 2024 at 10:02am"
    }
]
}) }}
{% elif data['claimStatus'] == 'duplicate' %}
    {{ dwpTimeline({
items: [
 {
    title: "Duplicate",
    byline: "12345678",
    date: " 8 May 2024 at 9:21am"
    },
{
    title: "Processing started",
    byline: "12345678",
    date: " 8 May 2024 at 9:18am"
    },
 {
    title: "Success",
    byline: "00000089",
    date: " 5 May 2024 at 3:02pm"
    },
    {
    title: "New claim",
    date: "by claimant on 5 May 2024 at 10:02am"
    }
]
}) }}
{% elif data['claimStatus'] == 'suspected-fraud' %}
    {{ dwpTimeline({
items: [
 {
    title: "Suspected fraud",
    byline: "12345678",
    date: " 8 May 2024 at 9:21am"
    },
{
    title: "Processing started",
    byline: "12345678",
    date: " 8 May 2024 at 9:18am"
    },
 {
    title: "Success",
    byline: "00000089",
    date: " 5 May 2024 at 3:02pm"
    },
    {
    title: "New claim",
    date: "by claimant on 5 May 2024 at 10:02am"
    }
]
}) }}
{% elif data['claimStatus'] == 'complex-claim' %}
    {{ dwpTimeline({
items: [
 {
    title: "Complex claim",
    byline: "12345678",
    date: " 8 May 2024 at 9:21am"
    },
{
    title: "Processing started",
    byline: "12345678",
    date: " 8 May 2024 at 9:18am"
    },
 {
    title: "Success",
    byline: "00000089",
    date: " 5 May 2024 at 3:02pm"
    },
    {
    title: "New claim",
    date: "by claimant on 5 May 2024 at 10:02am"
    }
]
}) }}
{% elif data['claimStatus'] == 'awaiting-appointment' %}
    <div class="dwp-timeline">
        <ol class="dwp-timeline__items">
            <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">
                    9 May 2024 at 3:15pm</p>
                <h2 class="dwp-timeline__heading">Awaiting appointment</h2>
                <p class="dwp-timeline__by-line">by 88776655</p>
            </li>
            <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">
                    9 May 2024 at 11:45pm</p>
                <h2 class="dwp-timeline__heading">Paused</h2>
                <p class="dwp-timeline__by-line">by 88776655</p>
                <p class="dwp-timeline__content">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Identity check (KBV)</li>
                    </ul>
                    <p class="dwp-timeline__datetime">Deadline 9 May 2024</p>
                </p>
            </li>
            <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">
                    8 May 2024 at 9:21am</p>
                <h2 class="dwp-timeline__heading">Paused</h2>
                <p class="dwp-timeline__by-line">by 12345678</p>
                <p class="dwp-timeline__content">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Identity check (KBV)</li>
                    </ul>
                    <p class="dwp-timeline__datetime">Deadline 9 May 2024</p>
                </p>
            </li>
            <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">
                    7 May 2024 at 9:18am</p>
                <h2 class="dwp-timeline__heading">Processing started</h2>
                <p class="dwp-timeline__by-line">by 12345678</p>
            </li>
            <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">
                    30 April 2024 at 3:02pm</p>
                <h2 class="dwp-timeline__heading">Success</h2>
                <p class="dwp-timeline__by-line">by 00000089</p>
            </li>
            <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">
                    30 April 2024 at 10:02am</p>
                <h2 class="dwp-timeline__heading">New claim</h2>
                <p class="dwp-timeline__by-line">by claimant</p>
            </li>
        </ol>
    </div>
{% elif data['claimStatus'] == 'not-entitled' %}
    <div class="dwp-timeline">
        <ol class="dwp-timeline__items">
            <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">
                    9 May 2024 at 3:15pm</p>
                <h2 class="dwp-timeline__heading">Not entitled</h2>
                <p class="dwp-timeline__by-line">by 88776655</p>
            </li>
            <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">
                    9 May 2024 at 11:45pm</p>
                <h2 class="dwp-timeline__heading">Paused</h2>
                <p class="dwp-timeline__by-line">by 88776655</p>
                <p class="dwp-timeline__content">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Identity check (KBV)</li>
                    </ul>
                    <p class="dwp-timeline__datetime">Deadline 9 May 2024</p>
                </p>
            </li>
            <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">
                    8 May 2024 at 9:21am</p>
                <h2 class="dwp-timeline__heading">Paused</h2>
                <p class="dwp-timeline__by-line">by 12345678</p>
                <p class="dwp-timeline__content">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Identity check (KBV)</li>
                    </ul>
                    <p class="dwp-timeline__datetime">Deadline 9 May 2024</p>
                </p>
            </li>
            <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">
                    7 May 2024 at 9:18am</p>
                <h2 class="dwp-timeline__heading">Processing started</h2>
                <p class="dwp-timeline__by-line">by 12345678</p>c
            </li>
            <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">
                    30 April 2024 at 3:02pm</p>
                <h2 class="dwp-timeline__heading">Success</h2>
                <p class="dwp-timeline__by-line">by 00000089</p>
            </li>
            <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">
                    30 April 2024 at 10:02am</p>
                <h2 class="dwp-timeline__heading">New claim</h2>
                <p class="dwp-timeline__by-line">by claimant</p>
            </li>
        </ol>
    </div>
{% elif data['claimStatus'] == 'withdrawn' %}
    <div class="dwp-timeline">
        <ol class="dwp-timeline__items">
            <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">
                    9 May 2024 at 3:15pm</p>
                <h2 class="dwp-timeline__heading">Withdrawn</h2>
                <p class="dwp-timeline__by-line">by 88776655</p>
            </li>
            <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">
                    9 May 2024 at 11:45pm</p>
                <h2 class="dwp-timeline__heading">Paused</h2>
                <p class="dwp-timeline__by-line">by 88776655</p>
                <p class="dwp-timeline__content">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Identity check (KBV)</li>
                    </ul>
                    <p class="dwp-timeline__datetime">Deadline 9 May 2024</p>
                </p>
            </li>
            <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">
                    8 May 2024 at 9:21am</p>
                <h2 class="dwp-timeline__heading">Paused</h2>
                <p class="dwp-timeline__by-line">by 12345678</p>
                <p class="dwp-timeline__content">
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Identity check (KBV)</li>
                    </ul>
                    <p class="dwp-timeline__datetime">Deadline 9 May 2024</p>
                </p>
            </li>
            <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">
                    7 May 2024 at 9:18am</p>
                <h2 class="dwp-timeline__heading">Processing started</h2>
                <p class="dwp-timeline__by-line">by 12345678</p>
            </li>
            <li class="dwp-timeline__item">
                <p class="dwp-timeline__datetime">
                    30 April 2024 at 3:02pm</p>
                <h2 class="dwp-timeline__heading">Success</h2>
                <p class="dwp-timeline__by-line">by 00000089</p>
            </li>
            <li class="dwp-timeline__item">
                <h2 class="dwp-timeline__heading">New claim</h2>
                <p class="dwp-timeline__by-line">by claimant</p>
                <p class="dwp-timeline__datetime">
                    30 April 2024 at 10:02am</p>
            </li>
        </ol>
    </div>
{% elif data['claimStatus'] == 'build-failed' %}
    {{ dwpTimeline({
items: [
{
    title: "Processing started",
    byline: "12345678",
    date: " 8 May 2024 at 9:18am"
    },
{
    title: "Success",
    byline: "00000089",
    date: " 5 May 2024 at 3:02pm"
    },
    {
    title: "New claim",
    date: "by claimant on 5 May 2024 at 10:02am"
    }
]
}) }}
{% elif data['claimStatus'] == 'push-successful' %}
    {{ dwpTimeline({
items: [
{
    title: "Processing started",
    byline: "12345678",
    date: " 8 May 2024 at 9:18am"
    },
    {
    title: "Success",
    byline: "00000089",
    date: " 5 May 2024 at 3:02pm"
    },
    {
    title: "New claim",
    date: "by claimant on 5 May 2024 at 10:02am"
    }
]
}) }}
{% else %}
    {{ dwpTimeline({
    items: [
    {
        title: "New claim",
        date: "by claimant on 5 May 2024 at 10:02am"
    }
    ]
}) }}
{% endif %}