
{% extends "layout_unbranded.html" %}

{% block pageTitle %}
  NSJSA Automation Prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">Sprint 25</h1>

      <h2 class="govuk-heading-m">Jump to screen</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="register">Register</a></li>
        <li><a href="already-registered">Email address already registered</a></li>
        <li><a href="complete-registration">Partially registered returning user</a></li>
        <li><a href="locked-out">You are locked out</a></li>
        <li><a href="couldnt-match-details">Failed Findr matching</a></li>
        <li><a href="id-mismatch">AM GUID and Findr GUID do not match</a></li>
        <li><a href="idv-start-page">HMRC IDV Start Page</a></li>
        <li><a href="idv-need-more-info">HMRC IDV We Need More Info</a></li>
        <li><a href="idv-failed">Failed HMRC IDV</a></li>
      </ul>
      
    </div>
  </div>

{% endblock %}
