{% extends "layout/unbranded.html" %}
{% block pageTitle %}
    NSJSA Agent Prototypes
{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">
                Workflow Management 1b: Iteration 3
            </h1>
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Hypotheses
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <h2 class="govuk-heading-s">Hypothesis 1: TBC</h2>
                    <p>We belive that...
                    </p>
                    <p>
                        We will know this to be true when...
                    </p>
                </div>
            </details>

            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Design ideation
                    </span>
                </summary>
                <div>
                {{ govukTable({
        
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: false,
        head: [
            {
                text: "ID"
            },
            {
                text: "Version",
                classes: "govuk-!-width-one-quarter"
            },
            {
                text: "Description"
            },
            {
                html: "Status"
            }
        ],
        rows: [
        [
            {
                text: "i3.1"
            },
            {
                html: "<a href='service-centre-mi/claim-statistics'>Version 1"
                
            },
            {
                text: "Simple option for MI design. One pager, only using the table component, using the same layout as the design for contact centre manager MI."
                
            },
            {
                html: "<div class=govuk-tag--blue display=inline>Internal review"
                
            }
        ],
        [
            {
                text: "i3.2"
            },
            {
                html: "<a href='service-centre-mi/claim-statistics-overview'>Version 2"
            },
            {
                text: "Added the MOJ side navigation component, splitting content across 2 views"
            },
            {
                html: "<div class=govuk-tag--blue display=inline>Internal review"
                
            }
        ],
        [
            {
                text: "i3.3"
            },
            {
                html: "<a href='service-centre-mi/claim-statistics3'>Version 3"
            },
            {
                text: "Removed duplication of dates above each table, and updated the content and design of the left column to display the report date."
            },
            {
                html: "<div class=govuk-tag--blue display=inline>Internal review"
                
            }
          ],
        [
            {
                text: "i3.4"
            },
            {
                html: "<a href='service-centre-mi/claim-statistics4'>Version 4"
            },
            {
                text: "Optimised version, based on feedback from tech team and the NOH. Includes additional stats, and first table has been split into two separate tables"
            },
            {
                html: "<div class=govuk-tag--green padding-inline=10px>Tested"                
            }
          ]
        ]
      }) }}
            </div>
            </details>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"></div>
        </div>
        
        <div class="govuk-!-padding-bottom-8"></div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                {{ govukTable({
        caption: "Scenarios",
        captionClasses: "govuk-table__caption--m",
        firstCellIsHeader: false,
        head: [
            {
                text: "ID"
            },
            {
                text: "Scenario",
                classes: "govuk-!-width-one-third"
            },
            {
                text: "Description"
            }
        ],
        rows: [
        [
            {
                text: "sc3.1"
            },
            {
                html: "<a href='service-centre-mi/claim-statistics5?&stats=full&error=none'>View claim statistics"
                
            },
            {
                text: "View claim statistics for NOH."
                
            }
        ],
        [
            {
                text: "sc3.2"
            },
            {
                html: "<a href='service-centre-mi/claim-statistics5?&stats=no-daily&error=none'>No daily stats available (weekend data)"
                
            },
            {
                text: "Edge case scenario for data from a weekend. No ststa available for cleared or disallowed as no agents were working."
                
            }
        ],
        [
            {
                text: "sc3.3"
            },
            {
                html: "<a href='service-centre-mi/claim-statistics5?&stats=full&error=old-date'>Entered a report date older than 3 months"
                
            },
            {
                text: "Errors displayed for when a user submits a report date older than 3 months."
                
            }
        ]
        ]
      }) }}
            </div>
        </div>

           <div class="govuk-!-padding-bottom-8"></div>


        
        
    

        
    {% endblock %}