{% extends "agent/layout.html" %}

{% block pageTitle %}
Service centre - {{ serviceName }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is a new service – your <a class="govuk-link" href="/feedback">feedback</a> will help us to improve it.'
}) }}

{% endblock %}

{% block content %}

<h1 class="govuk-heading-l">
  <span class="govuk-caption-l">Service centre agent</span>
  Choose a task
</h1>

<style>
.tile--list {
  padding: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px rgba(0, 0, 0, 0.4);
  border-bottom: solid 4px rgba(0, 0, 0, 0.4);
}

.tile--list:hover {
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-bottom: solid 4px rgba(0, 0, 0, 0.2);
}

.tile:hover {
    text-decoration: underline;
    text-decoration-color: white;
  }

.tile__count {
  background-color: white;
  border-radius: 1em;
  color: #1d70b8;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 0.25em;
  margin-bottom: 0.5em;
}

.tile > .tile__title {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <a href="{{ registerUrl }}" class="tile tile--blue tile--list">
        <h2 class="tile__title">Register a claim <span class="tile__count govuk-!-font-size-14 govuk-!-font-weight-bold">{{ range(52, 200) | random }}</span></h2>
    </a>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <a href="{{ processUrl }}" class="tile tile--blue tile--list">
        <h2 class="tile__title">Process a claim <span class="tile__count govuk-!-font-size-14 govuk-!-font-weight-bold">{{ range(52, 500) | random }}</span></h2>
    </a>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <a href="{{ appointeeUrl }}" class="tile tile--blue tile--list">
        <h2 class="tile__title">Appointee review <span class="tile__count govuk-!-font-size-14 govuk-!-font-weight-bold">{{ range(5, 45) | random }}</span></h2>
    </a>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <a href="nino-search" class="tile tile--blue tile--list">
        <h2 class="tile__title">Find a claim</h2>
    </a>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


<h2 class="govuk-heading-m">Identity tasks</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <a href="{{ templateUrl }}" class="tile tile--blue tile--list">
        <h2 class="tile__title">Create an ID template <span class="tile__count govuk-!-font-size-14 govuk-!-font-weight-bold">{{ range(31, 300) | random }}</span></h2>
    </a>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <a href="{{ idUrl }}" class="tile tile--blue tile--list">
        <h2 class="tile__title">Conduct an ID check <span class="tile__count govuk-!-font-size-14 govuk-!-font-weight-bold">{{ range(31, 300) | random }}</span></h2>
    </a>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m">Escalation tasks</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <a href="{{ specialistUrl }}" class="tile tile--blue tile--list">
        <h2 class="tile__title">Specialist review <span class="tile__count govuk-!-font-size-14 govuk-!-font-weight-bold">{{ range(31, 300) | random }}</span></h2>
    </a>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <a href="{{ fraudUrl }}" class="tile tile--blue tile--list">
        <h2 class="tile__title">Fraud review <span class="tile__count govuk-!-font-size-14 govuk-!-font-weight-bold">{{ range(31, 300) | random }}</span></h2>
    </a>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h2 class="govuk-heading-m">Management information</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <a href="mi" class="tile tile--blue tile--list">
        <h2 class="tile__title">View management information</h2>
    </a>
  </div>
</div>

{% endblock %}