
{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  NSJSA Automation Prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">Sprint 26</h1>

      <h2 class="govuk-heading-m">Dashboard screens</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="i4-dashboard">View Increment 4 Dashboard</a></li>
        <li><a href="i5-dashboard">View Increment 5 Dashboard</a></li>
      </ul>

      <h2 class="govuk-heading-m">Choose task screens</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="choose-task-1">Choose task (option 1)</a></li>
        <li><a href="choose-task-2">Choose task (option 2)</a></li>
        <li><a href="choose-task-3">Choose task (option 3)</a></li>
      </ul>
      
    </div>
  </div>

{% endblock %}
