{% extends "layout/summary.html" %}

{% block pageTitle %}
  {{ serviceName }}: Application for {{ data['service-short-name']}} Customer Statement | {{ currentClaimantData.claimant.title }} {{ currentClaimantData.claimant.firstName }} {{ currentClaimantData.claimant.lastName }}: {{ currentClaimantData.claimant.nino }}
{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Initial work search interview</h1>
    {% include "includes/evidence-section.html" %}
    {% include "includes/details-id.html" %}  
    {% include "includes/forms-section.html" %}
  </div>
  <div class="govuk-grid-column-one-third dwp-print-hide">
    <h3 class="govuk-heading-s">Actions</h3>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <ul class="govuk-list">
      <li><a href="javascript:window.print();">Print cover sheet</a></li>
      <li><a href="/work-coach/4/statement">View statement</a></li>
    </ul>

    {% if data['status'] == "push failed" %}
    <p>Claim push failed</p>
    {% else %}
    {{ govukButton({
      text: "Push claim",
      href: "/work-coach/4/success"
    }) }}
    {% endif %}
  </div>
</div>

{% endblock %}
