{% extends "layouts/main.html" %}
{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Current employment</span>
        Can you choose if you’re paid for this voluntary work?
      </h1>
      <form action="choose-to-be-paid" method="post">
        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "ce-voluntary-work-can-you-choose",
          name: "ceVoluntaryWorkCanYouChoose",
          items: [{
            value: "ce-voluntary-work-can-you-choose-yes",
            text: "Yes",
            checked: checked("ceVoluntaryWorkCanYouChoose", "ce-voluntary-work-can-you-choose-yes")
          },
          {
            value: "ce-voluntary-work-can-you-choose-no",
            text: "No",
            checked: checked("ceVoluntaryWorkCanYouChoose", "ce-voluntary-work-can-you-choose-no")
          }]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}