{% extends "layouts/main.html" %}
{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Current employment</span>
        What is the phone number of your current employer? (optional)
      </h1>
      <form action="employer-contact" method="post">
        {% set jobref = "job" + data["jobnum"] + "-" %}
        {% set fieldref = jobref + "ce-telephone-number" %}
        {% call govukFieldset({
        }) %}
        {{ govukInput({
            label: {
              text: ""
            },
            id: "ce-telephone-number",
            name: fieldref,
            type: "tel",
            classes: "govuk-input--width-20",
            value: data[fieldref]
          }) }}
        {% endcall %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}