{% extends "layout_unbranded" %}
{% block pageTitle %}
    NSJSA Agent Prototypes
{% endblock %}
{% block content %}
    {% set regTag %}
    {{ govukTag({
        text: "Register",
        classes: "govuk-tag--blue"
    }) }}
    {% endset %}
    {% set proTag %}
    {{ govukTag({
        text: "Process",
        classes: "govuk-tag--purple"
    }) }}
    {% endset %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-l">
                ID at risk flag (Increment 3)
            </h1>
            <p>Introduction of the Identity at risk flag as a single CIS flag and in combination with multiple CIS flags
                <br>
                    Designs for CIS matches
                </p>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"></div>
            </div>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-three-quarters">
                    <h2 class="govuk-heading-m">Prototype scenarios</h2>
                    <h3 class="govuk-heading-s">Start page for Service Centre agents</h3>
                    <a href="nino-search" class="govuk-link govuk-body">Find a claim</a>
                    <hr class="govuk-section-break govuk-section-break--m">
                        {{ govukTable({
        caption: "Customer statement views",
        captionClasses: "govuk-table__caption--s",
        firstCellIsHeader: true,
        head: [
            {
                text: "ID"
            },
            {
                text: "Scenario"
            }
        ],
        rows: [
        [
            {
                text: "sc1"
            },
            {
                html: "<a href='view-claim?sc=sc1&claimant=ij&claimStatus=push-successful'>Single ID@risk flag</a> (Warning text)"
                
            }
        ],
        [
            {
                text: "sc2"
            },
            {
                html: "<a href='view-claim?sc=sc2&claimant=ij&claimStatus=push-successful'>Single ID@risk flag</a> (Notification banner)"
            }
          ],
        [
            {
                text: "sc3"
            },
            {
                html: "<a href='view-claim?sc=sc3&claimant=ij&claimStatus=push-successful'>ID@risk flag with multiple flags</a> (Warning text)"
            }
          ],
        [
            {
                text: "sc4"
            },
            {
                html: "<a href='view-claim?sc=sc4&claimant=ij&claimStatus=push-successful'>ID@risk flag with multiple flags</a> (Notification banner)"
            }
          ],
          [
            {
                text: "sc5"
            },
            {
                html: "<a href='view-claim?sc=sc5&claimant=ij&claimStatus=push-successful'>CIS match - single flag</a> (Warning text)"
            }
          ],
          [
            {
                text: "sc6"
            },
            {
                html: "<a href='view-claim?sc=sc6&claimant=ij&claimStatus=push-successful'>CIS match - single flag</a> (Notification banner - blue)"
            }
          ],
          [
            {
                text: "sc7"
            },
            {
                html: "<a href='view-claim?sc=sc7&claimant=ij&claimStatus=push-successful'>CIS match - single flag</a> (Notification banner - green)"
            }
          ],
            [
                {
                    text: "sc8"
                },
                {
                    html: "<a href='view-claim?sc=sc8&claimant=ij&claimStatus=push-successful'>CIS match - multiple flags</a> (Warning text)"
                }
            ],
            [
                {
                    text: "sc9"
                },
                {
                    html: "<a href='view-claim?sc=sc9&claimant=ij&claimStatus=push-successful'>CIS match - multiple flags</a> (Notification banner - blue)</a>"
                }
            ],
            [
                {
                    text: "sc10"
                },
                {
                    html: "<a href='view-claim?sc=sc10&claimant=ij&claimStatus=push-successful'>CIS match - multiple flags</a> (Notification banner - blue and green)</a>"
                }
            ]
        ]
      }) }}
                    </div>
                </div>
            {% endblock %}