{{ govukDetails({
  summaryText: "Help with identity documents",
  classes: "dwp-print-hide",
  html: "
    <h3 id='primary-identity-documents'>Primary identity documents</h3>
    <p>Examples include:</p>
    <ul>
      <li>current passport</li>
      <li>driving licence</li>
      <li>biometric residence permit</li>
      <li>certificate of naturalisation as a British citizen</li>
      <li>permanent residence card</li>
    </ul>
    <h3 id='secondary-identity-documents'>Secondary identity documents</h3>
    <p>Examples of proof of date of birth include:</p>
    <ul>
      <li>birth certificate</li>
      <li>marriage certificate</li>
      <li>NHS medical card</li>
    </ul>
    <p>Examples of proof of address include a recent:</p>
    <ul>
      <li>utility bill</li>
      <li>bank statement</li>
      <li>Council Tax bill</li>
    </ul>
  "
}) }}