
{% extends "govuk-prototype-kit/layouts/unbranded.html" %}

{% block pageTitle %}
  NSJSA Automation Prototypes
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading-l">Sprint 24</h1>

      <h2 class="govuk-heading-m">Jump to screen</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="view-claim-a">View claim with request (variation A)</a></li>
        <li><a href="view-claim-b">View claim with request (variation B)</a></li>
        <li><a href="view-claim-c">View claim with request (variation C)</a></li>
        <li><a href="view-claim-d">View claim with request (variation D)</a></li>
      </ul>
      
    </div>
  </div>

{% endblock %}
