{% extends "agent/layout.html" %}
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}
{% set claimStatus = data['claimStatus'] | replace("-", " ") | capitalize %}
{% block header %}
  {{ super() }}
  {% if data['claimant'] == 'sh' %}
    {% include 'v1_0-agent/claimants/sh/key-details.html' %}
  {% elif data['claimant'] == 'kb' %}
    {% include 'v1_0-agent/claimants/kb/key-details.html' %}
  {% elif data['claimant'] == 'ij' %}
    {% include 'v1_0-agent/claimants/ij/key-details.html' %}
  {% else %}
    <p>No claimant set.</p>
  {% endif %}
{% endblock %}
{% block content %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:history.back()"
}) }}
  <div class="govuk-grid-row dwp-print-hide">
    <div class="govuk-grid-column-two-thirds">
      {% if data['task'] == 'book' %}
        <h1 class="govuk-heading-l govuk-visually-hidden">Book appointment</h1>
        {% if data['claimant'] == 'sh' %}
          {% include 'v1_0-agent/claimants/sh/book.html' %}
        {% elif data['claimant'] == 'kb' %}
          {% include 'v1_0-agent/claimants/kb/book.html' %}
        {% elif data['claimant'] == 'ij' %}
          {% include 'v1_0-agent/claimants/ij/book.html' %}
        {% else %}
          <p>No claimant set.</p>
        {% endif %}
      {% else %}
        <h1 class="govuk-heading-l govuk-visually-hidden">Claim processing</h1>
        {% if data['guidMismatch'] == '1' %}
          {# include Simon Hamiltons nino as its default #}
          {% include 'v1_0-agent/claimants/sh/mismatch.html' %}
        {% endif %}
        {% if data['claimant'] == 'sh' %}
          {% include 'v1_0-agent/claimants/sh/customer-statement.html' %}
        {% elif data['claimant'] == 'kb' %}
          {% include 'v1_0-agent/claimants/kb/customer-statement.html' %}
        {% elif data['claimant'] == 'ij' %}
          {% include 'v1_0-agent/claimants/ij/customer-statement.html' %}
        {% else %}
          <p>No claimant set.</p>
        {% endif %}
      {% endif %}
    </div>
    <div class="govuk-grid-column-one-third">
      {% include "./actions.html" %}
    </div>
  </div>
  <a href="nino-search?show=" class="govuk-link">Return to search</a>
{% endblock %}