{% extends "layout/unbranded.html" %}
{% block pageTitle %}
  NSJSA Agent Prototypes
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Prototype</span>
        Agent UI - Apply for New Style Jobseeker&rsquo;s Allowance
      </h1>
      <span class="govuk-tag govuk-!-margin-bottom-2">Latest version</span>
      <h2 class="govuk-heading-l">Current agent journey</h2>
      <p>Worked on by: Alexandra Aggelidis/Greg Norman, Sophia Herbert/Alice Roman, Will Clarke/Luke Didsbury</p>
      {{ govukDetails({
    summaryText: "Version change details",
    html: '
    <ul class="govuk-list govuk-list--bullet">
      <li><strong>Aligned with the current live service post release R1.82.1 <br>
          [as of 2 December 2024]:</strong>
        <ul>
          <li>Introduction of Workflow Management 1a to Service Centre agents</li>
          <li>Title added to claimant names</li>
          <li>Temporarily removed CIS banners (Warning text) for Service Centre agents - planned re-introduction as
            Notification banners with WFM 1b</li>
        </ul>
      </li>
      <li><strong>Aligned with the current live service post release R1.77 <br>
          [as of 23 October 2024]:</strong>
        <ul>
          <li>Taking an assisted digital claims over the phone opens a session in a new tab for Content Centre agents and managers </li>
        </ul>
      </li>
      <li><strong>Aligned with the current live service post release R1.72 <br>
          [as of 29 August 2024]:</strong>
        <ul>
          <li>Removal of Claim information page (Evidence to check and Additional forms) from Work Coach UI</li>
          <li>Removal of CIS flags (Warning text) from Work Coach UI</li>
        </ul>
      </li>
    </ul>'
    }) }}
      {{ govukButton({
    text: "Start version 2.0",
    href: "v2_0-agent/index-current",
    isStartButton: true
    }) }}
    </div>
    <div
      class="govuk-grid-column-one-quarter govuk-!-padding-0 govuk-!-margin-right-4"
      style="border-top: 4px solid #1d71b8; float: right;">
      <h3 class="govuk-heading-s govuk-!-margin-top-2">
        Manage prototype
      </h3>
      <ul class="govuk-list govuk-!-font-size-16">
        <li>
          <a href="/manage-prototype">Start page</a>
        </li>
      </ul>
      <h3 class="govuk-heading-s govuk-!-margin-top-2">
        Latest version quick links
      </h3>
      <ul class="govuk-list govuk-!-font-size-16">
        <li>
          <a href="v2_0-agent/service-centre-agent/screens">Service Centre agent</a>
        </li>
        <li>
          <a href="v2_0-agent/contact-centre-agent/choose-task.html">Contact Centre agent</a>
        </li>
        <li>
          <a href="v2_0-agent/contact-centre-manager/choose-task.html">Contact Centre manager</a>
        </li>
        <li>
          <a href="v2_0-agent/work-coach/nino-search">Work coach</a>
        </li>
        <li>
          <a href="v2_0-agent/dfc-agent/choose-task.html">DfC agent</a>
        </li>
      </ul>
      <h3 class="govuk-heading-s govuk-!-margin-top-2">
        Previous versions
      </h3>
      <ul class="govuk-list govuk-!-font-size-16">
        <li>
          <a href="v1_1-agent/index-current">Version 1.1</a>
        </li>
        <li>
          <a href="v1_0-agent/index-current">Version 1.0</a>
        </li>
      </ul>
    </div>
  </div>
  <hr
    class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <!-- NEW FEATURES AND ITERATIONS -->
    <h2 class="govuk-heading-l">New features and iterations</h2>
    <div class="govuk-tabs" data-module="govuk-tabs">
      <h2 class="govuk-tabs__title">
        Contents
      </h2>
      <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
          <a class="govuk-tabs__tab" href="#in-test">
            Testing
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#in-dev">
            In development
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#archive">
            Archive
          </a>
        </li>
        <li class="govuk-tabs__list-item">
          <a class="govuk-tabs__tab" href="#library">
            Library
          </a>
        </li>
      </ul>
      <!-- TESTING tab -->
      <div class="govuk-tabs__panel" id="in-test">
        <!-- <h2 class="govuk-heading-l">Testing</h2> -->
        <!-- Contact Centre design review -->
          <details class="govuk-details" data-module="govuk-details"> <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Contact Centre update
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--s">Versions</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Links</th>
                  <th scope="col" class="govuk-table__header">Description</th>
                  <th scope="col" class="govuk-table__header">Status</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="border: 0;">
                    <a href="design-ideas/wt-5834-contact-centre/contact-centre-agent/choose-task">Contact centre agent</a>
                  </th>
                  <td class="govuk-table__cell" style="border: 0;">
                    The contact centre UI is moving to the new infrastructure. We can use the opportunity to fix design debt and update the
                    UI to latest components.
                  </td>
                  <td class="govuk-table__cell" style="border: 0;">
                    <span class="govuk-tag" style="white-space: nowrap">Not tested</span>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" colspan="3" style="border: 0;">
                    <strong>Team:</strong>
                    Alice Roman, Alexandra Aggelidis
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" colspan="3">
                    <strong>Date:</strong>
                    December 2024
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </details>
        <!-- Footer and Accessibility statement -->
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Footer with accessibility statement
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--s">Versions</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Links</th>
                  <th scope="col" class="govuk-table__header">Description</th>
                  <th scope="col" class="govuk-table__header">Status</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="border: 0;">
                    <a href="design-ideas/wt-5764-footer/sample-footer">Sample agent page</a>
                  </th>
                  <td class="govuk-table__cell" style="border: 0;">
                    Sample agent page with links to accessibility statement and privacy note
                  </td>
                  <td class="govuk-table__cell" style="border: 0;">
                    <span class="govuk-tag" style="white-space: nowrap">Not tested</span>
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" colspan="3" style="border: 0;">
                    <strong>Team:</strong>
                    Alice Roman, Alexandra Aggelidis
                  </td>
                </tr>
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" colspan="3">
                    <strong>Date:</strong>
                    December 2024
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </details>
        <!--MWAC banner -->
        <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              MWAC banner
            </span>
          </summary>
          <div class="govuk-details__text">
            <table class="govuk-table">
              <caption class="govuk-table__caption govuk-table__caption--s">Versions</caption>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Links</th>
                  <th scope="col" class="govuk-table__header">Description</th>
                  <th scope="col" class="govuk-table__header">Status</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__header" style="border: 0;">
                    <a href="design-ideas/wt-5033-wfm-1b/screens">Contact Centre MWAC banner</a>
                  </th>
                  <td class="govuk-table__cell" style="border: 0;">
                    WFM-1B Iteration 4
                    <br>
                      Design exploration for MWAC.
                    </td>
                    <td class="govuk-table__cell" style="border: 0;">
                      <span class="govuk-tag govuk-tag--purple govuk-!-margin-bottom-2" style="white-space: nowrap">Complete</span>
                      <span class="govuk-tag govuk-tag" style="white-space: nowrap">Not tested</span>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3" style="border: 0;">
                      <strong>Team:</strong>
                      Greg Norman, Alice Roman, Luke Didsbury
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3">
                      <strong>Date:</strong>
                      September 2024
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
          <!-- ID@risk -->
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                ID@risk
              </span>
            </summary>
            <div class="govuk-details__text">
              <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--s">Versions</caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Links</th>
                    <th scope="col" class="govuk-table__header">Description</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="border: 0;">
                      <a href="design-ideas/wt-3358-id-risk/screens">View prototype scenarios</a>
                    </th>
                    <td class="govuk-table__cell" style="border: 0;">
                      Introducing ID at risk flag, exploring Warning text and Notification banner component for single and multiple CIS flags,
                      and CIS matches.
                    </td>
                    <td class="govuk-table__cell" style="border: 0;">
                      <span class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">On hold</span>
                      <span class="govuk-tag">Tested</span>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3" style="border: 0;">
                      <strong>Team:</strong>
                      Alexandra Aggelidis, Sophia Herbert, Will Clarke
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3">
                      <strong>Date:</strong>
                      July 2023
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
          <!-- Alt-formats -->
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Alternative formats
              </span>
            </summary>
            <div class="govuk-details__text">
              <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--s">Versions</caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Links</th>
                    <th scope="col" class="govuk-table__header">Description</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="border: 0;">
                      <a href="design-ideas/alt-formats/contact-centre-agent/choose-task">Contact Centre</a>
                    </th>
                    <td class="govuk-table__cell" style="border: 0;">
                      View as Contact Centre agent (nsjsa_assistance_user).
                    </td>
                    <td class="govuk-table__cell" style="border: 0;">
                      <span class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">On hold</span>
                      <span class="govuk-tag" style="white-space: nowrap">In test</span>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="border: 0;">
                      <a href="design-ideas/alt-formats/work-coach/nino-search">Work Coach</a>
                    </th>
                    <td class="govuk-table__cell" style="border: 0;">
                      View as Work Coach (nsjsa_verification_user).
                    </td>
                    <td class="govuk-table__cell" style="border: 0;">
                      <span class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">On hold</span>
                      <span class="govuk-tag" style="white-space: nowrap">Tested</span>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="border: 0;">
                      <a href="design-ideas/alt-formats/service-centre-agent/nino-search">Service Centre</a>
                    </th>
                    <td class="govuk-table__cell" style="border: 0;">
                      View as Service Centre agent (nsjsa_decision_user).
                    </td>
                    <td class="govuk-table__cell" style="border: 0;">
                      <span class="govuk-tag govuk-tag--yellow govuk-!-margin-bottom-2">On hold</span>
                      <span class="govuk-tag" style="white-space: nowrap">In test</span>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3" style="border: 0;">
                      <strong>Team:</strong>
                      Pete Lonsdale, Andrew Donaghy, Will Clarke
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3">
                      <strong>Date:</strong>
                      2022
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
        </div>
        <!-- IN DEVELOPMENT tab -->
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="in-dev">
          <!-- <h2 class="govuk-heading-l">In development</h2> -->
          <!-- Workflow Management 1b-->
            <details class="govuk-details" data-module="govuk-details"> <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Workflow Management 1b
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">Recording of pause reasons within the agent UI for Service Centre agents.</p>
              <p class="govuk-body">View
                <a
                  href="https://dwpdigital.atlassian.net/wiki/spaces/WATG/pages/133544214747/1b+Workflow+Management"
                  class="govuk-link"
                  rel="noreferrer noopener"
                  target="_blank">Design documentation (opens in new tab)
                </a>on Confluence.
              </p>
              <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--s">Versions</caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Links</th>
                    <th scope="col" class="govuk-table__header">Description</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="border: 0;">
                      <a href="design-ideas/wt-4485-wfm-1b/screens">WFM 1b: Iteration 1</a>
                    </th>
                    <td class="govuk-table__cell" style="border: 0;">
                      Testing scenarios for pausing claims and picking up paused claims.
                    </td>
                    <td class="govuk-table__cell" style="border: 0;">
                      <span class="govuk-tag" style="white-space: nowrap">Tested</span>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3" style="border: 0;">
                      <strong>Team:</strong>
                      Alexandra Aggelidis, Mark Smith, Sophia Herbert, Luke Didsbury
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3">
                      <strong>Date:</strong>
                      April 2024
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="border: 0;">
                      <a href="design-ideas/wt-4642-wfm-1b/screens">WFM 1b: Iteration 2</a>
                    </th>
                    <td class="govuk-table__cell" style="border: 0;">
                      Iteration after 1st round of UR for pausing claims and picking up paused claims.
                    </td>
                    <td class="govuk-table__cell" style="border: 0;">
                      <span class="govuk-tag govuk-!-margin-bottom-2">Tested</span>
                      <span class="govuk-tag govuk-tag--green" style="white-space: nowrap">In Dev</span>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3" style="border: 0;">
                      <strong>Team:</strong>
                      Alexandra Aggelidis, Mark Smith, Luke Didsbury
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3">
                      <strong>Date:</strong>
                      May 2024
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="border: 0;">
                      <a href="design-ideas/wt-4877-wfm-1b/screens">WFM 1b: Iteration 3</a>
                    </th>
                    <td class="govuk-table__cell" style="border: 0;">
                      New features and scenarios for Claim statistics (MI).
                    </td>
                    <td class="govuk-table__cell" style="border: 0;">
                      <span class="govuk-tag govuk-!-margin-bottom-2">Tested</span>
                      <span class="govuk-tag govuk-tag--green" style="white-space: nowrap">In Dev</span>
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3" style="border: 0;">
                      <strong>Team:</strong>
                      Greg Norman, Alice Roman, Luke Didsbury
                    </td>
                  </tr>
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell" colspan="3">
                      <strong>Date:</strong>
                      August 2024
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
        </div>
        <!-- ARCHIVE tab -->
        <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="archive">
          <!-- <h2 class="govuk-heading-l">Archived versions</h2> -->
          <!-- Workflow Management 1a-->
            <details class="govuk-details" data-module="govuk-details"> <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Workflow Management 1a
              </span>
            </summary>
            <div class="govuk-details__text">
              <p class="govuk-body">Removal of the requirement for Contact Centre Agents to email Service Centre Agents to notify them
                that the claim has had initial checks completed and is awaiting processing. Service Centre Agents can access new claims
                via the Agent UI directly.</p>
              <p class="govuk-body">View
                <a
                  href="https://dwpdigital.atlassian.net/wiki/spaces/WATG/pages/133443617207/1a+Workflow+Management"
                  class="govuk-link"
                  rel="noreferrer noopener"
                  target="_blank">Design documentation (opens in new tab)
                </a>on Confluence.
              </p>
              <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--s">Versions</caption>
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Links
                    </th>
                    <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">
                      Description</th>
                    <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Status
                    </th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="border: 0;">
                      <a href="design-ideas/wt-3771-wfm/screens">WFM 1a: Iteration 1</a>
                    </th>
                    <td class="govuk-table__cell" style="border: 0;">
                      Testing scenarios for the new 'Get a new claim' workflow, updating a standard claim and duplicate claims.
                      <br>
                        Testing different design options for the new start screen.
                      </td>
                      <td class="govuk-table__cell" style="border: 0;">
                        <span class="govuk-tag" style="white-space: nowrap">Tested</span>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" colspan="3" style="border: 0;">
                        <strong>Team:</strong>
                        Alexandra Aggelidis, Sophia Herbert, Will Clarke
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" colspan="3">
                        <strong>Date:</strong>
                        October 2023
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header" style="border: 0;">
                        <a href="design-ideas/wt-4066-wfm/screens">WFM 1a: Iteration 2</a>
                      </th>
                      <td class="govuk-table__cell" style="border: 0;">
                        Design iteration following UR outcome.
                      </td>
                      <td class="govuk-table__cell" style="border: 0;">
                        <span class="govuk-tag govuk-!-margin-bottom-2">Tested</span>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" colspan="3" style="border: 0;">
                        <strong>Team:</strong>
                        Alexandra Aggelidis, Sophia Herbert, Will Clarke
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" colspan="3">
                        <strong>Date:</strong>
                        January 2024
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header" style="border: 0;">
                        <a href="design-ideas/wt-4709-wfm/screens">WFM 1a: Iteration 3</a>
                      </th>
                      <td class="govuk-table__cell" style="border: 0;">
                        Final designs ready for development, bringing forward insights from Workflow Management 1b iteration.
                      </td>
                      <td class="govuk-table__cell" style="border: 0;">
                        <span class="govuk-tag">Live</span>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" colspan="3" style="border: 0;">
                        <strong>Team:</strong>
                        Alexandra Aggelidis, Mark Smith, Luke Didsbury
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" colspan="3">
                        <strong>Date:</strong>
                        May 2024
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </details>
            <!-- DfC agent UI -->
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  DfC agent UI
                </span>
              </summary>
              <div class="govuk-details__text">
                <table class="govuk-table">
                  <caption class="govuk-table__caption govuk-table__caption--s">Versions</caption>
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Links</th>
                      <th scope="col" class="govuk-table__header">Description</th>
                      <th scope="col" class="govuk-table__header">Status</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header" style="border: 0;">
                        <a href="design-ideas/wt-3165-dfc/choose-task">WT-3165: DfC</a>
                      </th>
                      <td class="govuk-table__cell" style="border: 0;">
                        MVP agent UI for agents in Northern Ireland
                      </td>
                      <td class="govuk-table__cell" style="border: 0;">
                        <span class="govuk-tag">Live</span>
                        <span class="govuk-tag">Not tested</span>
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" colspan="3" style="border: 0;">
                        <strong>Team:</strong>
                        Alexandra Aggelidis, Sophia Herbert
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" colspan="3">
                        <strong>Date:</strong>
                        June 2023
                      </td>
                    </tr>
                  </tbody>
                </table>
              </details>
              <!-- Welsh flags -->
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Welsh CIS flags
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--s">Versions</caption>
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Links</th>
                        <th scope="col" class="govuk-table__header">Description</th>
                        <th scope="col" class="govuk-table__header">Status</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header" style="border: 0;">
                          <a href="design-ideas/agent-flags/screens">View prototype scenarios</a>
                        </th>
                        <td class="govuk-table__cell" style="border: 0;">
                          Presenting Welsh language requests to Service Centr agents
                        </td>
                        <td class="govuk-table__cell" style="border: 0;">
                          <span class="govuk-tag">Live</span>
                          <span class="govuk-tag">Not tested</span>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" colspan="3" style="border: 0;">
                          <strong>Team:</strong>
                          Alexandra Aggelidis, Sophia Herbert, Will Clarke
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" colspan="3">
                          <strong>Date:</strong>
                          September 2023
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
              <!-- Increments Service centre -->
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Increments
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--s">Versions</caption>
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Links</th>
                        <th scope="col" class="govuk-table__header">Description</th>
                        <th scope="col" class="govuk-table__header">Status</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header" style="border: 0;">
                          <a href="previous-work/service-centre">View prototypes</a>
                        </th>
                        <td class="govuk-table__cell" style="border: 0;">
                          HTML prototypes for service centre agents.
                        </td>
                        <td class="govuk-table__cell" style="border: 0;">
                          <span class="govuk-tag" style="white-space: nowrap">In test</span>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" colspan="3" style="border: 0;">
                          <strong>Team:</strong>
                          Automation team
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" colspan="3">
                          <strong>Date:</strong>
                          2022
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
              <!-- Backdating -->
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Backdating
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--s">Versions</caption>
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Links</th>
                        <th scope="col" class="govuk-table__header">Description</th>
                        <th scope="col" class="govuk-table__header">Status</th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header" style="border: 0;">
                          <a href="design-ideas/backdating/service-centre-agent/nino-search">View prototype</a>
                        </th>
                        <td class="govuk-table__cell" style="border: 0;">
                          View as Service Centre agent (nsjsa_decision_user).
                        </td>
                        <td class="govuk-table__cell" style="border: 0;">
                          <span class="govuk-tag" style="white-space: nowrap">Live</span>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" colspan="3" style="border: 0;">
                          <strong>Team:</strong>
                          Pete Lonsdale, Andrew Donaghy, Will Clarke
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" colspan="3">
                          <strong>Date:</strong>
                          2022
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
              <!-- Citizen OIDV -->
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    Citizen OIDV
                  </span>
                </summary>
                <div class="govuk-details__text">
                  <table class="govuk-table">
                    <caption class="govuk-table__caption govuk-table__caption--s">Versions</caption>
                    <thead class="govuk-table__head">
                      <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Links
                        </th>
                        <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">
                          Description</th>
                        <th scope="col" class="govuk-table__header" style="position: sticky; top: 0; background: white;">Status
                        </th>
                      </tr>
                    </thead>
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header" style="border: 0;">
                          <a href="citizen-latest">View prototype</a>
                        </th>
                        <td class="govuk-table__cell" style="border: 0;">
                          Latest HTML prototype for citizens online identity verification.
                        </td>
                        <td class="govuk-table__cell" style="border: 0;">
                          <span class="govuk-tag" style="white-space: nowrap">In test</span>
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" colspan="3" style="border: 0;">
                          <strong>Team:</strong>
                          Automation team
                        </td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" colspan="3">
                          <strong>Date:</strong>
                          2022
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
              <!-- VERSION 1.1 -->
              <h3 class="govuk-heading-m">
                <a href="v1_1-agent/index-current">Agent journey &ndash; Version 1.1</a>
              </h3>
              <p>Worked on by: Alexandra Aggelidis, Sophia Herbert, Will Clarke</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>Aligned with the current live service post release R1.62.1
                  <br>
                    [as of 7th December 2023]:
                    <ul>
                      <li>Added Welsh Notification banner to Work Coach and Contact Centre manager role</li>
                      <li>Updated Customer statement to reflect content changes of Abroad question</li>
                    </ul>
                  </li>
                  <li>Aligned with the current live service post release R1.62
                    <br>
                      [as of 27th November 2023]:
                      <ul>
                        <li>Added DfC agent UI as part of onboarding Northern Ireland to gov.uk NSJSA</li>
                        <li>Update Customer statement to indlude Northern Ireland in the Backdating question for travelled outside the
                          UK</li>
                      </ul>
                    </li>
                    <li>Aligned with the current live service post release R1.61.3
                      <br>
                        [as of 2nd November 2023]:
                        <ul>
                          <li>Added Welsh Notification banner to Service Centre role</li>
                        </ul>
                      </li>
                      <li>Added internal service header and footer, removed crown logo, replaced New Transport font with Helvetica
                        <br>[August 2023]
                        </li>
                      </ul>
                      <!-- VERSION 1.0 -->
                      <h3 class="govuk-heading-m">
                        <a href="v1_0-agent/index-current">Agent journey &ndash; Version 1.0</a>
                      </h3>
                      <p>Worked on by: Alexandra Aggelidis</p>
                      <ul class="govuk-list govuk-list--bullet">
                        <li>
                          Added internal service header and footer, removed crown logo, replaced New Transport font with Helvetica
                          <br>[August 2023]
                          </li>
                          <li>Aligned with the current live agent service
                            <br>[as of June 2023]
                            </li>
                          </ul>
                          <!-- Automaton Beta sprints -->
                          <p>
                            <a href="previous-work/sprints">Automation Beta sprints</a>
                            Automation beta prototypes by sprint. [2022]
                          </p>
                          <p>
                            <a href="https://nsjsa-automation-alpha.onrender.com/" class="govuk-link" rel="noreferrer noopener" target="_blank">
                              Alpha prototypes - On Render
                            </a>
                            (Opens in a new tab) A collection of prototypes from alpha.
                            <br>
                              U: jsa P: jsa [2021]
                              <br>
                                It's very slow but loads eventually
                              </p>
                              <!-- <p> <a href="complete-previous-journeys/index-previous">Complete previous journeys</a> Alpha [2018]</p> -->
                            </div>
                            <!-- LIBRARY tab -->
                            <div
                              class="govuk-tabs__panel govuk-tabs__panel--hidden" id="library">
                              <!-- <h2 class="govuk-heading-l">Library</h2> -->
                              <h2 class="govuk-heading-m">
                                <a href="library">Library</a>
                              </h2>
                              <p>A library of screen types and components used.</p>
                            </div>
                          {% endblock %}
                        </li>
                      </p>
                    </li>
                  </li>
                </li>
              </li>