{% extends "layout.html" %}
{% block pageTitle %}
  DWP - Jobseeker&rsquo;s Allowance
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-xl">Personal details</span>
        What is your National Insurance number?
      </h1>
      <form action="check-answers" method="post">
        {% call govukFieldset({
        }) %}
        {{ govukInput({
            label: {
                text: "National Insurance number",
                classes: "govuk-visually-hidden"
            },

            classes: "govuk-input--width-20",
            id: "national-insurance-number",
            name: "national-insurance-number",
            value: "RN 00 00 35 A"
        }) }}
        {{ govukDetails({
            summaryText: "I cannot find my National Insurance number",
            html: '<p>You can find your National Insurance number on your payslip, P60, or letters about tax, pensions and benefits. If you cannot find it you can <a href="https://www.gov.uk/lost-national-insurance-number">ask for a reminder through the post</a>.</p>
            '
        }) }}
        {% endcall %}
        {{ govukButton({
        text: "Update"
    }) }}
      </form>
    </div>
  </div>
{% endblock %}