{% extends "layout/summary.html" %}

{% block pageTitle %}
  {{ serviceName }}: Application for {{ data['service-short-name']}} Customer Statement | {{ currentClaimantData.claimant.title }} {{ currentClaimantData.claimant.firstName }} {{ currentClaimantData.claimant.lastName }}: {{ currentClaimantData.claimant.nino }}
{% endblock %}

{% block header %}
  {{ super() }}
  <!-- Header for print only -->
  <header class="dwp-print-header dwp-print-show">
    <div class="dwp-print-header__container govuk-width-container">
      <div class="dwp-print-header__content">
        <p class="govuk-!-margin-top-6">Application for {{ data['service-short-name']}} Customer Statement</p>
        <dl class="dwp-claimant-description">
          <dt class="dwp-claimant-description__question">Name</dt>
          <dd class="dwp-claimant-description__answer">{{ currentClaimantData.claimant.title + ' ' + currentClaimantData.claimant.firstName + ' ' + currentClaimantData.claimant.lastName }}</dd>
          <dt class="dwp-claimant-description__question">National Insurance Number</dt>
          <dd class="dwp-claimant-description__answer">{{ currentClaimantData.claimant.nino }}</dd>
          <dt class="dwp-claimant-description__question">Submitted date</dt>
          <dd class="dwp-claimant-description__answer">{{ currentClaimantData.date }}</dd>
          <dt class="dwp-claimant-description__question">Submitted language</dt>
          <dd class="dwp-claimant-description__answer">{{ currentClaimantData.language }}</dd>
        </dl>
        
      </div>
      <div class="dwp-print-header__logo">
        <img src="/public/images/logos/jcp-colour.jpg" alt="Jobcentre Plus logo" />
      </div>
    </div>
  </header>
{% endblock %}

{% block content %}
<div class="dwp-print-hide">
  <div class="govuk-grid-row govuk-!-margin-top-9">
    <div class="govuk-grid-column-one-half">
      {{ govukWarningText({
        html: "<a href='#'>UCB</a> two work coaches required for interview",
        iconFallbackText: "Warning"
      }) }}

      <h2 class="govuk-heading-m">Evidence to check</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>P45</li>
        <li>Pension statement</li>
        <li>One ‘primary’ identity document</li>
        <li>Two ‘secondary’ identity documents</li>
      </ul>

      <h2 class="govuk-heading-m">Forms to give to claimant</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>JSA5</li>
        <li>B16</li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-half govuk-align-right-from-desktop">
      {{ govukButton({
        text: "Print statement",
        href: "javascript:window.print();"
      }) }}
      <div>
        <a href="/work-coach/1/claimant-statement">View statement</a>
      </div>
    </div>
  </div>
</div>

<div class="dwp-print-show">
  <!-- About you -->
  <section class="dwp-claim-section">
    <h2 class="govuk-heading-m govuk-!-margin-top-8">Information about you</h2>
    <dl class="app-check-your-answers app-check-your-answers--long">
      {{ checkAnswersItem("When do you want your claim to start?", "25/02/2018") }}
      {{ checkAnswersItem("What is your National Insurance number?", currentClaimantData.claimant.nino) }}
      {{ checkAnswersItem("Title", currentClaimantData.claimant.title) }}
      {{ checkAnswersItem("First Name", currentClaimantData.claimant.firstName) }}
      {{ checkAnswersItem("Last Name", currentClaimantData.claimant.lastName) }}
      {{ checkAnswersItem("Marital Status", "Married or Civil Partnership") }}
      {{ checkAnswersItem("What is your date of birth?", currentClaimantData.claimant.dob) }}
      {{ checkAnswersItem("What is your address?", "1, Poundlove Road <br> Sandwell <br> West Midlands <br> WS11 5DF <br> England.") }}
      {{ checkAnswersItem("Do you want to add a different address for your post?", "No") }}
      {{ checkAnswersItem("What is your telephone number?", "07756 789789") }}
      {{ checkAnswersItem("Do you have an email we can contact you on?", "No") }}
      {{ checkAnswersItem("What's your email address?", "testemail@gmail.com") }}
    </dl>
  </section>

  <!-- Payment information -->
  <section class="dwp-claim-section dwp-print-no-break">
    <h2 class="govuk-heading-m govuk-!-margin-top-8">Your payment details</h2>
    <dl class="app-check-your-answers app-check-your-answers--long">
      {{ checkAnswersItem("Name of account holder", currentClaimantData.claimant.title + ' ' + currentClaimantData.claimant.firstName + ' ' + currentClaimantData.claimant.lastName) }}
      {{ checkAnswersItem("Sort code", "00 11 22") }}
      {{ checkAnswersItem("Account number", "01234567") }}
    </dl>
  </section>

  <!-- Additional information -->
  <section class="dwp-claim-section">
    <h2 class="govuk-heading-m govuk-!-margin-top-8">Additional information</h2>
    <dl class="app-check-your-answers app-check-your-answers--long">
      {{ checkAnswersItem("Are you waiting to hear about any other benefits?", "Yes") }}
      {{ checkAnswersItem("What other benefits are you waiting to hear about?", "ESA, Carers allowance") }}
      {{ checkAnswersItem("Have you been on jury service in the last 12 weeks?", "Yes") }}
      {{ checkAnswersItem("When did you start the jury service?", "15/02/2018") }}
      {{ checkAnswersItem("When did you finish the jury service?", "24/03/2018") }}
    </dl>
  </section>

  <!-- Current employment -->
  <section class="dwp-claim-section">
    <h2 class="govuk-heading-m govuk-!-margin-top-8">Current employment</h2>
    <dl class="app-check-your-answers app-check-your-answers--long">
      {{ checkAnswersItem("Are you in any form of work at the moment?", "Yes") }}
      {{ checkAnswersItem("Is this paid work or voluntary work?", "Paid work") }}
      {{ checkAnswersItem("How often are you paid?", "Monthly") }}
      {{ checkAnswersItem("What is your net pay?", "£230") }}
      {{ checkAnswersItem("What is the name of your current employer?", "Tescos") }}
      {{ checkAnswersItem("What is the address of your current employer?", "5-7 Hornsey St <br> Hornsey, <br> London <br> N7 8GA") }}
      {{ checkAnswersItem("What is the telephone number of your current employer?", "0247 999 9999") }}
      {{ checkAnswersItem("How many hours a week do you normally work on average?", "12") }}
      {{ checkAnswersItem("In this job are you self employed or a company director?", "Yes") }}
      {{ checkAnswersItem("Do you have another current job whether paid or voluntary?", "No") }}
    </dl>
  </section>

  <!-- Previous employment -->
  <section class="dwp-claim-section">
    <h2 class="govuk-heading-m govuk-!-margin-top-8">Previous employment</h2>
    <dl class="app-check-your-answers app-check-your-answers--long">
      {{ checkAnswersItem("Have you had a job that ended in the last 6 months?", "Yes") }}
      {{ checkAnswersItem("When did you start working for this employer?", "22/07/2018") }}
      {{ checkAnswersItem("When did you finish working for this employer?", "15/08/2018") }}
      {{ checkAnswersItem("Tell us why this job ended", "Other – I was bullied out of the job by my manager") }}
      {{ checkAnswersItem("What is the name of your previous employer?", "ABC Firm") }}
      {{ checkAnswersItem("What is the address of your previous employer?", "ABC Firm House <br> Sometown, <br> London <br> N1 2AA") }}
      {{ checkAnswersItem("What is the telephone number of your previous employer?", "0131 999 9999") }}
      {{ checkAnswersItem("Were you self employed or a company director?", "Yes") }}
      {{ checkAnswersItem("Do you expect to receive any payments because a job has ended in the last 6 months?", "Yes") }}
      {{ checkAnswersItem("Who do you expect to make this payment?", "Mr Steve Bakerfield") }}
      {{ checkAnswersItem("In the last 6 months, have you had another job?", "No") }}
      <!-- Previous employment EEA -->
      {{ checkAnswersItem("Have you worked or claimed benefit outside the United Kingdom in the last 4 years?", "No") }}
    </dl>
  </section>

  <!-- Pensions -->
  <section class="dwp-claim-section dwp-print-no-break">
    <h2 class="govuk-heading-m govuk-!-margin-top-8">Your pensions information</h2>
    <dl class="app-check-your-answers app-check-your-answers--long">
      {{ checkAnswersItem("Do you currently receive a pension or annuity?", "Yes") }}
      {{ checkAnswersItem("What is the name of your pension or annuity provider?", "Tesco") }}
      {{ checkAnswersItem("What is the address of your pension or annuity provider?", "5-7 Hornsey St <br> Hornsey, <br> London <br> N7 8GA") }}
      {{ checkAnswersItem("When did the pension or annuity start?", "09/2017") }}
      {{ checkAnswersItem("How often is your pension or annuity paid?", "Monthly") }}
      {{ checkAnswersItem("What is your net pay?", "£120") }}
      {{ checkAnswersItem("Does your pension increase in the next 6 months?", "Yes") }}
      {{ checkAnswersItem("When does the pension increase?", "December") }}
      {{ checkAnswersItem("Do you have another pension or annuity that you currently receive?", "No") }}
      {{ checkAnswersItem("Do you have a pension or annuity that you could be paid now, but have decided not to take?", "No") }}
      {{ checkAnswersItem("Do you expect to start receiving a pension or annuity in the next 6 months?", "No") }}
    </dl>
  </section>

  <!-- Education -->
  <section class="dwp-claim-section">
    <h2 class="govuk-heading-m govuk-!-margin-top-8">Education or training</h2>
    <dl class="app-check-your-answers app-check-your-answers--long">
      {{ checkAnswersItem("Have you been in education or training in the last 4 years?", "Yes") }}
      {{ checkAnswersItem("What was the name of your course or training programme?", "City & Guilds Photography") }}
      {{ checkAnswersItem("What institution did this education or training happen?", "Walsall College") }}
      {{ checkAnswersItem("How many hours per week did you attend this education or training?", "18") }}
      {{ checkAnswersItem("When did you start this education or training?", "09/06/2016") }}
      {{ checkAnswersItem("When did you finish this education or training?", "12/12/2016") }}
    </dl>
  </section>

  <!-- Availability -->
  <section class="dwp-claim-section">
    <h2 class="govuk-heading-m govuk-!-margin-top-8">Your availability</h2>
    <dl class="app-check-your-answers app-check-your-answers--long">
      {{ checkAnswersItem("Is there any reason that you won't be able to attend a job centre interview in the next 5 days?", "Yes") }}
      {{ checkAnswersItem("Tell us when and why you can't attend the job centre for an interview", "Mon 9 July (Morning) – Care responsibility <br> Friday 13 July (Afternoon) – Other – I have to be in to collect a parcel") }}
    </dl>
  </section>


  <!-- Declaration -->
  <section class="dwp-claim-section">
    <h2 class="govuk-heading-m govuk-!-margin-top-8 dwp-print-break-before">Declaration</h2>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">By submitting this claim you agree that the information you've given is complete and correct. While you're receiving {{ data['service-short-name'] }}, you'll report changes to your circumstances straight away. If you give wrong or incomplete information, or you don’t report changes, you may:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>be prosecuted</li>
            <li>need to pay a financial penalty </li>
            <li>have your {{ data['service-short-name'] }} reduced or stopped </li>
            <li>be paid too much {{ data['service-short-name'] }} and have to pay the money back.</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="dwp-claim-section">
    <h3 class="govuk-heading-m govuk-!-margin-top-8">If we pay you too much money</h3>
    <p>We have the right to recover any money paid to you, which you are not entitled to. 
    This may be because of the way the Direct Payment system works. For example, you may
    give us information, which means you are entitled to less money but we may not be able
    to change the amount we have already sent out. If this happens, we will contact you
    before we recover any money.<br>
    (Under section 16 of the Social Security Fraud Act 2001, it is an offence to fail to
    notify a change of circumstances promptly. Failure to tell us about a change in your
    circumstances promptly may result in action being taken against you.)</p>
    <p>This is my claim for {{ data['service-short-name'] }}.</p>
  </section>

  <!-- Signature -->
  <section class="dwp-claim-section">
    <div class="dwp-print-note">
      <p class="govuk-!-margin-bottom-6">I have read and understood the statement and enclosed notes.</p>
      <div class="dwp-print-note__sig">
        <p class="govuk-heading-s">Signature</p>
      </div>
      <div class="dwp-print-note__date">
        <p class="govuk-heading-s">Date <span class="dwp-print-h-spacer">/</span><span class="dwp-print-h-spacer">/</span></p>
      </div>
    </div>
  </section>
</div>

{% endblock %}