{% if
data['idRisk'] == '1'
or data['singleFraud'] == '1'
or data['multiFraud'] == '1'
or data['cis'] == '1'
or data['appointee'] == '1'
or data['northernIreland'] == '1'
or data['noReg'] == '1'
or data['build'] == '1'
or data['dupe'] == '1'
or data['niMatchCis'] == '1'
or data['nicCheck'] == '1'
or data['bsError'] == '1'
or data['note'] == '1'
or data['entNote'] == '1'
or data['FTWNote'] == '1'
%}
  <section class="dwp-print-hide">
    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        <span class="govuk-heading-m">Important</span>
      </strong>
      <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
        {% if data['northernIreland'] == '1' %}
          <li>This claim has a Northern Ireland address</li>
        {% endif %}
        {% if data['noReg'] == '1' %}
          <li>This claim has not been registered with the benefit system</li>
        {% endif %}
        {% if data['idRisk'] == '1' %}
          <li>Identity at risk check needed</li>
        {% endif %}
        {% if data['singleFraud'] == '1' %}
          <li>Claimant name does not match bank account name</li>
        {% endif %}
        {% if data['multiFraud'] == '1' %}
          <li>There are 3 other claims with the same bank details</li>
        {% endif %}
        {% if data['cis'] == '1' %}
          <li>Claimant does not match CIS record</li>
        {% elif data['appointee'] == '1' %}
          <li>Claimant has an appointee</li>
        {% endif %}
        {% if data['niMatchCis'] == '1' %}
          <li>Claimant National Insurance number (NINo) does not match the CIS record</li>
        {% endif %}
        {% if data['build'] == '1' %}
          <li>This claim has not been built in the benefit system</li>
        {% endif %}
        {% if data['dupe'] == '1' %}
          <li>There are 5 claims with this National Insurance number</li>
        {% endif %}
        {% if data['nicCheck'] == '1' %}
          <li>National Insurance contributions check needed</li>
        {% endif %}
        {% if data['bsError'] == '1' %}
          <li>Benefit system error, W6000 shown on JA091</li>
        {% endif %}
        {% if data['note'] == '1' %}
          <li>The benefit system needs a decision note</li>
        {% endif %}
        {% if data['entNote'] == '1' %}
          <li>Note required in benefit system</li>
        {% endif %}
        {% if data['FTWNote'] == '1' %}
          <li>Full time work decision note required in benefit system</li>
        {% endif %}
      </ul>
    </ul>
  </div>
</section>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible dwp-print-hide">
{% endif %}