{% extends "./view-claim.html" %}
{% block pageTitle %}
  What is your National Insurance number? - Apply for New Style Jobseeker&rsquo;s Allowance
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="check-answers" method="post" novalidate>
        {{ govukInput({
        label: {
          text: "What is the claimant's National Insurance number?",
          isPageHeading: true,
          classes: "govuk-label--l"
        },
        classes: "govuk-input--width-20",
        id: "national-insurance-number",
        name: "national-insurance-number",
    value: data['national-insurance-number']
      }) }}
        {{ govukButton({
        text: "Continue"
    }) }}
      </form>
    </div>
  </div>
{% endblock %}