{% extends "layout/base-no-search-bar.html" %}

{% block pageTitle %}
  Contact centre - {{ serviceName }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="claimstatsperiod" method="post">

        {{ govukDateInput({
          id: 'agent-performance-start',
          name: 'agentPerformanceStart',
          fieldset: {
            legend: {
              text: 'Start Date',
              isPageHeading: true,
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: [
            {
              name: 'agentPerformanceStartDay',
              value: data['agent-performance-start-day'],
              classes: 'govuk-input--width-2',
              label: 'Day'
            },
            {
              name: 'agentPerformanceStartMonth',
              value: data['agent-performance-start-month'],
              classes: 'govuk-input--width-2',
              label: 'Month'
            },
            {
              name: 'agentPerformanceStartYear',
              value: data['agent-performance-start-year'],
              classes: 'govuk-input--width-4',
              label: 'Year'
            }
          ]
          })
        }}

        {{ govukDateInput({
          id: 'agent-performance-finish',
          name: 'juryServiceFinish',
          fieldset: {
            legend: {
              text: 'End Date',
              isPageHeading: false,
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: [
            {
              name: 'agentPerformanceFinishDay',
              value: data['agent-performance-finish-day'],
              classes: 'govuk-input--width-2',
              label: 'Day'
            },
            {
              name: 'agentPerformanceFinishMonth',
              value: data['agent-performance-finish-month'],
              classes: 'govuk-input--width-2',
              label: 'Month'
            },
            {
              name: 'agentPerformanceFinishYear',
              value: data['agent-performance-finish-year'],
              classes: 'govuk-input--width-4',
              label: 'Year'
            }
          ]
          })
        }}

        {#
        {{ govukButton({
            text: "Refresh"
        }) }}
        #}

      </form>

      <input class="govuk-button" data-module="govuk-button" type="submit" name="refresh" value="Refresh" onclick="document.getElementById('id_Agent_Performance').style.display = 'block' ;">

    </div>
  </div>

{#
<p><strong>NOTE:</strong></p>
<p>
  Unsure at to what the 'Refresh' button actually does.
  Is the content that sits below already in view?
</p>
#}

<div id="id_Agent_Performance" style="display: none">
  <h2 class="govuk-heading-m govuk-!-margin-top-6">Agent Performance</h2>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  {# AGENT PERFORMANCE #}
  <table class="govuk-table">
    {# Date range entered below... #}
    <caption class="govuk-table__caption">24-08-2019 &ndash; 24-09-2019</caption>
    <thead class="govuk-table__head">
      {# Header #}
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Agent</th>
        <th scope="col" class="govuk-table__header">Success</th>
        <th scope="col" class="govuk-table__header">Fail</th>
        <th scope="col" class="govuk-table__header">Withdrawn</th>
        <th scope="col" class="govuk-table__header">Total</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {# Row number 1 #}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">John Doe</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">1</td>
        <td class="govuk-table__cell">1</td>
      </tr>
      {# Row number 2 #}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">Jane Smith</td>
        <td class="govuk-table__cell">11</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell">11</td>
      </tr>
    </tbody>
  </table>

  {% if data['mode'] === "agent"  %}
    {{ govukButton({
      text: "Update and return to application",
      href: "https://dwp-jsa-admin.herokuapp.com/work-coach/5/99"
    }) }}
    {% else %}
    {{ govukButton({
      text: "CSV",
      href: "#"
    }) }}
  {% endif %}
</div>

{% endblock %}
