{% extends "layout/unbranded-agent.html" %}
{% block pageTitle %}
  {{ serviceName }}: DWP Agent – Find a claim
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div
      class="govuk-grid-column-two-thirds">
      {# shows error message for invalid nino format #}
      {% if data['show'] == "invalid" %}
        <h1 class="govuk-heading-l">Find a claim</h1>
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#">Enter a National Insurance number in the correct format</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="govuk-form-group govuk-form-group--error">
          <label class="govuk-label" for="nino">
            Enter the claimant's National Insurance number
          </label>
          <div id="nino-hint" class="govuk-hint">
            For example, ‘QQ 12 34 56 C’.
          </div>
          <p id="nino-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>
            Enter a National Insurance number in the correct format
          </p>
          <input
            class="govuk-input govuk-input--width-20 govuk-input--error"
            id="nino"
            name="nino"
            type="text"
            aria-describedby="nino-hint nino-error"></div>
          {{ govukButton({
        text: "Find claim",
        href: "nino-search?show="
      }) }}
          <p>
            <a href="end" class="govuk-link">Go back to Choose a task</a>
          </p>
          {# shows error message when field left blank #}
        {% elif data['show'] == "blank" %}
          <h1 class="govuk-heading-l">Find a claim</h1>
          <div class="govuk-error-summary" data-module="govuk-error-summary">
            <div role="alert">
              <h2 class="govuk-error-summary__title">
                There is a problem
              </h2>
              <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                  <li>
                    <a href="#">Enter a National Insurance number</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="govuk-form-group govuk-form-group--error">
            <label class="govuk-label" for="nino">
              Enter the claimant's National Insurance number
            </label>
            <div id="nino-hint" class="govuk-hint">
              For example, ‘QQ 12 34 56 C’.
            </div>
            <p id="nino-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>
              Enter a National Insurance number
            </p>
            <input
              class="govuk-input govuk-input--width-20 govuk-input--error"
              id="nino"
              name="nino"
              type="text"
              aria-describedby="nino-hint nino-error"></div>
            {{ govukButton({
        text: "Find claim",
        href: "nino-search?show="
      }) }}
            <p>
              <a href="end" class="govuk-link">Go back to Choose a task</a>
            </p>
            {# shows when there is no claimant record against nino #}
          {% elif data['show'] == "claimant" %}
            <h1 class="govuk-heading-l">Claimant not found</h1>
            <p class="govuk-body-l">The system does not hold a record for the National Insurance Number:
              <strong>CC000049A</strong>
            </p>
            {{ govukButton({
        text: "Try again",
        href: "nino-search?show="
      }) }}
            {# shows when no more claims in the queue #}
          {% elif data['show'] == "processed" %}
            <h1 class="govuk-heading-l">There are no more claims in the queue</h1>
            <a href="end" class="govuk-link">Go back to Choose a task</a>
            {# shows when the pdf download fails #}
          {% elif data['show'] == "failed" %}
            {# happy path #}
          {% else %}
            <h1 class="govuk-heading-l">Find a claim</h1>
            <form action="nino-search" method="post">
              {{ govukInput({
          
          label: {
            text: "Enter the claimant's National Insurance number"
          },
          hint: {
            text: "For example, ‘QQ 12 34 56 C’."
          },
          classes: "govuk-input--width-20",
          id: "nino",
          name: "nino",
          attributes: {
            "autocomplete": "off"
          }
        }) }}
              {{ govukButton({
          text: "Find claim"
        }) }}
            </form>
            <a href="choose-task" class="govuk-link">Go back to Choose a task</a>
          {% endif %}
        </div>
        <!-- Prototype scenarios -->
        <div class="govuk-grid-column-one-third">
          <h2 class="govuk-heading-s govuk-!-margin-top-2">Prototype scenarios</h2>
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Input for scenarios
              </span>
            </summary>
            <div class="govuk-details__text">
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Input</th>
                    <th scope="col" class="govuk-table__header">Scenario</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">any value</th>
                    <td class="govuk-table__cell">Happy path</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">leave blank</th>
                    <td class="govuk-table__cell">NINO not found</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                      <code>invalid</code>
                    </th>
                    <td class="govuk-table__cell">NINO not valid</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                      <code>claimant</code>
                    </th>
                    <td class="govuk-table__cell">Claimant not found</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                      <code>duplicates</code>
                    </th>
                    <td class="govuk-table__cell">duplicate claim</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                      <code>processed</code>
                    </th>
                    <td class="govuk-table__cell">all claims processed</td>
                  </tr>
                  <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">
                      <code>failed</code>
                    </th>
                    <td class="govuk-table__cell">download failed</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </details>
        </div>
      </div>
    </div>
  {% endblock %}